<html>
 <body>
  <div class="style-31">
   00000498262024FYfalsehttp://fasb.org/us-gaap/2024#OtherAssetsNoncurrenthttp://fasb.org/us-gaap/2024#OtherAssetsNoncurrenthttp://fasb.org/us-gaap/2024#AccruedLiabilitiesCurrenthttp://fasb.org/us-gaap/2024#AccruedLiabilitiesCurrenthttp://fasb.org/us-gaap/2024#OtherLiabilitiesNoncurrenthttp://fasb.org/us-gaap/2024#OtherLiabilitiesNoncurrenthttp://fasb.org/us-gaap/2024#OtherAssetsNoncurrenthttp://fasb.org/us-gaap/2024#OtherAssetsNoncurrenthttp://fasb.org/us-gaap/2024#AccruedLiabilitiesCurrenthttp://fasb.org/us-gaap/2024#AccruedLiabilitiesCurrenthttp://fasb.org/us-gaap/2024#OtherLiabilitiesNoncurrenthttp://fasb.org/us-gaap/2024#OtherLiabilitiesNoncurrent
  </div>
  <div id="ibfcf79ae2d6544b5879fd3b336a5e208_1">
  </div>
  <div class="style-82">
   <div>
    <span>
     <br/>
    </span>
   </div>
  </div>
  <div class="style-93">
   <span class="style-216">
    UNITED STATES SECURITIES AND EXCHANGE COMMISSION
   </span>
  </div>
  <div class="style-169">
   <span class="style-216">
    WASHINGTON, D.C. 20549
   </span>
  </div>
  <div class="style-43">
   <span class="style-16">
    FORM 10-K
   </span>
  </div>
  <div class="style-111">
   <table class="style-366">
    <tr>
     <td class="style-4">
     </td>
     <td class="style-84">
     </td>
     <td class="style-25">
     </td>
     <td class="style-4">
     </td>
     <td class="style-214">
     </td>
     <td class="style-25">
     </td>
    </tr>
    <tr>
     <td class="style-248" colspan="3">
      <span class="style-320">
       ☒
      </span>
     </td>
     <td class="style-376" colspan="3">
      <span class="style-303">
       ANNUAL REPORT PURSUANT TO SECTION 13 OR 15(d) OF THE SECURITIES EXCHANGE ACT OF 1934
      </span>
     </td>
    </tr>
   </table>
  </div>
  <div class="style-301">
   <span class="style-3">
    For the fiscal year ended December&nbsp;31, 2024
   </span>
  </div>
  <div class="style-169">
   <span class="style-293">
    OR
   </span>
  </div>
  <div class="style-111">
   <table class="style-234">
    <tr>
     <td class="style-4">
     </td>
     <td class="style-282">
     </td>
     <td class="style-25">
     </td>
     <td class="style-4">
     </td>
     <td class="style-57">
     </td>
     <td class="style-25">
     </td>
    </tr>
    <tr>
     <td class="style-376" colspan="3">
      <span class="style-172">
       ☐
      </span>
     </td>
     <td class="style-376" colspan="3">
      <span class="style-303">
       TRANSITION REPORT PURSUANT TO SECTION 13 OR 15(d) OF THE SECURITIES EXCHANGE ACT OF 1934
      </span>
     </td>
    </tr>
   </table>
  </div>
  <div class="style-301">
   <span class="style-3">
    For the transition period from&nbsp;
   </span>
   <span class="style-110">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </span>
   <span class="style-3">
    &nbsp;to&nbsp;&nbsp;
   </span>
   <span class="style-110">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </span>
  </div>
  <div class="style-43">
   <span class="style-216">
    Commission file number 1-4797
   </span>
  </div>
  <div class="style-169">
   <span class="style-16">
    ILLINOIS TOOL WORKS INC
   </span>
   <span class="style-309">
    .
   </span>
  </div>
  <div class="style-169">
   <span class="style-293">
    (Exact Name of Registrant as Specified in its Charter)
   </span>
  </div>
  <div>
   <span class="style-184">
    &nbsp;
   </span>
  </div>
  <div class="style-111">
   <table class="style-163">
    <tr>
     <td class="style-25">
     </td>
     <td class="style-271">
     </td>
     <td class="style-25">
     </td>
     <td class="style-4">
     </td>
     <td class="style-219">
     </td>
     <td class="style-25">
     </td>
     <td class="style-4">
     </td>
     <td class="style-196">
     </td>
     <td class="style-25">
     </td>
     <td class="style-4">
     </td>
     <td class="style-196">
     </td>
     <td class="style-25">
     </td>
     <td class="style-25">
     </td>
     <td class="style-271">
     </td>
     <td class="style-25">
     </td>
     <td class="style-4">
     </td>
     <td class="style-205">
     </td>
     <td class="style-25">
     </td>
     <td class="style-4">
     </td>
     <td class="style-192">
     </td>
     <td class="style-25">
     </td>
    </tr>
    <tr>
     <td class="style-299" colspan="15">
      <span class="style-212">
       Delaware
      </span>
     </td>
     <td class="style-299" colspan="3">
      <span class="style-212">
       36-1258310
      </span>
     </td>
    </tr>
    <tr>
     <td class="style-359" colspan="15">
      <span class="style-317">
       (State or Other Jurisdiction of Incorporation or Organization)
      </span>
     </td>
     <td class="style-359" colspan="12">
      <span class="style-317">
       (I.R.S. Employer Identification No.)
      </span>
     </td>
    </tr>
    <tr>
     <td class="style-299" colspan="3">
      <span class="style-212">
       155 Harlem Avenue
      </span>
     </td>
     <td class="style-299" colspan="3">
      <span class="style-212">
       Glenview
      </span>
     </td>
     <td class="style-299" colspan="3">
      <span class="style-212">
       Illinois
      </span>
     </td>
     <td class="style-299" colspan="3">
      <span class="style-212">
       60025
      </span>
     </td>
    </tr>
    <tr>
     <td class="style-299" colspan="15">
      <span class="style-317">
       (Address of Principal Executive Offices)
      </span>
     </td>
     <td class="style-299" colspan="3">
      <span class="style-317">
       (Zip Code)
      </span>
     </td>
    </tr>
   </table>
  </div>
  <div class="style-169">
   <span class="style-62">
    Registrant's telephone number, including area code:
   </span>
   <span class="style-3">
    (847)&nbsp;724-7500
   </span>
  </div>
  <div class="style-93">
   <span class="style-3">
    Securities registered pursuant to Section&nbsp;12(b) of the Act:
   </span>
  </div>
  <div class="style-111">
   <table class="style-163">
    <tr>
     <td class="style-4">
     </td>
     <td class="style-252">
     </td>
     <td class="style-25">
     </td>
     <td class="style-4">
     </td>
     <td class="style-252">
     </td>
     <td class="style-25">
     </td>
     <td class="style-4">
     </td>
     <td class="style-131">
     </td>
     <td class="style-25">
     </td>
    </tr>
    <tr>
     <td class="style-359" colspan="12">
      <span class="style-272">
       Title of Each Class
      </span>
     </td>
     <td class="style-359" colspan="12">
      <span class="style-272">
       Trading Symbol(s)
      </span>
     </td>
     <td class="style-359" colspan="12">
      <span class="style-272">
       Name of Each Exchange on Which Registered
      </span>
     </td>
    </tr>
    <tr>
     <td class="style-299" colspan="3">
      <span class="style-266">
       Common Stock
      </span>
     </td>
     <td class="style-359" colspan="12">
      <span class="style-266">
       ITW
      </span>
     </td>
     <td class="style-299" colspan="3">
      <span class="style-266">
       New York Stock Exchange
      </span>
     </td>
    </tr>
    <tr>
     <td class="style-299" colspan="3">
      <span class="style-266">
       0.625% Euro Notes due 2027
      </span>
     </td>
     <td class="style-359" colspan="12">
      <span class="style-266">
       ITW27
      </span>
     </td>
     <td class="style-299" colspan="3">
      <span class="style-266">
       New York Stock Exchange
      </span>
     </td>
    </tr>
    <tr>
     <td class="style-299" colspan="3">
      <span class="style-266">
       3.250% Euro Notes due 2028
      </span>
     </td>
     <td class="style-359" colspan="12">
      <span class="style-266">
       ITW28
      </span>
     </td>
     <td class="style-299" colspan="3">
      <span class="style-266">
       New York Stock Exchange
      </span>
     </td>
    </tr>
    <tr>
     <td class="style-299" colspan="3">
      <span class="style-266">
       2.125% Euro Notes due 2030
      </span>
     </td>
     <td class="style-359" colspan="12">
      <span class="style-266">
       ITW30
      </span>
     </td>
     <td class="style-299" colspan="3">
      <span class="style-266">
       New York Stock Exchange
      </span>
     </td>
    </tr>
    <tr>
     <td class="style-299" colspan="3">
      <span class="style-266">
       1.00% Euro Notes due 2031
      </span>
     </td>
     <td class="style-359" colspan="12">
      <span class="style-266">
       ITW31
      </span>
     </td>
     <td class="style-299" colspan="3">
      <span class="style-266">
       New York Stock Exchange
      </span>
     </td>
    </tr>
    <tr>
     <td class="style-299" colspan="3">
      <span class="style-266">
       3.375% Euro Notes due 2032
      </span>
     </td>
     <td class="style-359" colspan="12">
      <span class="style-266">
       ITW32
      </span>
     </td>
     <td class="style-299" colspan="3">
      <span class="style-266">
       New York Stock Exchange
      </span>
     </td>
    </tr>
    <tr>
     <td class="style-299" colspan="3">
      <span class="style-266">
       3.00% Euro Notes due 2034
      </span>
     </td>
     <td class="style-359" colspan="12">
      <span class="style-266">
       ITW34
      </span>
     </td>
     <td class="style-299" colspan="3">
      <span class="style-266">
       New York Stock Exchange
      </span>
     </td>
    </tr>
   </table>
  </div>
  <div class="style-169">
   <span class="style-52">
    Securities registered pursuant to Section&nbsp;12(g) of the Act: None
   </span>
  </div>
  <div class="style-98">
   <span class="style-52">
    Indicate by check mark if the registrant is a well-known seasoned issuer, as defined in Rule 405 of the Securities Act.
   </span>
  </div>
  <div class="style-50">
   <span class="style-52">
    Yes &nbsp;&nbsp;
   </span>
   <span class="style-352">
    ☒
   </span>
   <span class="style-52">
    &nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;
   </span>
   <span class="style-352">
    ☐
   </span>
  </div>
  <div class="style-98">
   <span class="style-52">
    Indicate by check mark if the registrant is not required to file reports pursuant to Section&nbsp;13 or Section&nbsp;15(d) of the Act.
   </span>
  </div>
  <div class="style-50">
   <span class="style-52">
    Yes&nbsp;&nbsp;
   </span>
   <span class="style-352">
    ☐
   </span>
   <span class="style-52">
    &nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;
   </span>
   <span class="style-352">
    ☒
   </span>
  </div>
  <div class="style-98">
   <span class="style-52">
    Indicate by check mark whether the registrant (1)&nbsp;has filed all reports required to be filed by Section&nbsp;13 or 15(d) of the Securities Exchange Act of 1934 during the preceding 12 months (or for such shorter period that the registrant was required to file such reports), and (2)&nbsp;has been subject to such filing requirements for the past 90 days.
   </span>
  </div>
  <div class="style-169">
   <span class="style-52">
    Yes&nbsp;&nbsp;
   </span>
   <span class="style-352">
    ☒
   </span>
   <span class="style-52">
    &nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;
   </span>
   <span class="style-352">
    ☐
   </span>
  </div>
  <div class="style-98">
   <span class="style-52">
    Indicate by check mark whether the registrant has submitted electronically every Interactive Data File required to be submitted pursuant to Rule 405 of Regulation S-T during the preceding 12 months (or for such shorter period that the registrant was required to submit such files).
   </span>
  </div>
  <div class="style-50">
   <span class="style-52">
    Yes&nbsp;&nbsp;
   </span>
   <span class="style-352">
    ☒
   </span>
   <span class="style-52">
    &nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;
   </span>
   <span class="style-352">
    ☐
   </span>
  </div>
  <div class="style-181">
   <span class="style-52">
    Indicate by check mark whether the registrant is a large accelerated filer, an accelerated filer, a non-accelerated filer, a smaller reporting company, or an emerging growth company. See the definitions of "large accelerated filer," "accelerated filer," "smaller reporting company," and "emerging growth company" in Rule 12b-2 of the Exchange Act.
   </span>
  </div>
  <div class="style-111">
   <table class="style-105">
    <tr>
     <td class="style-4">
     </td>
     <td class="style-244">
     </td>
     <td class="style-25">
     </td>
     <td class="style-4">
     </td>
     <td class="style-284">
     </td>
     <td class="style-25">
     </td>
     <td class="style-4">
     </td>
     <td class="style-208">
     </td>
     <td class="style-25">
     </td>
     <td class="style-4">
     </td>
     <td class="style-190">
     </td>
     <td class="style-25">
     </td>
    </tr>
    <tr>
     <td class="style-248" colspan="3">
      <span class="style-266">
       Large accelerated filer
      </span>
     </td>
     <td class="style-248" colspan="3">
      <span class="style-331">
       ☒
      </span>
     </td>
     <td class="style-248" colspan="3">
      <span class="style-266">
       Accelerated&nbsp;filer
      </span>
     </td>
     <td class="style-248" colspan="3">
      <span class="style-331">
       ☐
      </span>
     </td>
    </tr>
    <tr>
     <td class="style-248" colspan="3">
      <span class="style-266">
       Non-accelerated filer
      </span>
     </td>
     <td class="style-248" colspan="3">
      <span class="style-331">
       ☐
      </span>
     </td>
     <td class="style-248" colspan="3">
      <span class="style-266">
       Smaller&nbsp;reporting&nbsp;company
      </span>
     </td>
     <td class="style-248" colspan="3">
      <span class="style-331">
       ☐
      </span>
     </td>
    </tr>
    <tr>
     <td class="style-248" colspan="3">
      <span class="style-266">
       Emerging growth company
      </span>
     </td>
     <td class="style-248" colspan="3">
      <span class="style-331">
       ☐
      </span>
     </td>
    </tr>
   </table>
  </div>
  <div>
   <span>
    <br/>
   </span>
  </div>
  <div>
   <span class="style-52">
    If an emerging growth company, indicate by check mark if the registrant has elected not to use the extended transition period for complying with any new or revised financial accounting standards provided pursuant to Section 13(a) of the Exchange Act.
   </span>
   <span class="style-352">
    ☐
   </span>
  </div>
  <div>
   <span>
    <br/>
   </span>
  </div>
  <div>
   <span class="style-52">
    Indicate by check mark whether the registrant has filed a report on and attestation to its management's assessment of the effectiveness of its internal control over financial reporting under Section 404(b) of the Sarbanes-Oxley Act (15 U.S.C. 7262(b)) by the registered public accounting firm that prepared or issued its audit report.  &nbsp;
   </span>
   <span class="style-352">
    ☒
   </span>
   <span class="style-52">
    &nbsp;
   </span>
  </div>
  <div>
   <span>
    <br/>
   </span>
  </div>
  <div class="style-255">
   <span class="style-52">
    If securities are registered pursuant to Section 12(b) of the Act, indicate by check mark whether the financial statements of the registrant included in the filing reflect the correction of an error to previously issued financial statements.
   </span>
   <span class="style-352">
    ☐
   </span>
  </div>
  <div class="style-255">
   <span>
    <br/>
   </span>
  </div>
  <div class="style-255">
   <span class="style-52">
    Indicate by check mark whether any of those error corrections are restatements that required a recovery analysis of incentive-based compensation received by any of the registrant&rsquo;s executive o&ffilig;cers during the relevant recovery period pursuant to &sect;240.10D-1(b).
   </span>
   <span class="style-352">
    ☐
   </span>
  </div>
  <div class="style-255">
   <span>
    <br/>
   </span>
  </div>
  <div>
   <span class="style-52">
    Indicate by check mark whether the registrant is a shell company (as defined in Rule 12b-2 of the Act).
   </span>
  </div>
  <div class="style-50">
   <span class="style-52">
    Yes&nbsp;&nbsp;
   </span>
   <span class="style-352">
    ☐
   </span>
   <span class="style-52">
    &nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;
   </span>
   <span class="style-352">
    ☒
   </span>
  </div>
  <div class="style-181">
   <span class="style-52">
    The aggregate market value of the voting stock held by non-affiliates of the registrant as of June&nbsp;30, 2024 was approximately $70.1&nbsp;billion based on the New York Stock Exchange closing sales price as of June 30, 2024.
   </span>
  </div>
  <div class="style-262">
   <span class="style-52">
    Shares of common stock outstanding at January&nbsp;31, 2025: 293.5 million.
   </span>
  </div>
  <div class="style-169">
   <span class="style-374">
    Documents Incorporated by Reference
   </span>
  </div>
  <div>
   <table class="style-105">
    <tr>
     <td class="style-4">
     </td>
     <td class="style-278">
     </td>
     <td class="style-25">
     </td>
     <td class="style-25">
     </td>
     <td class="style-344">
     </td>
     <td class="style-25">
     </td>
     <td class="style-4">
     </td>
     <td class="style-135">
     </td>
     <td class="style-25">
     </td>
    </tr>
    <tr>
     <td class="style-139" colspan="3">
      <span class="style-266">
       Portions of the 2025 Proxy Statement for Annual Meeting of Stockholders to be held on May 2, 2025.
      </span>
     </td>
     <td class="style-334" colspan="3">
      <span class="style-266">
       Part&nbsp;III
      </span>
     </td>
    </tr>
   </table>
  </div>
  <div class="style-103">
   <div class="style-147">
    <div>
     <span>
      <br/>
     </span>
    </div>
   </div>
  </div>
  <div id="ibfcf79ae2d6544b5879fd3b336a5e208_7">
  </div>
  <hr class="style-325"/>
  <div class="style-210">
   <div>
    <span>
     <br/>
    </span>
   </div>
  </div>
  <div class="style-169">
   <table class="style-221">
    <tr>
     <td class="style-4">
     </td>
     <td class="style-253">
     </td>
     <td class="style-25">
     </td>
     <td class="style-4">
     </td>
     <td class="style-350">
     </td>
     <td class="style-25">
     </td>
     <td class="style-4">
     </td>
     <td class="style-199">
     </td>
     <td class="style-25">
     </td>
    </tr>
    <tr>
     <td class="style-359" colspan="12">
      <span class="style-225">
      </span>
     </td>
    </tr>
   </table>
  </div>
 </body>
</html>
