<p>
 ITEM&nbsp;3.
 <span class="style-14">
 </span>
 <span class="style-44">
  Legal Proceedings
 </span>
</p>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span class="style-14">
  None.
 </span>
 <span class="style-113">
 </span>
 <span class="style-14">
  The Company's threshold for disclosing environmental legal proceedings involving a governmental authority where potential monetary sanctions are involved is $1 million.
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div id="ibfcf79ae2d6544b5879fd3b336a5e208_31">
</div>
<div>
 <span class="style-216">
 </span>
</div>
