<div style="height:45pt;position:relative;width:100%">
 <div style="bottom:0;position:absolute;width:100%">
  <div style="text-align:center">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
    16
   </span>
  </div>
 </div>
</div>
<hr style="page-break-after:always"/>
<div style="min-height:45pt;width:100%">
 <div>
  <span>
   <br/>
  </span>
 </div>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div style="text-align:center">
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:700;line-height:120%;text-decoration:underline">
  PART II
 </span>
</div>
<div style="text-align:center">
 <span>
  <br/>
 </span>
</div>
<div id="ibfcf79ae2d6544b5879fd3b336a5e208_37">
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:700;line-height:120%">
  ITEM&nbsp;5.
 </span>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
 </span>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-style:italic;font-weight:700;line-height:120%">
  Market For Registrant's Common Equity, Related Stockholder Matters and Issuer Purchases of Equity Securities
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:700;line-height:120%">
  Common Stock Data
 </span>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  &mdash; The Company's common stock is listed on the New York Stock Exchange under the trading symbol "ITW." There were approximately 4,199 holders of record of common stock as of January&nbsp;31, 2025. This number does not include beneficial owners of the Company's securities held in the name of nominees.
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div style="text-align:center">
 <img alt="5-Year-Chart" src="{{ url_for('static', filename='item5_graph.jpg') }}" style="height:400px;margin-bottom:5pt;vertical-align:text-bottom;width:518px"/>
</div>
<div style="text-align:center">
 <span>
  <br/>
 </span>
</div>
<div style="text-align:center;text-indent:36pt">
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:9pt;font-weight:400;line-height:120%">
  *Assumes $100 invested on December 31, 2019, including reinvestment of dividends. Fiscal years ended December 31.
 </span>
</div>
<div style="text-align:center">
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:9pt;font-weight:400;line-height:120%">
  Copyright&copy; 2025 Standard &amp; Poor's, a division of S&amp;P Global. All rights reserved.
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  The 2024 peer group consists of the following 17 public companies, consistent with the peer group included in the Company's Proxy Statement:
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div style="text-align:center">
 <table style="border-collapse:collapse;display:inline-table;margin-bottom:5pt;vertical-align:text-bottom;width:100.000%">
  <tr>
   <td style="width:1.0%">
   </td>
   <td style="width:32.233%">
   </td>
   <td style="width:0.1%">
   </td>
   <td style="width:1.0%">
   </td>
   <td style="width:32.382%">
   </td>
   <td style="width:0.1%">
   </td>
   <td style="width:1.0%">
   </td>
   <td style="width:32.085%">
   </td>
   <td style="width:0.1%">
   </td>
  </tr>
  <tr>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     3M Company
    </span>
   </td>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     Ecolab Inc.
    </span>
   </td>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     Parker-Hannifin Corporation
    </span>
   </td>
  </tr>
  <tr>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     Caterpillar Inc.
    </span>
   </td>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     Emerson Electric Co.
    </span>
   </td>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     PPG Industries, Inc.
    </span>
   </td>
  </tr>
  <tr>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     Cummins Inc.
    </span>
   </td>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     Fortive Corporation
    </span>
   </td>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     Rockwell Automation, Inc.
    </span>
   </td>
  </tr>
  <tr>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     Deere &amp; Company
    </span>
   </td>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     General Dynamics Corporation
    </span>
   </td>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     Stanley Black &amp; Decker, Inc.
    </span>
   </td>
  </tr>
  <tr>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     Dover Corporation
    </span>
   </td>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     Honeywell International Inc.
    </span>
   </td>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     Trane Technologies plc
    </span>
   </td>
  </tr>
  <tr>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     Eaton Corporation plc
    </span>
   </td>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     Johnson Controls International plc
    </span>
   </td>
   <td colspan="3" style="padding:0 1pt">
   </td>
  </tr>
 </table>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  The Compensation Committee of the Board of Directors of the Company reviews the peer group annually and from time to time changes the composition of the peer group where changes are appropriate. There were no changes in the Company's peer group in 2024.
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div style="height:45pt;position:relative;width:100%">
 <div style="bottom:0;position:absolute;width:100%">
  <div style="text-align:center">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
    17
   </span>
  </div>
 </div>
</div>
<hr style="page-break-after:always"/>
<div style="min-height:45pt;width:100%">
 <div>
  <span>
   <br/>
  </span>
 </div>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:700;line-height:120%">
  Repurchases of Common Stock
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  On August 3, 2018, the Company announced a stock repurchase program which provided for the repurchase of up to $3.0 billion of the Company's common stock over an open-ended period of time (the "2018 Program"). The 2018 Program was completed in the first quarter of 2022.
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  On May 7, 2021, the Company announced a stock repurchase program which provided for the repurchase of up to an additional $3.0 billion of the Company's common stock over an open-ended period of time (the "2021 Program"). The 2021 Program was completed in the fourth quarter of 2023.
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  On August 4, 2023, the Company announced a stock repurchase program which provides for the repurchase of up to an additional $5.0 billion of the Company's common stock over an open-ended period of time (the "2023 Program"). As of December&nbsp;31, 2024, there were approximately $3.5&nbsp;billion of authorized repurchases remaining under the 2023 Program.
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  Share repurchase activity under the Company's share repurchase programs for the fourth quarter of 2024 was as follows:
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div style="margin-top:5pt;text-align:center">
 <table style="border-collapse:collapse;display:inline-table;margin-bottom:5pt;vertical-align:text-bottom;width:99.702%">
  <tr>
   <td style="width:1.0%">
   </td>
   <td style="width:18.750%">
   </td>
   <td style="width:0.1%">
   </td>
   <td style="width:1.0%">
   </td>
   <td style="width:15.168%">
   </td>
   <td style="width:0.1%">
   </td>
   <td style="width:0.1%">
   </td>
   <td style="width:0.546%">
   </td>
   <td style="width:0.1%">
   </td>
   <td style="width:1.0%">
   </td>
   <td style="width:12.183%">
   </td>
   <td style="width:0.1%">
   </td>
   <td style="width:0.1%">
   </td>
   <td style="width:0.546%">
   </td>
   <td style="width:0.1%">
   </td>
   <td style="width:1.0%">
   </td>
   <td style="width:23.974%">
   </td>
   <td style="width:0.1%">
   </td>
   <td style="width:0.1%">
   </td>
   <td style="width:0.546%">
   </td>
   <td style="width:0.1%">
   </td>
   <td style="width:1.0%">
   </td>
   <td style="width:22.187%">
   </td>
   <td style="width:0.1%">
   </td>
  </tr>
  <tr>
   <td colspan="6" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:8pt;font-weight:700;line-height:100%">
     In millions except per share amounts
    </span>
   </td>
   <td colspan="3" style="padding:0 1pt">
   </td>
   <td colspan="3" style="padding:0 1pt">
   </td>
   <td colspan="3" style="padding:0 1pt">
   </td>
   <td colspan="3" style="padding:0 1pt">
   </td>
   <td colspan="3" style="padding:0 1pt">
   </td>
   <td colspan="3" style="padding:0 1pt">
   </td>
  </tr>
  <tr>
   <td colspan="3" style="padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:9pt;font-weight:700;line-height:100%">
     Period
    </span>
   </td>
   <td colspan="3" style="padding:2px 1pt;text-align:center;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:9pt;font-weight:700;line-height:100%">
     Total Number of Shares Purchased
    </span>
   </td>
   <td colspan="3" style="padding:0 1pt">
   </td>
   <td colspan="3" style="padding:2px 1pt;text-align:center;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:9pt;font-weight:700;line-height:100%">
     Average Price Paid Per Share
    </span>
   </td>
   <td colspan="3" style="padding:0 1pt">
   </td>
   <td colspan="3" style="padding:2px 1pt;text-align:center;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:9pt;font-weight:700;line-height:100%">
     Total Number of Shares Purchased as Part of Publicly Announced Programs
    </span>
   </td>
   <td colspan="3" style="padding:0 1pt">
   </td>
   <td colspan="3" style="padding:2px 1pt;text-align:center;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:9pt;font-weight:700;line-height:100%">
     Maximum Value of Shares That May Yet Be Purchased Under Programs
    </span>
   </td>
  </tr>
  <tr>
   <td colspan="3" style="background-color:#cceeff;border-top:0.5pt solid #000;padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     October 2024
    </span>
   </td>
   <td colspan="2" style="background-color:#cceeff;border-top:0.5pt solid #000;padding:2px 0 2px 1pt;text-align:right;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     0.5&nbsp;
    </span>
   </td>
   <td style="background-color:#cceeff;border-top:0.5pt solid #000;padding:2px 1pt 2px 0;text-align:right;vertical-align:bottom">
   </td>
   <td colspan="3" style="background-color:#cceeff;padding:0 1pt">
   </td>
   <td style="background-color:#cceeff;border-top:0.5pt solid #000;padding:2px 0 2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     $
    </span>
   </td>
   <td style="background-color:#cceeff;border-top:0.5pt solid #000;padding:2px 0;text-align:right;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     258.91&nbsp;
    </span>
   </td>
   <td style="background-color:#cceeff;border-top:0.5pt solid #000;padding:2px 1pt 2px 0;text-align:right;vertical-align:bottom">
   </td>
   <td colspan="3" style="background-color:#cceeff;padding:0 1pt">
   </td>
   <td colspan="2" style="background-color:#cceeff;border-top:0.5pt solid #000;padding:2px 0 2px 1pt;text-align:right;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     0.5&nbsp;
    </span>
   </td>
   <td style="background-color:#cceeff;border-top:0.5pt solid #000;padding:2px 1pt 2px 0;text-align:right;vertical-align:bottom">
   </td>
   <td colspan="3" style="background-color:#cceeff;padding:0 1pt">
   </td>
   <td style="background-color:#cceeff;border-top:0.5pt solid #000;padding:2px 0 2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     $
    </span>
   </td>
   <td style="background-color:#cceeff;border-top:0.5pt solid #000;padding:2px 0;text-align:right;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     3,721&nbsp;
    </span>
   </td>
   <td style="background-color:#cceeff;border-top:0.5pt solid #000;padding:2px 1pt 2px 0;text-align:right;vertical-align:bottom">
   </td>
  </tr>
  <tr>
   <td colspan="3" style="background-color:#ffffff;padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     November 2024
    </span>
   </td>
   <td colspan="2" style="background-color:#ffffff;padding:2px 0 2px 1pt;text-align:right;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     0.5&nbsp;
    </span>
   </td>
   <td style="background-color:#ffffff;padding:2px 1pt 2px 0;text-align:right;vertical-align:bottom">
   </td>
   <td colspan="3" style="background-color:#ffffff;padding:0 1pt">
   </td>
   <td style="background-color:#ffffff;padding:2px 0 2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     $
    </span>
   </td>
   <td style="background-color:#ffffff;padding:2px 0;text-align:right;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     271.32&nbsp;
    </span>
   </td>
   <td style="background-color:#ffffff;padding:2px 1pt 2px 0;text-align:right;vertical-align:bottom">
   </td>
   <td colspan="3" style="background-color:#ffffff;padding:0 1pt">
   </td>
   <td colspan="2" style="background-color:#ffffff;padding:2px 0 2px 1pt;text-align:right;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     0.5&nbsp;
    </span>
   </td>
   <td style="background-color:#ffffff;padding:2px 1pt 2px 0;text-align:right;vertical-align:bottom">
   </td>
   <td colspan="3" style="background-color:#ffffff;padding:0 1pt">
   </td>
   <td style="background-color:#ffffff;padding:2px 0 2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     $
    </span>
   </td>
   <td style="background-color:#ffffff;padding:2px 0;text-align:right;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     3,597&nbsp;
    </span>
   </td>
   <td style="background-color:#ffffff;padding:2px 1pt 2px 0;text-align:right;vertical-align:bottom">
   </td>
  </tr>
  <tr>
   <td colspan="3" style="background-color:#cceeff;padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     December 2024
    </span>
   </td>
   <td colspan="2" style="background-color:#cceeff;padding:2px 0 2px 1pt;text-align:right;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     0.4&nbsp;
    </span>
   </td>
   <td style="background-color:#cceeff;padding:2px 1pt 2px 0;text-align:right;vertical-align:bottom">
   </td>
   <td colspan="3" style="background-color:#cceeff;padding:0 1pt">
   </td>
   <td style="background-color:#cceeff;padding:2px 0 2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     $
    </span>
   </td>
   <td style="background-color:#cceeff;padding:2px 0;text-align:right;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     269.58&nbsp;
    </span>
   </td>
   <td style="background-color:#cceeff;padding:2px 1pt 2px 0;text-align:right;vertical-align:bottom">
   </td>
   <td colspan="3" style="background-color:#cceeff;padding:0 1pt">
   </td>
   <td colspan="2" style="background-color:#cceeff;padding:2px 0 2px 1pt;text-align:right;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     0.4&nbsp;
    </span>
   </td>
   <td style="background-color:#cceeff;padding:2px 1pt 2px 0;text-align:right;vertical-align:bottom">
   </td>
   <td colspan="3" style="background-color:#cceeff;padding:0 1pt">
   </td>
   <td style="background-color:#cceeff;padding:2px 0 2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     $
    </span>
   </td>
   <td style="background-color:#cceeff;padding:2px 0;text-align:right;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     3,490&nbsp;
    </span>
   </td>
   <td style="background-color:#cceeff;padding:2px 1pt 2px 0;text-align:right;vertical-align:bottom">
   </td>
  </tr>
  <tr>
   <td colspan="3" style="background-color:#ffffff;padding:2px 1pt;text-align:left;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     Total
    </span>
   </td>
   <td colspan="2" style="background-color:#ffffff;border-bottom:3pt double #000000;border-top:0.5pt solid #000;padding:2px 0 2px 1pt;text-align:right;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     1.4&nbsp;
    </span>
   </td>
   <td style="background-color:#ffffff;border-bottom:3pt double #000000;border-top:0.5pt solid #000;padding:2px 1pt 2px 0;text-align:right;vertical-align:bottom">
   </td>
   <td colspan="3" style="background-color:#ffffff;padding:0 1pt">
   </td>
   <td colspan="3" style="background-color:#ffffff;padding:0 1pt">
   </td>
   <td colspan="3" style="background-color:#ffffff;padding:0 1pt">
   </td>
   <td colspan="2" style="background-color:#ffffff;border-bottom:3pt double #000000;border-top:0.5pt solid #000;padding:2px 0 2px 1pt;text-align:right;vertical-align:bottom">
    <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">
     1.4&nbsp;
    </span>
   </td>
   <td style="background-color:#ffffff;border-bottom:3pt double #000000;border-top:0.5pt solid #000;padding:2px 1pt 2px 0;text-align:right;vertical-align:bottom">
   </td>
   <td colspan="3" style="background-color:#ffffff;padding:0 1pt">
   </td>
   <td colspan="3" style="background-color:#ffffff;padding:0 1pt">
   </td>
  </tr>
 </table>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:112%">
 </span>
</div>
<div>
</div>
