<div id="ibfcf79ae2d6544b5879fd3b336a5e208_22">
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:700;line-height:120%">
  ITEM 1C.
 </span>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
 </span>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-style:italic;font-weight:700;line-height:120%">
  Cybersecurity
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:700;line-height:120%">
  Risk Management and Strategy
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  The Company utilizes information systems to support a variety of business processes and activities in its decentralized operations. These systems may be subject to cyber-based attacks or breaches. For additional information related to the risks associated with cybersecurity threats, refer to the Business and Operational Risks section of Item 1A. Risk Factors.
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  <ix:nonnumeric contextref="c-1" escape="true" id="f-55" name="cyd:CybersecurityRiskManagementProcessesIntegratedTextBlock">
   <ix:nonnumeric contextref="c-1" format="ixt:fixed-true" id="f-56" name="cyd:CybersecurityRiskManagementProcessesIntegratedFlag">
    Cybersecurity risk management is part of the Company's global enterprise risk management program
   </ix:nonnumeric>
   . In order to manage the risks associated with cybersecurity threats, the Company has implemented a risk-based cybersecurity program consisting of processes, technologies, and controls to assess, identify and manage material risks from cybersecurity threats.
  </ix:nonnumeric>
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  A key part of the Company&rsquo;s cybersecurity program is the ITW Cybersecurity Framework, which is based on the National Institute of Standards and Technology&rsquo;s Cybersecurity Framework ("CSF") and is designed to protect the Company&rsquo;s data through rapid identification of and effective response to cybersecurity incidents. The Company&rsquo;s framework includes detailed processes and controls related to backup and recovery, response planning, awareness, vulnerability management and endpoint protection as well as cybersecurity requirements for third-party service providers.
  <ix:nonnumeric contextref="c-1" format="ixt:fixed-true" id="f-57" name="cyd:CybersecurityRiskManagementThirdPartyEngagedFlag">
   <ix:nonnumeric contextref="c-1" format="ixt:fixed-true" id="f-58" name="cyd:CybersecurityRiskThirdPartyOversightAndIdentificationProcessesFlag">
    The framework is regularly reviewed, assessed, and updated based on input from third party specialists, threat intelligence firms and CSF standard updates.
   </ix:nonnumeric>
  </ix:nonnumeric>
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:112%">
  The ITW Cybersecurity Framework includes a number of activities designed to enhance the Company's resiliency related to cyber-related risks and ensure that the Company's information systems are secure from material cybersecurity threats. These activities include the following, among others:
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div style="padding-left:36pt;text-indent:-18pt">
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  &bull;
 </span>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%;padding-left:14.5pt">
  Annual cybersecurity training;
 </span>
</div>
<div style="padding-left:36pt;text-indent:-18pt">
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  &bull;
 </span>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%;padding-left:14.5pt">
  Quarterly phish simulation testing;
 </span>
</div>
<div style="padding-left:36pt;text-indent:-18pt">
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  &bull;
 </span>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%;padding-left:14.5pt">
  Ongoing response planning and tabletop exercises;
 </span>
</div>
<div style="padding-left:36pt;text-indent:-18pt">
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  &bull;
 </span>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%;padding-left:14.5pt">
  Network/endpoint protection, monitoring and response;
 </span>
</div>
<div style="padding-left:36pt;text-indent:-18pt">
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  &bull;
 </span>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%;padding-left:14.5pt">
  Vulnerability management and
 </span>
</div>
<div style="padding-left:36pt;text-indent:-18pt">
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  &bull;
 </span>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%;padding-left:14.5pt">
  Backup and recovery testing.
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  <ix:nonnumeric contextref="c-1" format="ixt:fixed-false" id="f-59" name="cyd:CybersecurityRiskMateriallyAffectedOrReasonablyLikelyToMateriallyAffectRegistrantFlag">
   While the Company's information systems are exposed to cybersecurity threats and risks, the Company has not experienced any material cybersecurity incidents during 2024, 2023 or 2022, and any costs or operational impacts related to cybersecurity incidents were immaterial during this period.
  </ix:nonnumeric>
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:700;line-height:120%">
  Governance
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  ITW's Board of Directors is responsible for providing oversight and strategic guidance to management to support the long-term interests of the Company's stakeholders. As part of this responsibility, the Board of Directors annually reviews and evaluates the Company's cybersecurity policies and practices with respect to risk management as well as steps taken by management to monitor and control such exposures.
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  In addition to oversight by the Board of Directors, several cross-functional management teams focus on cybersecurity risk and report any identified cybersecurity incidents. Each of the Company's divisions has a Division Cyber Incident Response Team and protocols in place to communicate cybersecurity incidents to a central Cyber Incident Response Team. The Cyber Incident Response Team is led by the
  <ix:nonnumeric contextref="c-1" format="ixt:fixed-true" id="f-65" name="cyd:CybersecurityRiskManagementPositionsOrCommitteesResponsibleFlag">
   Chief Information Security Officer
  </ix:nonnumeric>
  ("CISO") and is responsible for the initial assessment of cybersecurity incidents and oversight of any incident response.
 </span>
</div>
<div style="height:45pt;position:relative;width:100%">
 <div style="bottom:0;position:absolute;width:100%">
  <div style="text-align:center">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
    15
   </span>
  </div>
 </div>
</div>
<hr style="page-break-after:always"/>
<div style="min-height:45pt;width:100%">
 <div>
  <span>
   <br/>
  </span>
 </div>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  <ix:nonnumeric contextref="c-1" escape="true" id="f-66" name="cyd:CybersecurityRiskManagementExpertiseOfManagementResponsibleTextBlock">
   The Company&rsquo;s cybersecurity program is overseen by a dedicated global team of cybersecurity professionals, led by the CISO who brings over 20 years of information technology and cybersecurity leadership experience and holds the Certified Information Security Manager ("CISM") designation.
  </ix:nonnumeric>
  The CISO reports directly to the Chief Information Officer ("CIO") and is responsible for leading the execution of the Company's cybersecurity strategy.
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
<div>
 <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%">
  On a quarterly basis, or sooner if appropriate, cybersecurity incidents are summarized and reported to the Cybersecurity Governance Committee comprised of senior executives. Additionally, the
  <ix:nonnumeric contextref="c-1" format="ixt:fixed-true" id="f-68" name="cyd:CybersecurityRiskManagementPositionsOrCommitteesResponsibleReportToBoardFlag">
   Audit Committee of the Board of Directors
  </ix:nonnumeric>
  receives quarterly cybersecurity reports from senior management which cover any identified cybersecurity incidents, results of third party vulnerability testing, and key developments in policies and practices during the quarter.
 </span>
</div>
<div>
 <span>
  <br/>
 </span>
</div>
