<h2 class="section-heading">Information About Our Executive Officers</h2>

<p class="body-text">
  The executive officers of the Company serve at the discretion of the Board of Directors. Set forth below is information regarding the principal occupations and employment and business experience over the past five years for each executive officer. Unless otherwise stated, employment is by the Company.
</p>

<p class="body-text">
  Executive Officers of the Company as of February&nbsp;14, 2025 were as follows:
</p>

<div style="text-align:center">
<table style="border-collapse:collapse;display:inline-table;margin-bottom:5pt;vertical-align:text-bottom;width:501.75pt">
 <tr>
  <td style="width:1.0pt"></td>
  <td style="width:106.00pt"></td>
  <td style="width:1.0pt"></td>
  <td style="width:1.0pt"></td>
  <td style="width:19.00pt"></td>
  <td style="width:1.0pt"></td>
  <td style="width:1.0pt"></td>
  <td style="width:157.00pt"></td>
  <td style="width:1.0pt"></td>
  <td style="width:1.0pt"></td>
  <td style="width:47.50pt"></td>
  <td style="width:1.0pt"></td>
  <td style="width:1.0pt"></td>
  <td style="width:162.25pt"></td>
  <td style="width:1.0pt"></td>
 </tr>
 <tr style="height:32pt">
  <td colspan="3" class="table-cell table-header" style="text-align:center;vertical-align:bottom">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:9pt;font-weight:700;line-height:100%">Name</span>
  </td>
  <td colspan="3" class="table-cell table-header" style="text-align:center;vertical-align:bottom">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:9pt;font-weight:700;line-height:100%">Age</span>
  </td>
  <td colspan="3" class="table-cell table-header" style="text-align:center;vertical-align:bottom">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:9pt;font-weight:700;line-height:100%">Present Position</span>
  </td>
  <td colspan="3" class="table-cell table-header" style="text-align:center;vertical-align:bottom">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:9pt;font-weight:700;line-height:100%">First Year in Present Position</span>
  </td>
  <td colspan="3" class="table-cell table-header" style="text-align:center;vertical-align:bottom">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:9pt;font-weight:700;line-height:100%">Other Positions Held During 2020-2024</span>
  </td>
 </tr>
 <tr style="height:15pt">
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Christopher A. O'Herlihy</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">61</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">President &amp; Chief Executive Officer</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">2024</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Vice Chairman 2015-2023.</span>
  </td>
 </tr>
 <tr style="height:24pt">
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Axel R.J. Beck</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">59</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Executive Vice President</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">2020</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Group President, food equipment businesses, 2016-2020.</span>
  </td>
 </tr>
 <tr style="height:15pt">
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">T. Kenneth Escoe</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">49</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Executive Vice President</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">2020</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top"></td>
 </tr>
 <tr style="height:24pt">
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Javier Gracia Carbonell</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">52</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Executive Vice President</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">2022</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Group President, construction businesses, 2020-2021.</span>
  </td>
 </tr>
 <tr style="height:24pt">
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Patricia A. Hartzell</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">48</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Executive Vice President</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">2022</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Group President, test &amp; measurement and electronics businesses, 2020-2021.</span>
  </td>
 </tr>
 <tr style="height:24pt">
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Michael M. Larsen</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">56</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Senior Vice President &amp; Chief Financial Officer</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">2013</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top"></td>
 </tr>
 <tr style="height:24pt">
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Mary K. Lawler</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">59</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Senior Vice President &amp; Chief Human Resources Officer</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">2014</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top"></td>
 </tr>
 <tr style="height:24pt">
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Randall J. Scheuneman</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">57</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Vice President &amp; Chief Accounting Officer</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">2009</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top"></td>
 </tr>
 <tr style="height:24pt">
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Jennifer K. Schott</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">51</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Senior Vice President, General Counsel &amp; Secretary</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">2021</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Deputy General Counsel &amp; Assistant Secretary, Caterpillar, Inc., 2019-2021.</span>
  </td>
 </tr>
 <tr style="height:45pt">
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Guilherme Silva</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">49</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Executive Vice President</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">2024</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Group President, polymers &amp; fluids businesses, 2020-2021; Group President, test &amp; measurement and electronics businesses, 2021-2023.</span>
  </td>
 </tr>
 <tr style="height:15pt">
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Sharon A. Szafranski</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">58</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Executive Vice President</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">2020</span>
  </td>
  <td colspan="3" class="table-cell table-row-primary" style="text-align:left;vertical-align:top"></td>
 </tr>
 <tr style="height:54pt">
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Mark A. Thibeault</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">41</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Executive Vice President</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:center;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">2025</span>
  </td>
  <td colspan="3" class="table-cell table-row-alt" style="text-align:left;vertical-align:top">
   <span style="color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:100%">Vice President/General Manager, test &amp; measurement and electronics businesses, 2019-2022; Group President, test &amp; measurement and electronics businesses, 2022-2024.</span>
  </td>
 </tr>
</table>
</div>
