<h4 class="section-heading section-heading-underline">Strategic Transaction Risks</h4>

<p class="heading-1">
  The Company's acquisition of businesses could negatively impact its profitability and returns.
</p>

<p class="body-text vertical-padding">
  The Company has engaged in various acquisitions in the past and could choose to acquire additional businesses in the future. Acquisitions involve a number of risks and financial, accounting, managerial and operational challenges, including the following, any of which could adversely affect the Company's profitability and returns:
</p>

<ul class="list">
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">The acquired business' inability to adapt to the ITW Business Model or otherwise perform in accordance with the Company's anticipated results or timetable, could cause it to under perform relative to the Company's expectations and the price paid for it.</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">The acquired business could cause the Company's financial results to differ from expectations in any given fiscal period, or over the long term.</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">Acquisition-related earnings charges could adversely impact operating results.</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">The acquired business could place unanticipated demands on the Company's management, operational resources and financial and internal control systems.</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">The Company may assume unknown liabilities, known contingent liabilities that become realized or known liabilities that prove greater than anticipated, internal control deficiencies or exposure to regulatory sanctions resulting from the activities of the acquired business. The realization of any of these liabilities or deficiencies may increase the Company's expenses, adversely affect its financial position or cause noncompliance with its financial reporting obligations.</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">As a result of acquisitions, the Company has in the past recorded significant goodwill and other identifiable intangible assets on its balance sheet. If the Company is not able to realize the value of these assets, it may recognize charges relating to the impairment of these assets.</span>
  </li>
</ul>

<p class="heading-1">
  Divestitures pose the risk of retained liabilities that could adversely affect the Company's financial results.
</p>

<p class="body-text vertical-padding">
  The Company has had significant divestiture activity in the past in accordance with its portfolio management initiative, and it divested one business in the first quarter of 2023 as it continues portfolio refinements to maintain portfolio discipline. The Company has retained certain liabilities directly or through indemnifications made to the buyers against known and unknown contingent liabilities such as lawsuits, tax liabilities, product liability claims and environmental matters, which could adversely affect the Company's financial results.
</p>
