<h3 class="item-heading">
  <span class="item-number">ITEM&nbsp;9.</span>
  <span class="item-title">Changes in and Disagreements With Accountants on Accounting and Financial Disclosure</span>
</h3>

<p class="body-text">
  None.
</p>

<h3 class="item-heading">
  <span class="item-number">ITEM&nbsp;9A.</span>
  <span class="item-title">Controls and Procedures</span>
</h3>

<h4 class="section-heading">Controls and Procedures</h4>

<p class="body-text">
  The Company's management, with the participation of the Company's President&nbsp;&amp; Chief Executive Officer and Senior Vice President&nbsp;&amp; Chief Financial Officer, has evaluated the effectiveness of the Company's disclosure controls and procedures (as defined in Exchange Act Rule 13a-15(e)) as of December&nbsp;31, 2024. Based on such evaluation, the Company's President&nbsp;&amp; Chief Executive Officer and Senior Vice President&nbsp;&amp; Chief Financial Officer have concluded that, as of December&nbsp;31, 2024, the Company's disclosure controls and procedures were effective.
</p>

<h4 class="section-heading">Management Report on Internal Control over Financial Reporting</h4>

<p class="body-text">
  The Management Report on Internal Control over Financial Reporting and the Report of Independent Registered Public Accounting Firm are found in Item&nbsp;8. Financial Statements and Supplementary Data.
</p>

<p class="body-text">
  In connection with the evaluation by management, including the Company's President&nbsp;&amp; Chief Executive Officer and Senior Vice President&nbsp;&amp; Chief Financial Officer, no changes in the Company's internal control over financial reporting (as defined in Exchange Act Rule 13a-15(f)) during the quarter ended December&nbsp;31, 2024 were identified that have materially affected or are reasonably likely to materially affect the Company's internal control over financial reporting.
</p>

<h3 class="item-heading">
  <span class="item-number">ITEM&nbsp;9B.</span>
  <span class="item-title">Other Information</span>
</h3>

<p class="body-text">
  None.
</p>

<h3 class="item-heading">
  <span class="item-number">ITEM&nbsp;9C.</span>
  <span class="item-title">Disclosure Regarding Foreign Jurisdictions that Prevent Inspections</span>
</h3>

<p class="body-text">
  None.
</p>

<div class="page-number">
  <div class="page-number-content">80</div>
</div>
<hr class="page-break page-break-line"/>