<h2 class="part-heading">PART I</h2>

<h3 class="item-heading">
  <span class="item-number">ITEM 1.</span>
  <span class="item-title">Business</span>
</h3>

<h4 class="section-heading">General</h4>

<p class="body-text">
  Illinois Tool Works Inc. (the "Company" or "ITW") was founded in 1912 and incorporated in 1915. The Company's ticker symbol is ITW. The Company is a global manufacturer of a diversified range of industrial products and equipment with 86 divisions in 51 countries. As of December 31, 2024, the Company employed approximately 44,000 people.
</p>

<p class="body-text">
  The Company's operations are organized and managed based on similar product offerings and end markets, and are reported to senior management as the following seven segments: Automotive OEM; Food Equipment; Test &amp; Measurement and Electronics; Welding; Polymers &amp; Fluids; Construction Products; and Specialty Products. The following is a description of the Company's seven segments:
</p>

<h5 class="heading-2">Automotive OEM</h5>
<p class="body-text">
  &mdash; This segment is a global, niche supplier to top tier OEMs, providing unique innovation to address pain points for sophisticated customers with complex problems. Businesses in this segment produce components and fasteners for automotive-related applications. This segment primarily serves the automotive original equipment manufacturers and tiers market. Products in this segment include:
</p>

<ul class="list">
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">plastic and metal components, fasteners and assemblies for automobiles, light trucks and other industrial uses.</span>
  </li>
</ul>

<h5 class="heading-2">Food Equipment</h5>
<p class="body-text">
  &mdash; This segment is a highly focused and branded industry leader in commercial food equipment differentiated by innovation and integrated service offerings. This segment primarily serves the food service,&nbsp;food retail and food institutional/restaurant markets. Products in this segment include:
</p>

<ul class="list">
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">warewashing equipment;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">cooking equipment, including ovens, ranges and broilers;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">refrigeration equipment, including refrigerators, freezers and prep tables;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">food processing equipment, including slicers, mixers and scales;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">kitchen exhaust, ventilation and pollution control systems; and</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">food equipment service, maintenance and repair.</span>
  </li>
</ul>

<h5 class="heading-2">Test &amp; Measurement and Electronics</h5>
<p class="body-text">
  &mdash; This segment is a branded and innovative producer of test and measurement and electronic manufacturing and maintenance, repair, and operations, or "MRO" solutions that improve efficiency and quality for customers in diverse end markets. Businesses in this segment produce equipment, consumables, and related software for testing and measuring of materials and structures, as well as equipment and consumables used in the production of electronic subassemblies and microelectronics. This segment primarily serves the electronics, general industrial, automotive original equipment manufacturers and tiers, energy, industrial capital goods and consumer durables markets. Products in this segment include:
</p>

<ul class="list">
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">equipment, consumables, and related software for testing and measuring of materials, structures, gases and fluids;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">electronic assembly equipment;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">electronic components and component packaging;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">static control equipment and consumables used for contamination control in clean room environments; and</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">pressure sensitive adhesives and components for electronics, medical, transportation and telecommunications applications.</span>
  </li>
</ul>

<h5 class="heading-2">Welding</h5>
<p class="body-text">
  &mdash; This segment is a branded value-added equipment and specialty consumable manufacturer with innovative and leading technology. Businesses in this segment produce arc welding equipment, consumables and accessories for a wide array of industrial and commercial applications. This segment primarily serves the general industrial market, which includes fabrication, shipbuilding and other general industrial markets, and construction, energy, MRO, industrial capital goods and automotive original equipment manufacturers and tiers markets. Products in this segment include:
</p>

<ul class="list">
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">arc welding equipment; and</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">metal arc welding consumables and related accessories.</span>
  </li>
</ul>

<div class="page-number">
  <div class="page-number-content">3</div>
</div>
<hr class="page-break page-break-line"/>

<h5 class="heading-2">Polymers &amp; Fluids</h5>
<p class="body-text">
  &mdash; This segment is a branded supplier to niche markets that require value-added, differentiated products. Businesses in this segment produce engineered adhesives, sealants, lubrication and cutting fluids, and fluids and polymers for auto aftermarket maintenance and appearance. This segment primarily serves the automotive aftermarket, general industrial and MRO markets. Products in this segment include:
</p>

<ul class="list">
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">adhesives for industrial, construction and consumer purposes;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">chemical fluids which clean or add lubrication to machines;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">epoxy and resin-based coating products for industrial applications;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">hand wipes and cleaners for industrial applications;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">fluids, polymers and other supplies for auto aftermarket maintenance and appearance;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">fillers and putties for auto body repair; and</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">polyester coatings and patch and repair products for the marine industry.</span>
  </li>
</ul>

<h5 class="heading-2">Construction Products</h5>
<p class="body-text">
  &mdash; This segment is a branded supplier of innovative engineered fastening systems and solutions. This segment primarily serves the residential construction, renovation/remodel and commercial construction&nbsp;markets. Products in this segment include:
</p>

<ul class="list">
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">fasteners and related fastening tools for wood and metal applications;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">anchors, fasteners and related tools for concrete applications;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">metal plate truss components and related equipment and software; and</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">packaged hardware, fasteners, anchors and other products for retail.</span>
  </li>
</ul>

<h5 class="heading-2">Specialty Products</h5>
<p class="body-text">
  &mdash; This segment is focused on diversified niche market opportunities with substantial patent protection producing beverage packaging equipment and consumables, product coding and marking equipment and consumables, and appliance components and fasteners. This segment primarily serves the food and beverage, consumer durables, general industrial, airlines, industrial capital goods and printing and publishing markets. Products in this segment include:
</p>

<ul class="list">
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">conveyor systems and line automation for the food and beverage industries;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">plastic consumables that multi-pack cans and bottles and related equipment;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">foil, film and related equipment used to decorate consumer products;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">product coding and marking equipment and related consumables;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">plastic and metal closures and components for appliances;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">airport ground support equipment; and</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">components for medical devices.</span>
  </li>
</ul>

<p class="body-text">
  The information set forth below is applicable to all segments of the Company unless otherwise noted.
</p>
