<p class="section-heading">LIQUIDITY AND CAPITAL RESOURCES</p>

<p class="body-text">
  The Company's primary sources of liquidity are free cash flow and short-term credit facilities. As of December 31, 2024, the Company had $948 million of cash and equivalents on hand and no outstanding borrowings under its $3.0 billion revolving credit facility. The Company also has maintained strong access to public debt markets. Management believes that these sources are sufficient to service debt and to finance the Company's capital allocation priorities, which include:
</p>

<ul class="list">
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">
      internal investments to support organic growth and sustain core businesses;
    </span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">
      payment of an attractive dividend to shareholders; and
    </span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">
      external investments in selective strategic acquisitions that support the Company's organic growth focus and an active share repurchase program.
    </span>
  </li>
</ul>

<p class="body-text">
  The Company believes that, based on its operating revenue, operating margin, free cash flow, and credit ratings, it could readily obtain additional financing, if necessary.
</p>

<p class="body-text">
  The Company has certain contractual obligations, primarily the current portion of noncurrent income taxes payable, operating leases and long-term debt. Refer to Note 6. Income Taxes, Note 9. Leases and Note 10. Debt in Item 8. Financial Statements and Supplementary Data for details related to the Company's contractual obligations. The Company did not have any significant off-balance sheet commitments as of December 31, 2024.
</p>