<p class="section-heading-no-bottom-margin text-center">Statement of Comprehensive Income</p>
<p class="body-text-bold text-center">Illinois Tool Works Inc. and Subsidiaries</p>

<div class="table-container table-container-centered table-container-top-margin">
  <table class="table-base">
    <tr>
      <td style="width:1.0%"></td>
      <td style="width:48.0%"></td>
      <td style="width:1.0%"></td>
      <td style="width:1.0%"></td>
      <td style="width:13.780%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.544%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:13.780%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.544%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:13.783%"></td>
      <td style="width:0.1%"></td>
    </tr>
    <thead>
      <tr>
        <th colspan="3" class="table-cell table-cell-left" scope="colgroup"></th>
        <th class="table-cell table-cell-center table-text-header" colspan="15" scope="colgroup">For the Years Ended December&nbsp;31</th>
      </tr>
      <tr>
        <th colspan="3" class="table-cell table-cell-left table-text-header" scope="colgroup">In millions</th>
        <th colspan="3" class="table-cell table-cell-center table-header table-cell-border-top" scope="colgroup">2024</th>
        <th colspan="3" class="table-cell-padding-none table-cell-border-top" scope="colgroup"></th>
        <th colspan="3" class="table-cell table-cell-center table-header table-cell-border-top" scope="colgroup">2023</th>
        <th colspan="3" class="table-cell-padding-none table-cell-border-top" scope="colgroup"></th>
        <th colspan="3" class="table-cell table-cell-center table-header table-cell-border-top" scope="colgroup">2022</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left">Net Income</td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">3,488&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">2,957&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">3,034&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"><br/></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left">Foreign currency translation adjustments, net of tax</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">(104)</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">41&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">(242)</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Pension and other postretirement benefit adjustments, net of tax</td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">61&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">(34)</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">(97)</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Other comprehensive income (loss)</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-border-top table-cell-padding-left">
          <span class="table-text">(43)</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-border-top table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-border-top table-cell-padding-left">
          <span class="table-text">7&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-border-top table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-border-top table-cell-padding-left">
          <span class="table-text">(339)</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-border-top table-cell-padding-right"></td>
      </tr>
      <tr>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"><br/></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left">Comprehensive Income</td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">3,445&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">2,964&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">2,695&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
      </tr>
    </tbody>
  </table>
</div>

<p class="table-note">The Notes to Financial Statements are an integral part of this statement.</p>

<div class="page-number">
  <div class="page-number-content">48</div>
</div>
<hr class="page-break page-break-line"/>
