<h5 class="section-heading-italic">Working Capital</h5>

<p class="body-text">
  Management uses working capital as a measurement of the short-term liquidity of the Company. Net working capital as of December 31, 2024 and 2023 is summarized as follows:
</p>

<div class="table-container-centered">
  <table class="table-base">
     <tr>
      <td style="width:1.0%">
      </td>
      <td style="width:52.769%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:1.0%">
      </td>
      <td style="width:13.780%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:0.544%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:1.0%">
      </td>
      <td style="width:13.780%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:0.544%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:1.0%">
      </td>
      <td style="width:13.783%">
      </td>
      <td style="width:0.1%">
      </td>
     </tr>
     <tr>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text-small">In millions</span>
      </td>
      <td colspan="3" class="table-cell table-cell-center">
        <span class="table-text-header">2024</span>
      </td>
      <td colspan="3" class="table-cell-padding-none">
      </td>
      <td colspan="3" class="table-cell table-cell-center">
        <span class="table-text-header">2023</span>
      </td>
      <td colspan="3" class="table-cell-padding-none">
      </td>
      <td colspan="3" class="table-cell table-cell-center">
        <span class="table-text-header">Increase<br/>(Decrease)</span>
      </td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Current Assets:</span>
      </td>
      <td colspan="3" class="table-cell table-row-primary table-cell-border-top table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-border-top table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-border-top table-cell-padding-none"></td>
     </tr>
     <tr class="table-row-alt">
      <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
        <span class="table-text">Cash and equivalents</span>
      </td>
      <td class="table-cell table-row-alt table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">948&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td class="table-cell table-row-alt table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">1,065&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td class="table-cell table-row-alt table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">(117)</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
        <span class="table-text">Trade receivables</span>
      </td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">2,991&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">3,123&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">(132)</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-alt">
      <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
        <span class="table-text">Inventories</span>
      </td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">1,605&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">1,707&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">(102)</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
        <span class="table-text">Prepaid expenses and other current assets</span>
      </td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">312&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">340&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">(28)</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-alt">
      <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
        <span class="table-text">Total current assets</span>
      </td>
      <td colspan="2" class="table-cell table-row-alt table-cell-border-top table-cell-right table-cell-padding-left">
        <span class="table-text">5,856&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-alt table-cell-border-top table-cell-right table-cell-padding-left">
        <span class="table-text">6,235&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-alt table-cell-border-top table-cell-right table-cell-padding-left">
        <span class="table-text">(379)</span>
      </td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Current Liabilities:</span>
      </td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
     </tr>
     <tr class="table-row-alt">
      <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
        <span class="table-text">Short-term debt</span>
      </td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">1,555&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">1,825&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">(270)</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
        <span class="table-text">Accounts payable and accrued expenses</span>
      </td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">2,095&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">2,244&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">(149)</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-alt">
      <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
        <span class="table-text">Other</span>
      </td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">658&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">606&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">52&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
        <span class="table-text">Total current liabilities</span>
      </td>
      <td colspan="2" class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-left">
        <span class="table-text">4,308&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-left">
        <span class="table-text">4,675&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-left">
        <span class="table-text">(367)</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-alt">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Net Working Capital</span>
      </td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">1,548&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">1,560&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">(12)</span>
      </td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
     </tr>
  </table>
</div>

<p class="body-text">
  As of December 31, 2024, a significant portion of the Company's cash and equivalents was held by international subsidiaries. Cash and equivalents held internationally may be subject to foreign withholding taxes if repatriated to the U.S. Cash and equivalents held internationally are typically used for international operating needs or reinvested to fund expansion of existing international businesses. International funds may also be used to fund international acquisitions or, if not considered permanently invested, may be repatriated to the U.S. The Company has accrued for foreign withholding taxes related to foreign held cash and equivalents that are not permanently invested.
</p>

<p class="body-text">
  In the U.S., the Company utilizes cash flows from operations to fund domestic cash needs and the Company's capital allocation priorities. This includes operating needs of the U.S. businesses, dividend payments, share repurchases, acquisitions, servicing of domestic debt obligations, reinvesting to fund expansion of existing U.S. businesses and general corporate needs. The Company may also use its commercial paper program, which is supported by a long-term credit facility, for short-term liquidity needs. The Company believes cash generated by operations and liquidity provided by the Company's commercial paper program will continue to be sufficient to fund cash requirements in the U.S.
</p>