<h3 class="item-heading">
  <span class="item-number">ITEM&nbsp;14.</span>
  <span class="item-title">Principal Accountant Fees and Services</span>
</h3>

<p class="body-text">
  This information is incorporated by reference from the information under the caption "Proposal 3 - Ratification of the Appointment of Independent Registered Public Accounting Firm" in the Company's Proxy Statement for the 2025 Annual Meeting of Stockholders.
</p>

<div class="page-number">
  <div class="page-number-content">81</div>
</div>
<hr class="page-break page-break-line"/>