<p class="section-heading-no-bottom-margin text-center">Statement of Income</p>
<p class="body-text-bold text-center">Illinois Tool Works Inc. and Subsidiaries</p>

<div class="table-container table-container-centered table-container-top-margin">
  <table class="table-base">
    <tr>
      <td style="width:1.0%"></td>
      <td style="width:48.0%"></td>
      <td style="width:1.0%"></td>
      <td style="width:1.0%"></td>
      <td style="width:13.780%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.544%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:13.780%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.544%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:13.783%"></td>
      <td style="width:0.1%"></td>
    </tr>
    <thead>
      <tr>
        <th colspan="3" class="table-cell table-cell-left" scope="colgroup"></th>
        <th class="table-cell table-cell-center table-text-header" colspan="15" scope="colgroup">For the Years Ended December&nbsp;31</th>
      </tr>
      <tr>
        <th colspan="3" class="table-cell table-cell-left table-text-header" scope="colgroup">In millions except per share amounts</th>
        <th colspan="3" class="table-cell table-cell-center table-header table-cell-border-top" scope="colgroup">2024</th>
        <th colspan="3" class="table-cell-padding-none" scope="colgroup"></th>
        <th colspan="3" class="table-cell table-cell-center table-header table-cell-border-top" scope="colgroup">2023</th>
        <th colspan="3" class="table-cell-padding-none" scope="colgroup"></th>
        <th colspan="3" class="table-cell table-cell-center table-header table-cell-border-top" scope="colgroup">2022</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left">Operating Revenue</td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">15,898&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">16,107&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">15,932&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Cost of revenue</td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">8,858&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">9,316&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">9,429&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Selling, administrative, and research and development expenses</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">2,675&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">2,638&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">2,579&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Amortization and impairment of intangible assets</td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">101&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">113&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">134&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left">Operating Income</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-left">
          <span class="table-text">4,264&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-left">
          <span class="table-text">4,040&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-left">
          <span class="table-text">3,790&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Interest expense</td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">(283)</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">(266)</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">(203)</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Other income (expense)</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">441&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">49&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">255&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Income Before Taxes</td>
        <td colspan="2" class="table-cell table-row-alt table-cell-border-top table-cell-right table-cell-padding-left">
          <span class="table-text">4,422&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-border-top table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-border-top table-cell-right table-cell-padding-left">
          <span class="table-text">3,823&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-border-top table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-border-top table-cell-right table-cell-padding-left">
          <span class="table-text">3,842&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-border-top table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Income taxes</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">934&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">866&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">808&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Net Income</td>
        <td class="table-cell table-row-alt table-cell-border-bottom table-cell-border-top table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-alt table-cell-border-bottom table-cell-border-top table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">3,488&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td class="table-cell table-row-alt table-cell-border-bottom table-cell-border-top table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-alt table-cell-border-bottom table-cell-border-top table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">2,957&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td class="table-cell table-row-alt table-cell-border-bottom table-cell-border-top table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-alt table-cell-border-bottom table-cell-border-top table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">3,034&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
      </tr>
      
      <tr class="table-row-primary">
        <td colspan="18" class="table-cell table-cell-left"><br/></td>
      </tr>

      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Net Income Per Share:</td>
        <td colspan="15" class="table-cell table-row-alt table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent-10">Basic</td>
        <td class="table-cell table-row-primary table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">11.75&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td class="table-cell table-row-primary table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">9.77&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td class="table-cell table-row-primary table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">9.80&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent-10">Diluted</td>
        <td class="table-cell table-row-alt table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">11.71&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td class="table-cell table-row-alt table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">9.74&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td class="table-cell table-row-alt table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">9.77&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
    </tbody>
  </table>
</div>

<p class="table-note">The Notes to Financial Statements are an integral part of this statement.</p>

<div class="page-number">
  <div class="page-number-content">47</div>
</div>
<hr class="page-break page-break-line"/>