<h5 class="section-heading">(3)&nbsp;&nbsp;&nbsp;&nbsp;Divestitures</h5>

<p class="body-text">
  The Company routinely reviews its portfolio of businesses relative to its business portfolio criteria and evaluates if further portfolio refinements may be needed. As such, the Company may commit to a plan to exit or dispose of certain businesses and present them as held for sale in periods prior to the sale of the business.
</p>

<p class="body-text">
  In the second quarter of 2022, plans were approved to divest two businesses, including one business in the Polymers &amp; Fluids segment and one business in the Food Equipment segment. These two businesses were classified as held for sale beginning in the second quarter of 2022. In the fourth quarter of 2022, both of these businesses were divested. On October 3, 2022, the business in the Polymers &amp; Fluids segment was sold for $220&nbsp;million, subject to certain closing adjustments, resulting in a pre-tax gain of $156&nbsp;million. On December 1, 2022, the business in the Food Equipment segment was sold for $59&nbsp;million, subject to certain closing adjustments, resulting in a pre-tax gain of $41&nbsp;million. The pre-tax gains were included in Other
</p>

<div class="page-number">
  <div class="page-number-content">55</div>
</div>
<hr class="page-break page-break-line"/>

<p class="body-text">
  income (expense) in the Statement of Income. Income taxes on the gains were mostly offset by the utilization of capital loss carryforwards of $32&nbsp;million. Operating revenue related to these divested businesses that was included in the Company's results of operations for the twelve months ended December 31, 2022 was $106&nbsp;million.
</p>

<p class="body-text">
  In the fourth quarter of 2022, plans were approved to divest one business in the Specialty Products segment. This business was presented as held for sale beginning in the fourth quarter of 2022. This business was sold on April 3, 2023, with no significant gain or loss upon sale. Operating revenue related to this business that was included in the Company's results of operations for the twelve months ended December 31, 2023 and 2022 was $9&nbsp;million and $37&nbsp;million, respectively.
</p>
