<h2 class="item-heading"><span class="item-number">ITEM&nbsp;7.</span> <span class="item-title">Management's Discussion and Analysis of Financial Condition and Results of Operations</span></h2>

<p class="heading-1">INTRODUCTION</p>

<p class="body-text">
  Illinois Tool Works Inc. (the "Company" or "ITW") is a global manufacturer of a diversified range of industrial products and equipment with 86 divisions in 51 countries. As of December&nbsp;31, 2024, the Company employed approximately 44,000 people.
</p>

<p class="body-text">
  The Company's operations are organized and managed based on similar product offerings and end markets, and are reported to senior management as the following seven segments: Automotive OEM; Food Equipment; Test &amp; Measurement and Electronics; Welding; Polymers &amp; Fluids; Construction Products; and Specialty Products.
</p>

<p class="body-text">
  Due to the large number of diverse businesses and the Company's decentralized operating structure, the Company does not require its businesses to provide detailed information on operating results. Instead, the Company's corporate management collects data on several key measurements: operating revenue, operating income, operating margin, variable cost of revenue, overhead expenses, number of months on hand in inventory, days sales outstanding in accounts receivable, past due receivables and return on invested capital. These key measures are monitored by management and significant changes in operating results versus current trends in end markets and variances from forecasts are discussed with operating unit management.
</p>
