<h3 class="item-heading">
  <span class="item-number">ITEM&nbsp;12.</span>
  <span class="item-title">Security Ownership of Certain Beneficial Owners and Management and Related Stockholder Matters</span>
</h3>

<p class="body-text">
  Information regarding security ownership of certain beneficial owners and management and related stockholder matters is incorporated by reference from the information under the captions "Beneficial Ownership of Common Stock" and "NEO Compensation - Equity Compensation Plan Information" in the Company's Proxy Statement for the 2025 Annual Meeting of Stockholders.
</p>