<h5 class="section-heading-italic">Debt</h5>

<p class="body-text">
  Total debt as of December 31, 2024 and 2023 was as follows:
</p>

<div class="table-container-centered">
  <table class="table-base">
     <tr>
      <td style="width:1.0%">
      </td>
      <td style="width:52.769%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:1.0%">
      </td>
      <td style="width:13.780%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:0.544%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:1.0%">
      </td>
      <td style="width:13.780%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:0.544%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:1.0%">
      </td>
      <td style="width:13.783%">
      </td>
      <td style="width:0.1%">
      </td>
     </tr>
     <tr>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text-small">In millions</span>
      </td>
      <td colspan="3" class="table-cell table-cell-center">
        <span class="table-text-header">2024</span>
      </td>
      <td colspan="3" class="table-cell-padding-none">
      </td>
      <td colspan="3" class="table-cell table-cell-center">
        <span class="table-text-header">2023</span>
      </td>
      <td colspan="3" class="table-cell-padding-none">
      </td>
      <td colspan="3" class="table-cell table-cell-center">
        <span class="table-text-header">Increase<br/>(Decrease)</span>
      </td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Short-term debt</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">1,555&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">1,825&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">(270)</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-alt">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Long-term debt</span>
      </td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">6,308&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">6,339&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">(31)</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Total debt</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">7,863&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">8,164&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">(301)</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
     </tr>
  </table>
</div>
<p class="body-text">
  As of December 31, 2024, short-term debt included $777 million related to the Euro-denominated credit agreement entered into on May 5, 2023 (the "Euro Credit Agreement"), which was reclassified to Short-term debt in the second quarter of 2024 since the debt, including the options to extend the termination date, is due in April 2025. As of December 31, 2023, Short-term debt included $700 million related to the 3.50% notes due March 1, 2024 and $661 million related to the 0.25% Euro notes due December 5, 2024, both of which were repaid on their respective due dates. Additionally, Short-term debt included $778 million and $464 million of commercial paper as of December 31, 2024 and 2023, respectively.
</p>

<p class="body-text">
  As of December 31, 2023, the Company had €1.3 billion outstanding under the Euro Credit Agreement with an interest rate of 4.59%, which was included in Long-term debt as the Company intended to exercise its options to extend the termination date. The first and second options to extend the termination date were both exercised in 2024. On May 22, 2024, the Company repaid €550 million of the term loans under the Euro Credit Agreement using a portion of the proceeds from the
</p>

<div class="page-number">
  <div class="page-number-content">39</div>
</div>
<hr class="page-break page-break-line"/>

<p class="body-text">
  Euro notes issued on May 17, 2024, as discussed below. As of December 31, 2024, the Company had €750 million outstanding under the Euro Credit Agreement with an interest rate of 3.61%, which was reclassified to Short-term debt in the second quarter of 2024 since the debt, including the options to extend the termination date, is due in April 2025.
</p>

<p class="body-text">
  In May 2024, the Company issued €650 million of 3.25% Euro notes due May 17, 2028 at 99.525% of face value and €850 million of 3.375% Euro notes due May 17, 2032 at 99.072% of face value. Proceeds from the issuance were used for general corporate purposes, including the repayment of a portion of the indebtedness under the commercial paper program and the Euro Credit Agreement.
</p>

<p class="body-text">
  The Company may issue commercial paper to fund general corporate needs, share repurchases, and small and medium-sized acquisitions. During the fourth quarter of 2022, the Company entered into a $3.0 billion, five-year revolving credit facility with a termination date of October 21, 2027, which is available to provide additional liquidity, including to support the potential issuances of commercial paper. No amounts were outstanding under the revolving credit facility as of December 31, 2024 or 2023. The maximum outstanding commercial paper balance during 2024 was $1.9 billion, while the average daily balance was $906 million.
</p>

<p class="body-text">
  As of December 31, 2024, the Company had unused capacity of approximately $170 million under international debt facilities. In the ordinary course of business, the Company also had approximately $250 million outstanding in guarantees, letters of credit and other similar arrangements with financial institutions as of December 31, 2024. Refer to Note 10. Debt in Item 8. Financial Statements and Supplementary Data for additional details regarding the Company's outstanding debt obligations.
</p>