<h5 class="section-heading-italic">Total Debt to EBITDA</h5>

<p class="body-text">
  The Company uses the ratio of total debt to EBITDA as a measure of its ability to repay its outstanding debt obligations. EBITDA and the ratio of total debt to EBITDA are non-GAAP financial measures. The Company believes that total debt to EBITDA is a meaningful metric to investors in evaluating the Company's long term financial liquidity and may be different than the method used by other companies to calculate total debt to EBITDA. The ratio of total debt to EBITDA represents total debt divided by net income before interest expense, other income (expense), income taxes, depreciation, and amortization and impairment of intangible assets on a trailing twelve month basis. Total debt to EBITDA for the years ended December 31, 2024, 2023 and 2022 was as follows:
</p>

<div class="table-container-centered">
  <table class="table-base">
     <tr>
      <td style="width:1.0%">
      </td>
      <td style="width:52.769%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:1.0%">
      </td>
      <td style="width:13.780%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:0.544%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:1.0%">
      </td>
      <td style="width:13.780%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:0.544%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:1.0%">
      </td>
      <td style="width:13.783%">
      </td>
      <td style="width:0.1%">
      </td>
     </tr>
     <tr>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text-small">Dollars in millions</span>
      </td>
      <td colspan="3" class="table-cell table-cell-center">
        <span class="table-text-header">2024</span>
      </td>
      <td colspan="3" class="table-cell-padding-none">
      </td>
      <td colspan="3" class="table-cell table-cell-center">
        <span class="table-text-header">2023</span>
      </td>
      <td colspan="3" class="table-cell-padding-none">
      </td>
      <td colspan="3" class="table-cell table-cell-center">
        <span class="table-text-header">2022</span>
      </td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Total debt</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">7,863&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">8,164&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">7,763&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"><br/></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Net income</span>
      </td>
      <td class="table-cell table-row-primary table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">3,488&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td class="table-cell table-row-primary table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">2,957&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td class="table-cell table-row-primary table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">3,034&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-alt">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Add:</span>
      </td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
        <span class="table-text">Interest expense</span>
      </td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">283&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">266&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">203&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-alt">
      <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
        <span class="table-text">Other (income) expense</span>
      </td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">(441)</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">(49)</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">(255)</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
        <span class="table-text">Income taxes</span>
      </td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">934&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">866&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">808&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-alt">
      <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
        <span class="table-text">Depreciation</span>
      </td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">301&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">282&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">276&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
        <span class="table-text">Amortization and impairment of intangible assets</span>
      </td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">101&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">113&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">134&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-alt">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">EBITDA</span>
      </td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">4,666&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">4,435&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">4,200&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Total debt to EBITDA ratio</span>
      </td>
      <td colspan="3" class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right">
        <span class="table-text">1.7</span>
      </td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right">
        <span class="table-text">1.8</span>
      </td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right">
        <span class="table-text">1.8</span>
      </td>
     </tr>
  </table>
</div>

<div class="page-number">
  <div class="page-number-content">40</div>
</div>
<hr class="page-break page-break-line"/>