<p class="section-heading">CRITICAL ACCOUNTING ESTIMATES</p>

<p class="body-text">The Company has three accounting estimates that it believes are most important to the Company's financial condition and results of operations, and which require the Company to make judgments about matters that are inherently uncertain. Management bases its estimates on historical experience, and in some cases on observable market information. Various assumptions are also used that are believed to be reasonable under the circumstances and form the basis for making judgments about the carrying values of assets and liabilities that are not readily apparent from other sources. Actual results may differ from these estimates.</p>

<p class="body-text">The Company's critical accounting estimates are as follows:</p>