<div>
    <span class="style-216">
     (7) &nbsp;&nbsp;&nbsp;&nbsp;Net Income Per Share
    </span>
   </div>
   <div>
    <span>
     <br/>
    </span>
   </div>
   <div>
    <span class="style-14">
     Net income per basic share is computed by dividing net income by the weighted-average number of shares outstanding for the period. Net income per diluted share is computed by dividing net income by the weighted-average number of shares assuming dilution for stock options and restricted stock units. Dilutive shares reflect the potential additional shares that would be outstanding if the dilutive stock options outstanding were exercised and the unvested restricted stock units vested during the period. The computation of net income per share for the twelve months ended December 31, 2024, 2023 and 2022 was as follows:
    </span>
   </div>
   <div>
    <span>
     <br/>
    </span>
   </div>
   <div>
    <table class="style-163">
     <tr>
      <td class="style-4">
      </td>
      <td class="style-265">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-56">
      </td>
      <td class="style-25">
      </td>
      <td class="style-25">
      </td>
      <td class="style-387">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-56">
      </td>
      <td class="style-25">
      </td>
      <td class="style-25">
      </td>
      <td class="style-387">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-298">
      </td>
      <td class="style-25">
      </td>
     </tr>
     <tr>
      <td class="style-248" colspan="3">
       <span class="style-303">
        In millions except per share amounts
       </span>
      </td>
      <td class="style-359" colspan="3">
       <span class="style-212">
        2024
       </span>
      </td>
      <td class="style-359" colspan="3">
       <span class="style-212">
        2023
       </span>
      </td>
      <td class="style-359" colspan="3">
       <span class="style-212">
        2022
       </span>
      </td>
     </tr>
     <tr>
      <td class="style-207" colspan="3">
       <span class="style-378">
        Net Income
       </span>
      </td>
      <td class="style-194">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-154">
       <span class="style-378">
        3,488&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-194">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-154">
       <span class="style-378">
        2,957&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-194">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-154">
       <span class="style-378">
        3,034&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
     </tr>
     <tr>
      <td class="style-139" colspan="3">
       <span class="style-378">
        Net income per share&mdash;Basic:
       </span>
      </td>
      <td class="style-80" colspan="3">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-80" colspan="3">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-80" colspan="3">
      </td>
     </tr>
     <tr>
      <td class="style-140" colspan="3">
       <span class="style-378">
        Weighted-average common shares
       </span>
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        296.8&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        302.6&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        309.6&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
     </tr>
     <tr>
      <td class="style-215" colspan="3">
       <span class="style-378">
        Net income per share&mdash;Basic
       </span>
      </td>
      <td class="style-297">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-36">
       <span class="style-378">
        11.75&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-297">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-36">
       <span class="style-378">
        9.77&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-297">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-36">
       <span class="style-378">
        9.80&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
     </tr>
     <tr>
      <td class="style-207" colspan="3">
       <span class="style-378">
        Net income per share&mdash;Diluted:
       </span>
      </td>
      <td class="style-145" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-145" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-145" colspan="3">
      </td>
     </tr>
     <tr>
      <td class="style-215" colspan="3">
       <span class="style-378">
        Weighted-average common shares
       </span>
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        296.8&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        302.6&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        309.6&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
     </tr>
     <tr>
      <td class="style-140" colspan="3">
       <span class="style-378">
        Effect of dilutive stock options and restricted stock units
       </span>
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        1.0&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        1.0&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        1.1&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
     </tr>
     <tr>
      <td class="style-215" colspan="3">
       <span class="style-378">
        Weighted-average common shares assuming dilution
       </span>
      </td>
      <td class="style-165" colspan="2">
       <span class="style-378">
        297.8&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-165" colspan="2">
       <span class="style-378">
        303.6&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-165" colspan="2">
       <span class="style-378">
        310.7&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
     </tr>
     <tr>
      <td class="style-140" colspan="3">
       <span class="style-378">
        Net income per share&mdash;Diluted
       </span>
      </td>
      <td class="style-6">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-346">
       <span class="style-378">
        11.71&nbsp;
       </span>
      </td>
      <td class="style-42">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-6">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-346">
       <span class="style-378">
        9.74&nbsp;
       </span>
      </td>
      <td class="style-42">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-6">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-346">
       <span class="style-378">
        9.77&nbsp;
       </span>
      </td>
      <td class="style-42">
      </td>
     </tr>
    </table>
   </div>
   <div class="style-101">
    <div class="style-147">
     <div class="style-169">
      <span class="style-14">
       62
      </span>
     </div>
    </div>
   </div>
   <hr class="style-325"/>
   <div class="style-357">
    <div>
     <span>
      <br/>
     </span>
    </div>
   </div>
   <div>
    <span class="style-14">
     Options that were considered antidilutive were not included in the computation of diluted net income per share. There were 0.2&nbsp;million, 0.3 million and 0.9&nbsp;million antidilutive options outstanding for the twelve months ended December 31, 2024, 2023 and 2022, respectively.
    </span>
   </div>
   <div>
    <span>
     <br/>
    </span>
   </div>
   <div id="ibfcf79ae2d6544b5879fd3b336a5e208_163">
   </div>