<p class="section-heading-italic">Stock Repurchase Programs</p>

<p class="body-text">
  On August 3, 2018, the Company announced a stock repurchase program which provided for the repurchase of up to $3.0 billion of the Company's common stock over an open-ended period of time (the "2018 Program"). Under the 2018 Program, the Company repurchased approximately 6.7 million shares of its common stock at an average price of $158.11 per share during 2019, approximately 4.2 million shares of its common stock at an average price of $167.69 per share during 2020, approximately 4.4 million shares of its common stock at an average price of $227.29 per share during 2021 and approximately 1.2 million shares of its common stock at an average price of $216.62 per share during 2022. The 2018 Program was completed in the first quarter of 2022.
</p>

<p class="body-text">
  On May 7, 2021, the Company announced a stock repurchase program which provided for the repurchase of up to an additional $3.0 billion of the Company's common stock over an open-ended period of time (the "2021 Program"). Under the 2021 Program, the Company repurchased approximately 7.1 million shares of its common stock at an average price of $210.46 per share during 2022 and approximately 6.3 million shares of its common stock at an average price of $235.35 per share during 2023. The 2021 Program was completed in the fourth quarter of 2023.
</p>

<p class="body-text">
  On August 4, 2023, the Company announced a stock repurchase program which provides for the repurchase of up to an additional $5.0 billion of the Company's common stock over an open-ended period of time (the "2023 Program"). Under the 2023 Program, the Company repurchased approximately 38,000 shares of its common stock at an average price of $263.44 per share during the fourth quarter of 2023 and approximately 5.9 million shares of its common stock at an average price of $254.04 per share during 2024. As of December 31, 2024, there were approximately $3.5 billion of authorized repurchases remaining under the 2023 Program.
</p>

<div class="page-number">
  <div class="page-number-content">36</div>
</div>
<hr class="page-break page-break-line"/>