<p class="section-heading">(8)&nbsp;&nbsp;&nbsp;&nbsp;Goodwill and Intangible Assets</p>

<p class="body-text">
  The changes in the carrying amount of goodwill for the twelve months ended December&nbsp;31, 2024 and 2023 were as follows:
</p>

<div class="table-container table-container-top-margin">
  <table class="table-base table-goodwill-changes">
     <tr>
      <td style="width:1.0%"></td>
      <td style="width:23.900%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:7.582%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.548%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:7.432%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.548%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:8.181%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.548%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:7.432%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.548%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:8.031%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.548%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:7.432%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.548%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:7.442%"></td>
      <td style="width:0.1%"></td>
     </tr>
     <thead>
     <tr>
      <td colspan="3" class="table-cell table-cell-left">
       <span class="table-text-header">
        In millions
       </span>
      </td>
      <td class="table-cell table-cell-center" colspan="3">
       <span class="table-text-header">
        Automotive OEM
       </span>
      </td>
      <td class="table-cell-padding-none" colspan="3"></td>
      <td class="table-cell table-cell-center" colspan="3">
       <span class="table-text-header">
        Food Equipment
       </span>
      </td>
      <td class="table-cell-padding-none" colspan="3"></td>
      <td class="table-cell table-cell-center" colspan="3">
       <span class="table-text-header">
        Test &amp; Measurement and Electronics
       </span>
      </td>
      <td class="table-cell-padding-none" colspan="3"></td>
      <td class="table-cell table-cell-center" colspan="3">
       <span class="table-text-header">
        Welding
       </span>
      </td>
      <td class="table-cell-padding-none" colspan="3"></td>
      <td class="table-cell table-cell-center" colspan="3">
       <span class="table-text-header">
        Polymers &amp; Fluids
       </span>
      </td>
      <td class="table-cell-padding-none" colspan="3"></td>
      <td class="table-cell table-cell-center" colspan="3">
       <span class="table-text-header">
        Construction Products
       </span>
      </td>
      <td class="table-cell-padding-none" colspan="3"></td>
      <td class="table-cell table-cell-center" colspan="3">
       <span class="table-text-header">
        Specialty Products
       </span>
      </td>
      <td class="table-cell-padding-none" colspan="3"></td>
      <td class="table-cell table-cell-center" colspan="3">
       <span class="table-text-header">
        Total
       </span>
      </td>
      <td class="table-cell-padding-none" colspan="3"></td>
     </tr>
     </thead>
     <tbody>
     <tr class="table-row-primary">
      <td class="table-cell table-cell-left table-header" colspan="3">
       <span class="table-text">
        Balance, December 31, 2022
       </span>
      </td>
      <td class="table-cell table-cell-left table-cell-border-top">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top">
       <span class="table-text">
        459&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none table-cell-border-top">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left table-cell-border-top">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top">
       <span class="table-text">
        249&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none table-cell-border-top">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left table-cell-border-top">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top">
       <span class="table-text">
        1,729&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none table-cell-border-top">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left table-cell-border-top">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top">
       <span class="table-text">
        248&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none table-cell-border-top">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left table-cell-border-top">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top">
       <span class="table-text">
        823&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none table-cell-border-top">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left table-cell-border-top">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top">
       <span class="table-text">
        503&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none table-cell-border-top">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left table-cell-border-top">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top">
       <span class="table-text">
        853&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none table-cell-border-top">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left table-cell-border-top">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top">
       <span class="table-text">
        4,864&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none table-cell-border-top">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text">
        Foreign currency translation
       </span>
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        7&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        2&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        6&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        3&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        11&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        3&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        13&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        45&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-header" colspan="3">
       <span class="table-text">
        Balance, December 31, 2023
       </span>
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        466&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        251&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        1,735&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        251&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        834&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        506&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        866&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        4,909&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell-padding-empty-row" colspan="3">
      </td>
      <td class="table-cell-padding-empty-row" colspan="3">
      </td>
      <td class="table-cell-padding-empty-row" colspan="3">
      </td>
      <td class="table-cell-padding-empty-row" colspan="3">
      </td>
      <td class="table-cell-padding-empty-row" colspan="3">
      </td>
      <td class="table-cell-padding-empty-row" colspan="3">
      </td>
      <td class="table-cell-padding-empty-row" colspan="3">
      </td>
      <td class="table-cell-padding-empty-row" colspan="3">
      </td>
      <td class="table-cell-padding-empty-row" colspan="3">
      </td>
      <td class="table-cell-padding-empty-row" colspan="3">
      </td>
      <td class="table-cell-padding-empty-row" colspan="3">
      </td>
      <td class="table-cell-padding-empty-row" colspan="3">
      </td>
      <td class="table-cell-padding-empty-row" colspan="3">
      </td>
      <td class="table-cell-padding-empty-row" colspan="3">
      </td>
      <td class="table-cell-padding-empty-row" colspan="3">
      </td>
      <td class="table-cell-padding-empty-row" colspan="3">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text">
        Acquisitions&nbsp;/ (divestitures)
       </span>
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        71&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        71&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text">
        Foreign currency translation
       </span>
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        (21)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        (9)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        (26)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        (11)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        (31)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        (18)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        (25)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        (141)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-header" colspan="3">
       <span class="table-text">
        Balance, December 31, 2024
       </span>
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        445&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        242&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        1,780&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        240&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        803&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        488&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        841&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        4,839&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-header" colspan="3">
       <span class="table-text">
        Cumulative goodwill impairment charges, December 31, 2024
       </span>
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        24&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        60&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        83&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        5&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        15&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        7&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        46&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        240&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     </tbody>
    </table>
   </div>
<p class="body-text">
  Intangible assets as of December&nbsp;31, 2024 and 2023 were as follows:
</p>

<div class="table-container table-container-top-margin">
  <table class="table-base">
     <tr>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text-header">
        &nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-center" colspan="15">
       <span class="table-text-header">
        2024
       </span>
      </td>
      <td class="table-cell table-cell-center" colspan="15">
       <span class="table-text-header">
        2023
       </span>
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text-header">
        In millions
       </span>
      </td>
      <td class="table-cell table-cell-center table-text-header" colspan="3">
       <span class="table-text-header">
        Cost
       </span>
      </td>
      <td class="table-cell table-cell-center table-text-header" colspan="3">
      </td>
      <td class="table-cell table-cell-center table-text-header" colspan="3">
       <span class="table-text-header">
        Accumulated
        <br/>
        Amortization
       </span>
      </td>
      <td class="table-cell table-cell-center table-text-header" colspan="3">
      </td>
      <td class="table-cell table-cell-center table-text-header" colspan="3">
       <span class="table-text-header">
        Net
       </span>
      </td>
      <td class="table-cell table-cell-center table-text-header" colspan="3">
       <span class="table-text-header">
        Cost
       </span>
      </td>
      <td class="table-cell table-cell-center table-text-header" colspan="3">
      </td>
      <td class="table-cell table-cell-center table-text-header" colspan="3">
       <span class="table-text-header">
        Accumulated
        <br/>
        Amortization
       </span>
      </td>
      <td class="table-cell table-cell-center table-text-header" colspan="3">
      </td>
      <td class="table-cell table-cell-center table-text-header" colspan="3">
       <span class="table-text-header">
        Net
       </span>
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text">
        Amortizable intangible assets:
       </span>
      </td>
      <td class="table-cell table-cell-left" colspan="3">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left" colspan="3">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left" colspan="3">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left" colspan="3">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left" colspan="3">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left" colspan="3">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-header" colspan="3">
       <span class="table-text">
        Customer lists and relationships
       </span>
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        1,748&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell-padding-none">
       <span class="table-text">
        (1,576)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell-padding-none">
       <span class="table-text">
        172&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell-padding-none">
       <span class="table-text">
        1,746&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell-padding-none">
       <span class="table-text">
        (1,534)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell-padding-none">
       <span class="table-text">
        212&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text">
        Trademarks and brands
       </span>
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        717&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        (602)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        115&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        713&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        (573)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        140&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-header" colspan="3">
       <span class="table-text">
        Patents and proprietary technology
       </span>
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        635&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        (596)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        39&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        615&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        (581)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        34&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text">
        Other
       </span>
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        516&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        (497)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        19&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        511&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        (487)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        24&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text">
        Total amortizable intangible assets
       </span>
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        3,616&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        (3,271)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        345&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        3,585&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        (3,175)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        410&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text">
        Indefinite-lived intangible assets:
       </span>
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-header" colspan="3">
       <span class="table-text">
        Trademarks and brands
       </span>
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        247&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        247&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        247&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        247&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text">
        Total intangible assets
       </span>
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        3,863&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        (3,271)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        592&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        3,832&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        (3,175)
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none" colspan="3">
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        657&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
    </table>
   </div>
<p class="body-text">
  On January 2, 2024, the Company completed the acquisition of one business in the Test &amp; Measurement and Electronics segment for $57&nbsp;million, net of cash acquired. On April 1, 2024, the Company completed the acquisition of one business in the Test &amp; Measurement and Electronics segment for $59&nbsp;million, net of cash acquired. The purchase price for both acquisitions is subject to certain closing adjustments. These acquisitions were not material, individually or in the aggregate, to the Company&rsquo;s results of operations, financial position or cash flows. The allocation of purchase price for these acquisitions will be completed as soon as practicable, but no later than one year from the acquisition date. Refer to Note 2. Acquisitions for additional information regarding the Company's acquisitions.
</p>

<p class="body-text">
  The Company performed its annual impairment assessment of goodwill and indefinite-lived intangible assets in the third quarter of 2024, 2023 and 2022. There were no impairment charges as a result of these assessments.
</p>

<div class="page-number">
  <div class="page-number-content">63</div>
</div>
<hr class="page-break page-break-line"/>

<p class="body-text">
  As of December&nbsp;31, 2024, the estimated future amortization expense of intangible assets for the twelve months ending December&nbsp;31 was as follows:
</p>

<div class="table-container table-container-top-margin">
  <table class="table-base">
     <tr>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text-header">
        In millions
       </span>
      </td>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text-header">
        &nbsp;
       </span>
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text">
        2025
       </span>
      </td>
      <td class="table-cell table-cell-left">
       <span class="table-text">
        $
       </span>
      </td>
      <td class="table-cell table-cell-right">
       <span class="table-text">
        78&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text">
        2026
       </span>
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        59&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text">
        2027
       </span>
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        47&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text">
        2028
       </span>
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        37&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left" colspan="3">
       <span class="table-text">
        2029
       </span>
      </td>
      <td class="table-cell table-cell-right" colspan="2">
       <span class="table-text">
        32&nbsp;
       </span>
      </td>
      <td class="table-cell-padding-none">
      </td>
     </tr>
    </table>
   </div>