<h4 class="section-heading">Available Information</h4>

<p class="body-text">
  Copies of the Company's Annual Report on Form 10-K, Quarterly Reports on Form 10-Q and Current Reports on Form 8-K and amendments to those reports filed or furnished pursuant to Section&nbsp;13(a) or 15(d) of the Securities Exchange Act of 1934 are available free of charge through the Company's website (
  <u>www.itw.com</u>
  ), as soon as reasonably practicable after electronically filing with or otherwise furnishing such information to the Securities and Exchange Commission (the "SEC"). The Company's Code of Ethics for the CEO and key financial and accounting personnel is also posted on the Company's website.
</p>

<div class="page-number">
  <div class="page-number-content">9</div>
</div>
<hr class="page-break page-break-line"/>
