<h3 class="item-heading"><span class="item-number">ITEM&nbsp;2.</span> <span class="item-title">Properties</span></h3>

<p class="body-text">
  Due to the Company's decentralized operating structure and global operations, the Company operates out of a large number of facilities worldwide, none of which are individually significant to the Company or its segments. As of December&nbsp;31, 2024, the Company operated approximately 410 plants and office facilities, excluding regional sales offices and warehouse facilities. Approximately 270 of the facilities were located outside of the United States. Principal foreign countries include China, Germany, France, and the United Kingdom.
</p>

<p class="body-text">
  The Company's properties are well suited for the purposes for which they were designed and are maintained in good operating condition. Production capacity, in general, currently exceeds operating levels. Capacity levels are somewhat flexible based on the number of shifts operated and on the number of overtime hours worked. The Company adds production capacity from time to time as required by increased demand. Additions to capacity can be made within a reasonable period of time due to the nature of the Company's businesses.
</p>
