<h2 class="section-heading section-heading-underline">Economic Risks</h2>

<p class="heading-1">
  The Company's results are impacted by global economic conditions. Downturns in the markets served by the Company could adversely affect its businesses, results of operations or financial condition.
</p>

<p class="body-text vertical-padding">
  The Company's businesses are impacted by economic conditions around the globe. Slower economic growth, financial market instability, supply chain disruptions, natural disasters, public health crises (such as the COVID-19 pandemic), labor market challenges, rapid inflation, armed conflicts (such as the Russia and Ukraine conflict), government deficit reduction, sequestration and other austerity measures impacting the markets the Company serves can adversely affect the Company's businesses by reducing demand for the Company's products and services, limiting financing available to the Company's customers, causing production delays, increasing order cancellations and the difficulty in collecting accounts receivable, increasing price competition, or increasing the risk that counterparties to the Company's contractual arrangements will become insolvent or otherwise unable to fulfill their obligations.
</p>

<p class="body-text">
  Rising interest rates could have a dampening effect on overall economic activity and/or the financial condition of the Company's customers, either or both of which could negatively affect customer demand for the Company's products and customers' ability to repay obligations to the Company. Rising interest rates could have an impact on the Company and its customers' cost of capital.
</p>

<p class="heading-1">
  The global nature of the Company's operations subjects it to political, economic and social risks that could adversely affect its business, results of operations or financial condition.
</p>

<p class="body-text vertical-padding">
  Over 50% of the Company's net sales are derived from customers outside the United States, and the Company currently operates in 51 countries. The risks inherent in the Company's global operations include:
</p>

<ul class="list">
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">fluctuation in currency exchange rates;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">limitations on ownership or participation in local enterprises;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">price controls, exchange controls and limitations on repatriation of earnings;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">supply chain disruptions, including transportation delays and disruptions;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">political, social and economic instability and disruptions, including political unrest and armed conflicts;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">acts of terrorism;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">the impact of widespread public health crises and pandemics;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">government embargoes, sanctions or foreign trade restrictions;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">the imposition of duties and tariffs and other trade barriers and retaliatory countermeasures;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">government actions impacting international trade agreements, including the EU-UK Trade and Cooperation Agreement;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">import and export controls;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">social and labor unrest and current and changing regulatory environments;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">the potential for expropriation or nationalization of enterprises;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">difficulties in staffing and managing multi-national operations;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">multiple and potentially conflicting laws, regulations and policies that are subject to change;</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">limitations on its ability to enforce legal rights and remedies; and</span>
  </li>
  <li class="list-item">
    <span class="list-bullet">&bull;</span>
    <span class="list-item-content">potentially adverse tax consequences.</span>
  </li>
</ul>

<p class="body-text">
  The global geopolitical and trade environment has resulted in raw material inflation and potential for increased escalation of domestic and international tariffs and retaliatory trade policies. Further changes in U.S. trade policy (including new or additional increases in duties or tariffs) and retaliatory actions by U.S. trade partners, including sanctions against Russia and developments in U.S.-China trade relations, could result in a worsening of economic conditions. If the Company is unable to successfully manage the risks associated with managing and expanding its international businesses, the Company's business, results of operations or financial condition may be adversely impacted.
</p>

<div class="page-number">
  <div class="page-number-content">10</div>
</div>
<hr class="page-break page-break-line"/>

<p class="heading-1">
  A significant fluctuation between the U.S.&nbsp;Dollar and other currencies could adversely impact the Company's operating income.
</p>

<p class="body-text vertical-padding">
  Although the Company's financial results are reported in U.S. Dollars, a significant portion of its sales and operating costs are realized in other currencies, with the largest concentration of foreign sales occurring in Europe. The Company's profitability is affected by movements of the U.S.&nbsp;Dollar against the Euro and other foreign currencies in which it generates revenues and incurs expenses. Significant long-term fluctuations in relative currency values, and in particular, an increase in the value of the U.S.&nbsp;Dollar against foreign currencies, has had and could have an adverse effect on profitability and financial condition.
</p>
