<div>
    <span class="style-216">
     (8) &nbsp;&nbsp;&nbsp;&nbsp;Goodwill and Intangible Assets
    </span>
   </div>
   <div class="style-169">
    <span>
     <br/>
    </span>
   </div>
   <div>
    <span class="style-14">
     The changes in the carrying amount of goodwill for the twelve months ended December&nbsp;31, 2024 and 2023 were as follows:
    </span>
   </div>
   <div>
    <span>
     <br/>
    </span>
   </div>
   <div class="style-169">
    <table class="style-349">
     <tr>
      <td class="style-4">
      </td>
      <td class="style-373">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-124">
      </td>
      <td class="style-25">
      </td>
      <td class="style-25">
      </td>
      <td class="style-367">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-22">
      </td>
      <td class="style-25">
      </td>
      <td class="style-25">
      </td>
      <td class="style-367">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-311">
      </td>
      <td class="style-25">
      </td>
      <td class="style-25">
      </td>
      <td class="style-367">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-22">
      </td>
      <td class="style-25">
      </td>
      <td class="style-25">
      </td>
      <td class="style-367">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-22">
      </td>
      <td class="style-25">
      </td>
      <td class="style-25">
      </td>
      <td class="style-367">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-63">
      </td>
      <td class="style-25">
      </td>
      <td class="style-25">
      </td>
      <td class="style-367">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-22">
      </td>
      <td class="style-25">
      </td>
      <td class="style-25">
      </td>
      <td class="style-367">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-314">
      </td>
      <td class="style-25">
      </td>
     </tr>
     <tr>
      <td class="style-248" colspan="3">
       <span class="style-303">
        In millions
       </span>
      </td>
      <td class="style-359" colspan="3">
       <span class="style-28">
        Automotive OEM
       </span>
      </td>
      <td class="style-359" colspan="3">
       <span class="style-28">
        Food Equipment
       </span>
      </td>
      <td class="style-359" colspan="3">
       <span class="style-28">
        Test &amp; Measurement and Electronics
       </span>
      </td>
      <td class="style-359" colspan="3">
       <span class="style-28">
        Welding
       </span>
      </td>
      <td class="style-359" colspan="3">
       <span class="style-28">
        Polymers &amp; Fluids
       </span>
      </td>
      <td class="style-359" colspan="3">
       <span class="style-28">
        Construction Products
       </span>
      </td>
      <td class="style-359" colspan="3">
       <span class="style-28">
        Specialty Products
       </span>
      </td>
      <td class="style-359" colspan="3">
       <span class="style-28">
        Total
       </span>
      </td>
     </tr>
     <tr>
      <td class="style-186" colspan="3">
       <span class="style-79">
        Balance, December 31, 2022
       </span>
      </td>
      <td class="style-194">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-154">
       <span class="style-79">
        459&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-194">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-154">
       <span class="style-79">
        249&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-194">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-154">
       <span class="style-79">
        1,729&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-194">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-154">
       <span class="style-79">
        248&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-194">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-154">
       <span class="style-79">
        823&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-194">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-154">
       <span class="style-79">
        503&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-194">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-154">
       <span class="style-79">
        853&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-194">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-154">
       <span class="style-79">
        4,864&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
     </tr>
     <tr>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
     </tr>
     <tr>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
     </tr>
     <tr>
      <td class="style-139" colspan="3">
       <span class="style-79">
        Foreign currency translation
       </span>
      </td>
      <td class="style-353" colspan="2">
       <span class="style-79">
        7&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-79">
        2&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-79">
        6&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-79">
        3&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-79">
        11&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-79">
        3&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-79">
        13&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-79">
        45&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
     </tr>
     <tr>
      <td class="style-186" colspan="3">
       <span class="style-79">
        Balance, December 31, 2023
       </span>
      </td>
      <td class="style-310" colspan="2">
       <span class="style-79">
        466&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-310" colspan="2">
       <span class="style-79">
        251&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-310" colspan="2">
       <span class="style-79">
        1,735&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-310" colspan="2">
       <span class="style-79">
        251&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-310" colspan="2">
       <span class="style-79">
        834&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-310" colspan="2">
       <span class="style-79">
        506&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-310" colspan="2">
       <span class="style-79">
        866&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-310" colspan="2">
       <span class="style-79">
        4,909&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
     </tr>
     <tr>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
      <td class="style-31" colspan="3">
      </td>
     </tr>
     <tr>
      <td class="style-139" colspan="3">
       <span class="style-79">
        Acquisitions&nbsp;/ (divestitures)
       </span>
      </td>
      <td class="style-353" colspan="2">
       <span class="style-79">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-79">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-79">
        71&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-79">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-79">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-79">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-79">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-79">
        71&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
     </tr>
     <tr>
      <td class="style-207" colspan="3">
       <span class="style-79">
        Foreign currency translation
       </span>
      </td>
      <td class="style-126" colspan="2">
       <span class="style-79">
        (21)
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-79">
        (9)
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-79">
        (26)
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-79">
        (11)
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-79">
        (31)
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-79">
        (18)
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-79">
        (25)
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-79">
        (141)
       </span>
      </td>
      <td class="style-138">
      </td>
     </tr>
     <tr>
      <td class="style-275" colspan="3">
       <span class="style-79">
        Balance, December 31, 2024
       </span>
      </td>
      <td class="style-297">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-36">
       <span class="style-79">
        445&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-297">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-36">
       <span class="style-79">
        242&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-297">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-36">
       <span class="style-79">
        1,780&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-297">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-36">
       <span class="style-79">
        240&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-297">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-36">
       <span class="style-79">
        803&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-297">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-36">
       <span class="style-79">
        488&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-297">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-36">
       <span class="style-79">
        841&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-297">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-36">
       <span class="style-79">
        4,839&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
     </tr>
     <tr>
      <td class="style-186" colspan="3">
       <span class="style-79">
        Cumulative goodwill impairment charges, December 31, 2024
       </span>
      </td>
      <td class="style-88">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-37">
       <span class="style-79">
        24&nbsp;
       </span>
      </td>
      <td class="style-364">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-88">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-37">
       <span class="style-79">
        60&nbsp;
       </span>
      </td>
      <td class="style-364">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-88">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-37">
       <span class="style-79">
        83&nbsp;
       </span>
      </td>
      <td class="style-364">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-88">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-37">
       <span class="style-79">
        5&nbsp;
       </span>
      </td>
      <td class="style-364">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-88">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-37">
       <span class="style-79">
        15&nbsp;
       </span>
      </td>
      <td class="style-364">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-88">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-37">
       <span class="style-79">
        7&nbsp;
       </span>
      </td>
      <td class="style-364">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-88">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-37">
       <span class="style-79">
        46&nbsp;
       </span>
      </td>
      <td class="style-364">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-88">
       <span class="style-79">
        $
       </span>
      </td>
      <td class="style-37">
       <span class="style-79">
        240&nbsp;
       </span>
      </td>
      <td class="style-364">
      </td>
     </tr>
    </table>
   </div>
   <div>
    <span>
     <br/>
    </span>
   </div>
   <div>
    <span class="style-14">
     Intangible assets as of December&nbsp;31, 2024 and 2023 were as follows:
    </span>
   </div>
   <div>
    <span>
     <br/>
    </span>
   </div>
   <div>
    <table class="style-21">
     <tr>
      <td class="style-4">
      </td>
      <td class="style-287">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-18">
      </td>
      <td class="style-25">
      </td>
      <td class="style-25">
      </td>
      <td class="style-133">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-18">
      </td>
      <td class="style-25">
      </td>
      <td class="style-25">
      </td>
      <td class="style-133">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-18">
      </td>
      <td class="style-25">
      </td>
      <td class="style-25">
      </td>
      <td class="style-133">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-18">
      </td>
      <td class="style-25">
      </td>
      <td class="style-25">
      </td>
      <td class="style-133">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-18">
      </td>
      <td class="style-25">
      </td>
      <td class="style-25">
      </td>
      <td class="style-133">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-83">
      </td>
      <td class="style-25">
      </td>
     </tr>
     <tr>
      <td class="style-248" colspan="3">
       <span class="style-317">
        &nbsp;
       </span>
      </td>
      <td class="style-359" colspan="15">
       <span class="style-303">
        2024
       </span>
      </td>
      <td class="style-359" colspan="15">
       <span class="style-303">
        2023
       </span>
      </td>
     </tr>
     <tr>
      <td class="style-248" colspan="3">
       <span class="style-303">
        In millions
       </span>
      </td>
      <td class="style-117" colspan="3">
       <span class="style-303">
        Cost
       </span>
      </td>
      <td class="style-92" colspan="3">
      </td>
      <td class="style-117" colspan="3">
       <span class="style-303">
        Accumulated
        <br/>
        Amortization
       </span>
      </td>
      <td class="style-92" colspan="3">
      </td>
      <td class="style-117" colspan="3">
       <span class="style-303">
        Net
       </span>
      </td>
      <td class="style-117" colspan="3">
       <span class="style-303">
        Cost
       </span>
      </td>
      <td class="style-92" colspan="3">
      </td>
      <td class="style-117" colspan="3">
       <span class="style-303">
        Accumulated
        <br/>
        Amortization
       </span>
      </td>
      <td class="style-92" colspan="3">
      </td>
      <td class="style-117" colspan="3">
       <span class="style-303">
        Net
       </span>
      </td>
     </tr>
     <tr>
      <td class="style-207" colspan="3">
       <span class="style-378">
        Amortizable intangible assets:
       </span>
      </td>
      <td class="style-260" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-260" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-260" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-260" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-260" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-260" colspan="3">
      </td>
     </tr>
     <tr>
      <td class="style-215" colspan="3">
       <span class="style-378">
        Customer lists and relationships
       </span>
      </td>
      <td class="style-24">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-321">
       <span class="style-378">
        1,748&nbsp;
       </span>
      </td>
      <td class="style-203">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-261">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-280">
       <span class="style-378">
        (1,576)
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-261">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-280">
       <span class="style-378">
        172&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-261">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-280">
       <span class="style-378">
        1,746&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-261">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-280">
       <span class="style-378">
        (1,534)
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-261">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-280">
       <span class="style-378">
        212&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
     </tr>
     <tr>
      <td class="style-140" colspan="3">
       <span class="style-378">
        Trademarks and brands
       </span>
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        717&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        (602)
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        115&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        713&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        (573)
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        140&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
     </tr>
     <tr>
      <td class="style-215" colspan="3">
       <span class="style-378">
        Patents and proprietary technology
       </span>
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        635&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        (596)
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        39&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        615&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        (581)
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        34&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
     </tr>
     <tr>
      <td class="style-140" colspan="3">
       <span class="style-378">
        Other
       </span>
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        516&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        (497)
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        19&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        511&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        (487)
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        24&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
     </tr>
     <tr>
      <td class="style-139" colspan="3">
       <span class="style-378">
        Total amortizable intangible assets
       </span>
      </td>
      <td class="style-165" colspan="2">
       <span class="style-378">
        3,616&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-165" colspan="2">
       <span class="style-378">
        (3,271)
       </span>
      </td>
      <td class="style-141">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-165" colspan="2">
       <span class="style-378">
        345&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-165" colspan="2">
       <span class="style-378">
        3,585&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-165" colspan="2">
       <span class="style-378">
        (3,175)
       </span>
      </td>
      <td class="style-141">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-165" colspan="2">
       <span class="style-378">
        410&nbsp;
       </span>
      </td>
      <td class="style-141">
      </td>
     </tr>
     <tr>
      <td class="style-207" colspan="3">
       <span class="style-378">
        Indefinite-lived intangible assets:
       </span>
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
     </tr>
     <tr>
      <td class="style-215" colspan="3">
       <span class="style-378">
        Trademarks and brands
       </span>
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        247&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        247&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        247&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        247&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
     </tr>
     <tr>
      <td class="style-207" colspan="3">
       <span class="style-378">
        Total intangible assets
       </span>
      </td>
      <td class="style-6">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-346">
       <span class="style-378">
        3,863&nbsp;
       </span>
      </td>
      <td class="style-42">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-6">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-346">
       <span class="style-378">
        (3,271)
       </span>
      </td>
      <td class="style-42">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-6">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-346">
       <span class="style-378">
        592&nbsp;
       </span>
      </td>
      <td class="style-42">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-6">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-346">
       <span class="style-378">
        3,832&nbsp;
       </span>
      </td>
      <td class="style-42">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-6">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-346">
       <span class="style-378">
        (3,175)
       </span>
      </td>
      <td class="style-42">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-6">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-346">
       <span class="style-378">
        657&nbsp;
       </span>
      </td>
      <td class="style-42">
      </td>
     </tr>
    </table>
   </div>
   <div>
    <span>
     <br/>
    </span>
   </div>
   <div>
    <span class="style-14">
     On January 2, 2024, the Company completed the acquisition of one business in the Test &amp; Measurement and Electronics segment for $57&nbsp;million, net of cash acquired. On April 1, 2024, the Company completed the acquisition of one business in the Test &amp; Measurement and Electronics segment for $59&nbsp;million, net of cash acquired. The purchase price for both acquisitions is subject to certain closing adjustments. These acquisitions were not material, individually or in the aggregate, to the Company&rsquo;s results of operations, financial position or cash flows. The allocation of purchase price for these acquisitions will be completed as soon as practicable, but no later than one year from the acquisition date. Refer to Note 2. Acquisitions for additional information regarding the Company's acquisitions.
    </span>
   </div>
   <div>
    <span>
     <br/>
    </span>
   </div>
   <div>
    <span class="style-14">
     The Company performed its annual impairment assessment of goodwill and indefinite-lived intangible assets in the third quarter of 2024, 2023 and 2022. There were no impairment charges as a result of these assessments.
    </span>
   </div>
   <div>
    <span>
     <br/>
    </span>
   </div>
   <div class="style-101">
    <div class="style-147">
     <div class="style-169">
      <span class="style-14">
       63
      </span>
     </div>
    </div>
   </div>
   <hr class="style-325"/>
   <div class="style-357">
    <div>
     <span>
      <br/>
     </span>
    </div>
   </div>
   <div>
    <span class="style-14">
     As of December&nbsp;31, 2024, the estimated future amortization expense of intangible assets for the twelve months ending December&nbsp;31 was as follows:
    </span>
   </div>
   <div>
    <span>
     <br/>
    </span>
   </div>
   <div>
    <table class="style-163">
     <tr>
      <td class="style-4">
      </td>
      <td class="style-81">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-197">
      </td>
      <td class="style-25">
      </td>
     </tr>
     <tr>
      <td class="style-248" colspan="3">
       <span class="style-303">
        In millions
       </span>
      </td>
      <td class="style-248" colspan="3">
       <span class="style-317">
        &nbsp;
       </span>
      </td>
     </tr>
     <tr>
      <td class="style-207" colspan="3">
       <span class="style-378">
        2025
       </span>
      </td>
      <td class="style-11">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-245">
       <span class="style-378">
        78&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
     </tr>
     <tr>
      <td class="style-139" colspan="3">
       <span class="style-378">
        2026
       </span>
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        59&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
     </tr>
     <tr>
      <td class="style-207" colspan="3">
       <span class="style-378">
        2027
       </span>
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        47&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
     </tr>
     <tr>
      <td class="style-139" colspan="3">
       <span class="style-378">
        2028
       </span>
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        37&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
     </tr>
     <tr>
      <td class="style-207" colspan="3">
       <span class="style-378">
        2029
       </span>
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        32&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
     </tr>
    </table>
   </div>
   <div>
    <span>
     <br/>
    </span>
   </div>
   <div id="ibfcf79ae2d6544b5879fd3b336a5e208_166">
   </div>