<p class="heading-1">
  Repurchases of Common Stock
</p>

<p class="body-text">
  On August 3, 2018, the Company announced a stock repurchase program which provided for the repurchase of up to $3.0 billion of the Company's common stock over an open-ended period of time (the "2018 Program"). The 2018 Program was completed in the first quarter of 2022.
</p>

<p class="body-text">
  On May 7, 2021, the Company announced a stock repurchase program which provided for the repurchase of up to an additional $3.0 billion of the Company's common stock over an open-ended period of time (the "2021 Program"). The 2021 Program was completed in the fourth quarter of 2023.
</p>

<p class="body-text">
  On August 4, 2023, the Company announced a stock repurchase program which provides for the repurchase of up to an additional $5.0 billion of the Company's common stock over an open-ended period of time (the "2023 Program"). As of December&nbsp;31, 2024, there were approximately $3.5&nbsp;billion of authorized repurchases remaining under the 2023 Program.
</p>

<p class="body-text">
  Share repurchase activity under the Company's share repurchase programs for the fourth quarter of 2024 was as follows:
</p>

<div class="table-container-top-margin">
  <table class="table-base" style="width:99.702%">
    <tr>
      <td style="width:1.0%"></td>
      <td style="width:18.750%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:15.168%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.546%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:12.183%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.546%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:23.974%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.546%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:22.187%"></td>
      <td style="width:0.1%"></td>
    </tr>
    <tr>
      <td colspan="6" class="table-cell table-cell-left">
        <span class="table-text-small">In millions except per share amounts</span>
      </td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
    </tr>
    <tr>
      <td colspan="3" class="table-cell table-header table-cell-left">
        <span class="table-text-header">Period</span>
      </td>
      <td colspan="3" class="table-cell table-header table-cell-center">
        <span class="table-text-header">Total Number of Shares Purchased</span>
      </td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-header table-cell-center">
        <span class="table-text-header">Average Price Paid Per Share</span>
      </td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-header table-cell-center">
        <span class="table-text-header">Total Number of Shares Purchased as Part of Publicly Announced Programs</span>
      </td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-header table-cell-center">
        <span class="table-text-header">Maximum Value of Shares That May Yet Be Purchased Under Programs</span>
      </td>
    </tr>
    <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-border-top table-cell-left">
        <span class="table-text">October 2024</span>
      </td>
      <td colspan="2" class="table-cell table-cell-border-top table-cell-right table-cell-padding-left">
        <span class="table-text">0.5&nbsp;</span>
      </td>
      <td class="table-cell table-cell-border-top table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-border-top table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-border-top table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">258.91&nbsp;</span>
      </td>
      <td class="table-cell table-cell-border-top table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-border-top table-cell-right table-cell-padding-left">
        <span class="table-text">0.5&nbsp;</span>
      </td>
      <td class="table-cell table-cell-border-top table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-border-top table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-border-top table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">3,721&nbsp;</span>
      </td>
      <td class="table-cell table-cell-border-top table-cell-right table-cell-padding-right"></td>
    </tr>
    <tr class="table-row-alt">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">November 2024</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
        <span class="table-text">0.5&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">271.32&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
        <span class="table-text">0.5&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">3,597&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
    </tr>
    <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">December 2024</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
        <span class="table-text">0.4&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">269.58&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
        <span class="table-text">0.4&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">3,490&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
    </tr>
    <tr class="table-row-alt">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Total</span>
      </td>
      <td colspan="2" class="table-cell table-cell-border-bottom table-cell-border-top table-cell-right table-cell-padding-left">
        <span class="table-text">1.4&nbsp;</span>
      </td>
      <td class="table-cell table-cell-border-bottom table-cell-border-top table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-border-bottom table-cell-border-top table-cell-right table-cell-padding-left">
        <span class="table-text">1.4&nbsp;</span>
      </td>
      <td class="table-cell table-cell-border-bottom table-cell-border-top table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
    </tr>
  </table>
</div>
