<p class="item-heading">
  <span class="item-number">ITEM&nbsp;13.</span>
  <span class="item-title">Certain Relationships and Related Transactions, and Director Independence</span>
</p>

<p class="body-text">
  Information regarding certain relationships and related transactions as well as director independence is incorporated by reference from the information under the captions "Proposal 1 - Election of Directors - Board Independence," "Other Governance Matters - Certain Relationships and Related-Party Transactions" and "Other Governance Matters - Corporate Governance Policies and Code of Conduct" in the Company's Proxy Statement for the 2025 Annual Meeting of Stockholders.
</p>