<p class="section-heading-italic">Stockholders' Equity</p>

<p class="body-text">
  The changes to stockholders' equity during 2024 and 2023 were as follows:
</p>

<div class="table-container-centered">
  <table class="table-base">
     <tr>
      <td style="width:1.0%">
      </td>
      <td style="width:68.394%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:1.0%">
      </td>
      <td style="width:13.780%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:0.544%">
      </td>
      <td style="width:0.1%">
      </td>
      <td style="width:1.0%">
      </td>
      <td style="width:13.782%">
      </td>
      <td style="width:0.1%">
      </td>
     </tr>
     <tr>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text-small">In millions</span>
      </td>
      <td colspan="3" class="table-cell table-cell-center">
        <span class="table-text-header">2024</span>
      </td>
      <td colspan="3" class="table-cell-padding-none">
      </td>
      <td colspan="3" class="table-cell table-cell-center">
        <span class="table-text-header">2023</span>
      </td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Beginning balance</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">3,013&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">3,089&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-alt">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Net income</span>
      </td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">3,488&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">2,957&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Cash dividends declared</span>
      </td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">(1,717)</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">(1,634)</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-alt">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Repurchases of common stock</span>
      </td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">(1,500)</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">(1,500)</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Other comprehensive income (loss)</span>
      </td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">(43)</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
        <span class="table-text">7&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-alt">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Other</span>
      </td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">76&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
        <span class="table-text">94&nbsp;</span>
      </td>
      <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr class="table-row-primary">
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Ending balance</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">3,317&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-left table-cell-padding-left">
        <span class="table-text">$</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-top-bottom">
        <span class="table-text">3,013&nbsp;</span>
      </td>
      <td class="table-cell table-row-primary table-cell-border-top table-cell-border-bottom table-cell-right table-cell-padding-right"></td>
     </tr>
  </table>
</div>