<h5 class="section-heading">OUR NEXT PHASE: 2024 - 2030</h5>

<p class="body-text">
  In the Next Phase of the Company's evolution, the ITW Business Model and the Enterprise Strategy framework will be as formidable of a competitive advantage and performance differentiator as it has been over the last decade, if not more so. Volatility, risk and the pace of change in the global operating environment will continue to increase, and a decentralized entrepreneurial culture allows the Company to be a fast adaptor &ndash; to read, react, respond and evolve. The Company's ability to consistently execute and invest through the ups and downs of the business cycle is now a defining competitive advantage.
</p>

<p class="body-text">
  Throughout the Next Phase, the Company's focus is to build organic growth into a core ITW strength on par with the Company's world-class financial performance and operational capabilities. Throughout this phase, the Company will sustain its foundational strengths built over the past decade, including the high-quality ITW Business Model practice. Customer-back Innovation ("CBI") is the most impactful driver to achieve high-quality organic growth through the cycle by establishing trusted problem solver relationships with key customers to effectively invent solutions that address customers' most critical pain points or tackle the biggest growth opportunities. CBI successes, coupled with underlying market growth and share gains, are how the Company intends to achieve its high-quality organic growth.
</p>

<div class="page-number">
  <div class="page-number-content">5</div>
</div>
<hr class="page-break page-break-line"/>
