<p class="section-heading">(2)&nbsp;&nbsp;&nbsp;&nbsp;Acquisitions</p>

<p class="body-text">
  On January 2, 2024, the Company completed the acquisition of one business in the Test &amp; Measurement and Electronics segment for $57&nbsp;million, net of cash acquired. On April 1, 2024, the Company completed the acquisition of one business in the Test &amp; Measurement and Electronics segment for $59&nbsp;million, net of cash acquired. The purchase price for both acquisitions is subject to certain closing adjustments. These acquisitions were not material, individually or in the aggregate, to the Company&rsquo;s results of operations, financial position or cash flows. The allocation of purchase price for these acquisitions will be completed as soon as practicable, but no later than one year from the acquisition date.
</p>
