<p class="section-heading-no-bottom-margin text-center">Statement of Changes in Stockholders' Equity</p>
<p class="body-text-bold text-center">Illinois Tool Works Inc. and Subsidiaries</p>
<div class="table-container table-container-centered table-container-top-margin">
  <table class="table-base table-statement-changes-equity">
    <tr>
      <td style="width:1.0%"></td>
      <td style="width:35.0%"></td>
      <td style="width:1.0%"></td>
      <td style="width:0.1%"></td>
      <td style="width:8.5%"></td>
      <td style="width:0.544%"></td>
      <td style="width:0.1%"></td>
      <td style="width:8.5%"></td>
      <td style="width:0.544%"></td>
      <td style="width:0.1%"></td>
      <td style="width:8.5%"></td>
      <td style="width:0.544%"></td>
      <td style="width:0.1%"></td>
      <td style="width:8.5%"></td>
      <td style="width:0.544%"></td>
      <td style="width:0.1%"></td>
      <td style="width:8.5%"></td>
      <td style="width:0.544%"></td>
      <td style="width:0.1%"></td>
      <td style="width:8.5%"></td>
      <td style="width:0.544%"></td>
      <td style="width:0.1%"></td>
      <td style="width:8.5%"></td>
      <td style="width:0.544%"></td>
    </tr>
    <thead>
      <tr>
        <th colspan="3" class="table-cell table-cell-left table-text-header" scope="colgroup">In millions except per share amounts</th>
        <th colspan="3" class="table-cell table-cell-center table-header" scope="colgroup">Common Stock</th>
        <th colspan="3" class="table-cell table-cell-center table-header" scope="colgroup">Additional Paid-in Capital</th>
        <th colspan="3" class="table-cell table-cell-center table-header" scope="colgroup">Retained Earnings</th>
        <th colspan="3" class="table-cell table-cell-center table-header" scope="colgroup">Common Stock Held in Treasury</th>
        <th colspan="3" class="table-cell table-cell-center table-header" scope="colgroup">Accumulated Other Comprehensive Income (Loss)</th>
        <th colspan="3" class="table-cell table-cell-center table-header" scope="colgroup">Noncontrolling Interest</th>
        <th colspan="3" class="table-cell table-cell-center table-header" scope="colgroup">Total</th>
      </tr>
    </thead>
    <tbody>
     <tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-header">
       <span class="table-text">Balance as of December 31, 2021</span>
      </td>
      <td class="table-cell table-cell-left table-cell-border-top table-cell-padding-left">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-top-bottom">
       <span class="table-text">6&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td class="table-cell table-cell-left table-cell-border-top table-cell-padding-left">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-top-bottom">
       <span class="table-text">
        1,432&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td class="table-cell table-cell-left table-cell-border-top table-cell-padding-left">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-top-bottom">
       <span class="table-text">
        24,325&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td class="table-cell table-cell-left table-cell-border-top table-cell-padding-left">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-top-bottom">
       <span class="table-text">
        (20,636)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td class="table-cell table-cell-left table-cell-border-top table-cell-padding-left">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-top-bottom">
       <span class="table-text">
        (1,502)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td class="table-cell table-cell-left table-cell-border-top table-cell-padding-left">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-top-bottom">
       <span class="table-text">
        1&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td class="table-cell table-cell-left table-cell-border-top table-cell-padding-left">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-top-bottom">
       <span class="table-text">
        3,626&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Net income</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">3,034&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">3,034&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Common stock issued for stock-based compensation</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">6&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">9&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        15&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Stock-based compensation expense</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        63&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        63&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Repurchases of common stock</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,750)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,750)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Dividends declared ($5.06 per share)</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,560)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,560)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Other comprehensive income (loss)</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (339)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (339)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <!-- <tr>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
      </tr> -->
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-header">
       <span class="table-text">Balance as of December 31, 2022</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-border-top table-cell-padding-left">
       <span class="table-text">6&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-border-top table-cell-padding-left">
       <span class="table-text">1,501&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-border-top table-cell-padding-left">
       <span class="table-text">25,799&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-border-top table-cell-padding-left">
       <span class="table-text">(22,377)</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-border-top table-cell-padding-left">
       <span class="table-text">(1,841)</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-border-top table-cell-padding-left">
       <span class="table-text">1&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-border-top table-cell-padding-left">
       <span class="table-text">3,089&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
     </tr>
     <tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Net income</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        2,957&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        2,957&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Common stock issued for stock-based compensation</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        18&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        20&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        38&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Stock-based compensation expense</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        69&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        69&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Repurchases of common stock</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,500)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,500)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Excise tax on repurchases of common stock</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (13)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (13)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Dividends declared ($5.42 per share)</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,634)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,634)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Other comprehensive income (loss)</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        7&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        7&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <!-- <tr>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
      </tr> -->
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-header">
       <span class="table-text">Balance as of December 31, 2023</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-border-top table-cell-padding-left">
       <span class="table-text">6&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-border-top table-cell-padding-left">
       <span class="table-text">1,588&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-border-top table-cell-padding-left">
       <span class="table-text">27,122&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-border-top table-cell-padding-left">
       <span class="table-text">(23,870)</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-border-top table-cell-padding-left">
       <span class="table-text">(1,834)</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-border-top table-cell-padding-left">
       <span class="table-text">1&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-border-top table-cell-padding-left">
       <span class="table-text">3,013&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
     </tr>
     <tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Net income</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        3,488&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        3,488&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Common stock issued for stock-based compensation</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        20&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        9&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        29&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Stock-based compensation expense</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        61&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        61&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Repurchases of common stock</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,500)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,500)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Excise tax on repurchases of common stock</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (14)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (14)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Dividends declared ($5.80 per share)</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,717)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,717)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
     <tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Other comprehensive income (loss)</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (43)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">&mdash;&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (43)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <!-- <tr>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
        <td colspan="3" class="table-cell table-cell-padding-empty-row"></td>
      </tr> -->
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-header">
       <span class="table-text">Balance as of December 31, 2024</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-left">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-top-bottom">
       <span class="table-text">6&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-right"></td>
      <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom table-cell-padding-left">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-top-bottom">
       <span class="table-text">1,669&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-right"></td>
      <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom table-cell-padding-left">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-top-bottom">
       <span class="table-text">28,893&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-right"></td>
      <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom table-cell-padding-left">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-top-bottom">
       <span class="table-text">(25,375)</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-right"></td>
      <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom table-cell-padding-left">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-top-bottom">
       <span class="table-text">(1,877)</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-right"></td>
      <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom table-cell-padding-left">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-top-bottom">
       <span class="table-text">1&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-border-right table-cell-padding-right"></td>
      <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom table-cell-padding-left">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-top-bottom">
       <span class="table-text">3,317&nbsp;</span>
      </td>
      <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-border-right table-cell-padding-right"></td>
     </tr>
    </tbody>
  </table>
</div>
<p class="table-note">The Notes to Financial Statements are an integral part of this statement.</p>

<div class="page-number">
  <div class="page-number-content">50</div>
</div>
<hr class="page-break page-break-line"/>