<h2 class="part-heading">PART III</h2>

<h3 class="item-heading">
  <span class="item-number">ITEM&nbsp;10.</span>
  <span class="item-title">Directors, Executive Officers and Corporate Governance</span>
</h3>

<p class="body-text">
  Information regarding the Directors of the Company who are standing for reelection and any persons nominated to become Directors of the Company is incorporated by reference from the information under the captions "Proposal 1 - Election of Directors" and "Delinquent Section 16(a) Reports" in the Company's Proxy Statement for the 2025 Annual Meeting of Stockholders.
</p>

<p class="body-text">
  Information regarding the Audit Committee and its Financial Experts is incorporated by reference from the information under the captions "Corporate Governance - Board of Directors and its Committees" and "Proposal 3 &ndash; Ratification of the Appointment of Independent Public Accounting Firm - Audit Committee Report" in the Company's Proxy Statement for the 2025 Annual Meeting of Stockholders.
</p>

<p class="body-text">
  Information regarding the Executive Officers of the Company can be found in Part I of this Annual Report on Form 10-K under the caption "Information About Our Executive Officers."
</p>

<p class="body-text">
  Information regarding the Company&rsquo;s Insider Trading Policy and related policies and procedures is incorporated by reference from the information under the caption "Other Governance Matters - Insider Trading Policies and Procedures" in the Company&rsquo;s Proxy Statement for the 2025 Annual Meeting of Stockholders.
</p>

<p class="body-text">
  Information regarding the Company's code of ethics that applies to the Company's President&nbsp;&amp; Chief Executive Officer, Senior Vice President&nbsp;&amp; Chief Financial Officer, and key financial and accounting personnel is incorporated by reference from the information under the caption "Corporate Governance Policies and Code of Conduct" in the Company's Proxy Statement for the 2025 Annual Meeting of Stockholders.
</p>