<h5 class="section-heading">(15)&nbsp;&nbsp;&nbsp;&nbsp;Other Balance Sheet Information</h5>

<p class="body-text">
  Other balance sheet information as of December 31, 2024 and 2023 was as follows:
</p>

<div class="table-container table-container-top-margin">
  <table class="table-base">
    <thead>
      <tr>
        <td style="width:1.0%"></td>
        <td style="width:68.394%"></td>
        <td style="width:0.1%"></td>
        <td style="width:1.0%"></td>
        <td style="width:13.780%"></td>
        <td style="width:0.1%"></td>
        <td style="width:0.1%"></td>
        <td style="width:0.544%"></td>
        <td style="width:0.1%"></td>
        <td style="width:1.0%"></td>
        <td style="width:13.782%"></td>
        <td style="width:0.1%"></td>
      </tr>
      <tr>
        <td colspan="3" class="table-cell table-cell-left table-text-header">In millions</td>
        <td colspan="3" class="table-cell table-cell-center table-header">2024</td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-cell-center table-header">2023</td>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-top">Prepaid expenses and other current assets:</td>
        <td colspan="3" class="table-cell-padding-none table-cell-border-top"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none table-cell-border-top"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Value-added-tax receivables</td>
        <td class="table-cell table-cell-left table-cell-padding-left">$</td>
        <td class="table-cell table-cell-right table-cell-padding-top-bottom">67</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-padding-left">$</td>
        <td class="table-cell table-cell-right table-cell-padding-top-bottom">99</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Vendor advances</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">60</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">55</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Income tax refunds receivable</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">38</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">29</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Other</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">147</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">157</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Total prepaid expenses and other current assets</td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-padding-left">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-top-bottom">312</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-padding-left">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-top-bottom">340</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary" style="height:14pt">
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none table-cell-border-top-double"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none table-cell-border-top-double"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Other assets:</td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Cash surrender value of life insurance policies</td>
        <td class="table-cell table-cell-left table-cell-padding-left">$</td>
        <td class="table-cell table-cell-right table-cell-padding-top-bottom">439</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-padding-left">$</td>
        <td class="table-cell table-cell-right table-cell-padding-top-bottom">436</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Prepaid pension assets</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">305</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">243</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Operating lease right-of-use assets</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">266</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">248</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Customer tooling</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">176</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">181</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Other</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">189</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">154</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Total other assets</td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-padding-left">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-top-bottom">1,375</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-padding-left">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-top-bottom">1,262</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary" style="height:14pt">
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none table-cell-border-top-double"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none table-cell-border-top-double"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Accrued expenses:</td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Compensation and employee benefits</td>
        <td class="table-cell table-cell-left table-cell-padding-left">$</td>
        <td class="table-cell table-cell-right table-cell-padding-top-bottom">407</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-padding-left">$</td>
        <td class="table-cell table-cell-right table-cell-padding-top-bottom">423</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Deferred revenue and customer deposits</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">360</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">395</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Rebates</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">200</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">218</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Current portion of operating lease liabilities</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">57</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">58</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Warranties</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">52</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">48</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Current portion of pension and other postretirement benefit obligations</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">14</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">32</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Other</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">486</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">489</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Total accrued expenses</td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-padding-left">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-top-bottom">1,576</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-padding-left">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-top-bottom">1,663</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary" style="height:14pt">
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none table-cell-border-top-double"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none table-cell-border-top-double"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Other liabilities:</td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Pension benefit obligation</td>
        <td class="table-cell table-cell-left table-cell-padding-left">$</td>
        <td class="table-cell table-cell-right table-cell-padding-top-bottom">159</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-padding-left">$</td>
        <td class="table-cell table-cell-right table-cell-padding-top-bottom">170</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Long-term portion of operating lease liabilities</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">158</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">148</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Postretirement benefit obligation</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">65</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">142</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent table-cell-top">Other</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">633</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">554</td>
        <td class="table-cell table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left">Total other liabilities</td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom table-cell-padding-left">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-top-bottom">1,015</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-right"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom table-cell-padding-left">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-top-bottom">1,014</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-right"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="page-number">
  <div class="page-number-content">76</div>
</div>
<hr class="page-break page-break-line"/>