<h5 class="section-heading">Intellectual Property</h5>

<p class="body-text">
  The Company owns approximately 4,100 unexpired U.S. patents and 10,500 unexpired foreign patents covering articles, methods and machines. In addition, the Company has approximately 1,500 applications for patents pending in the U.S. Patent Office and 4,800 applications pending in foreign patent offices. There is no assurance that any of these patents will be issued. The Company maintains a patent group for the administration of patents and processing of patent applications.
</p>

<p class="body-text">
  The Company believes that many of its patents are valuable and important; however, the expiration of any one of the Company's patents would not have a material effect on the Company's results of operations or financial position. The Company also credits its success in the markets it serves to engineering capability; manufacturing techniques; skills and efficiency; marketing and sales promotion; and service and delivery of quality products to its customers.
</p>

<p class="body-text">
  In addition to patents, many of the Company's products and services are sold under various owned or licensed trademarks, which are important to the Company in the aggregate. Some of the Company's more significant trademarks include ITW, which is also used in conjunction with the trademarks of many of the Company's businesses; Deltar and Shakeproof in the Automotive OEM segment; Hobart in the Food Equipment segment; Instron and MTS in the Test &amp; Measurement and Electronics segment; Miller in the Welding segment; Rain-X and Permatex in the Polymers &amp; Fluids segment; Paslode in the Construction Products segment; and Hi-Cone in the Specialty Products segment.
</p>

<div class="page-number">
  <div class="page-number-content">7</div>
</div>
<hr class="page-break page-break-line"/>
