<p class="section-heading">(7)&nbsp;&nbsp;&nbsp;&nbsp;Net Income Per Share</p>

<p class="body-text">
  Net income per basic share is computed by dividing net income by the weighted-average number of shares outstanding for the period. Net income per diluted share is computed by dividing net income by the weighted-average number of shares assuming dilution for stock options and restricted stock units. Dilutive shares reflect the potential additional shares that would be outstanding if the dilutive stock options outstanding were exercised and the unvested restricted stock units vested during the period. The computation of net income per share for the twelve months ended December 31, 2024, 2023 and 2022 was as follows:
</p>

<div class="table-container table-container-top-margin">
  <table class="table-base">
    <tr>
      <td class="table-cell-padding-none" style="width:1.0%"></td>
      <td class="table-cell-padding-none" style="width:48.0%"></td>
      <td class="table-cell-padding-none" style="width:1.0%"></td>
      <td class="table-cell-padding-none" style="width:1.0%"></td>
      <td class="table-cell-padding-none" style="width:13.780%"></td>
      <td class="table-cell-padding-none" style="width:0.1%"></td>
      <td class="table-cell-padding-none" style="width:0.1%"></td>
      <td class="table-cell-padding-none" style="width:0.544%"></td>
      <td class="table-cell-padding-none" style="width:0.1%"></td>
      <td class="table-cell-padding-none" style="width:1.0%"></td>
      <td class="table-cell-padding-none" style="width:13.780%"></td>
      <td class="table-cell-padding-none" style="width:0.1%"></td>
      <td class="table-cell-padding-none" style="width:0.1%"></td>
      <td class="table-cell-padding-none" style="width:0.544%"></td>
      <td class="table-cell-padding-none" style="width:0.1%"></td>
      <td class="table-cell-padding-none" style="width:1.0%"></td>
      <td class="table-cell-padding-none" style="width:13.783%"></td>
      <td class="table-cell-padding-none" style="width:0.1%"></td>
    </tr>
    <thead>
      <tr>
        <th colspan="3" class="table-cell table-cell-left table-text-header" scope="colgroup">In millions except per share amounts</th>
        <th colspan="3" class="table-cell table-cell-center table-header" scope="colgroup">2024</th>
        <th colspan="3" class="table-cell-padding-none" scope="colgroup"></th>
        <th colspan="3" class="table-cell table-cell-center table-header" scope="colgroup">2023</th>
        <th colspan="3" class="table-cell-padding-none" scope="colgroup"></th>
        <th colspan="3" class="table-cell table-cell-center table-header" scope="colgroup">2022</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left">Net Income</td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom">3,488</td>
        <td class="table-cell-padding-none table-cell-border-top table-cell-border-bottom"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom">2,957</td>
        <td class="table-cell-padding-none table-cell-border-top table-cell-border-bottom"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom">3,034</td>
        <td class="table-cell-padding-none table-cell-border-top table-cell-border-bottom"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Net income per share&mdash;Basic:</td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Weighted-average common shares</td>
        <td colspan="2" class="table-cell table-cell-right">296.8</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">302.6</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">309.6</td>
        <td class="table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Net income per share&mdash;Basic</td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom">11.75</td>
        <td class="table-cell-padding-none table-cell-border-top table-cell-border-bottom"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom">9.77</td>
        <td class="table-cell-padding-none table-cell-border-top table-cell-border-bottom"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom">9.80</td>
        <td class="table-cell-padding-none table-cell-border-top table-cell-border-bottom"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left">Net income per share&mdash;Diluted:</td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Weighted-average common shares</td>
        <td colspan="2" class="table-cell table-cell-right">296.8</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">302.6</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">309.6</td>
        <td class="table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Effect of dilutive stock options and restricted stock units</td>
        <td colspan="2" class="table-cell table-cell-right">1.0</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">1.0</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">1.1</td>
        <td class="table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Weighted-average common shares assuming dilution</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-border-top">297.8</td>
        <td class="table-cell-padding-none table-cell-border-top"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-border-top">303.6</td>
        <td class="table-cell-padding-none table-cell-border-top"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-border-top">310.7</td>
        <td class="table-cell-padding-none table-cell-border-top"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Net income per share&mdash;Diluted</td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom">11.71</td>
        <td class="table-cell-padding-none table-cell-border-top table-cell-border-bottom"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom">9.74</td>
        <td class="table-cell-padding-none table-cell-border-top table-cell-border-bottom"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom">9.77</td>
        <td class="table-cell-padding-none table-cell-border-top table-cell-border-bottom"></td>
      </tr>
    </tbody>
  </table>
  <div class="page-number">
    <div class="page-number-content">62</div>
  </div>
</div>
<hr class="page-break page-break-line"/>

<p class="body-text">
  Options that were considered antidilutive were not included in the computation of diluted net income per share. There were 0.2&nbsp;million, 0.3 million and 0.9&nbsp;million antidilutive options outstanding for the twelve months ended December 31, 2024, 2023 and 2022, respectively.
</p>
