<p class="section-heading-no-bottom-margin text-center">Statement of Income</p>
<p class="body-text-bold text-center">Illinois Tool Works Inc. and Subsidiaries</p>

<div class="table-container table-container-centered table-container-top-margin">
  <table class="table-base">
    <thead>
      <tr>
        <th class="table-cell table-cell-left"></th>
        <th class="table-cell table-cell-center table-header" scope="col">2024</th>
        <th class="table-cell table-cell-center table-header" scope="col">2023</th>
        <th class="table-cell table-cell-center table-header" scope="col">2022</th>
      </tr>
      <tr>
        <th class="table-cell table-cell-left table-text-header" scope="colgroup">In millions except per share amounts</th>
        <th class="table-cell table-cell-center table-text-header" colspan="3" scope="colgroup">For the Years Ended December&nbsp;31</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row-primary">
        <td class="table-cell table-cell-left table-header table-cell-border-top">Operating Revenue</td>
        <td class="table-cell table-cell-right table-cell-border-top">$ 15,898</td>
        <td class="table-cell table-cell-right table-cell-border-top">$ 16,107</td>
        <td class="table-cell table-cell-right table-cell-border-top">$ 15,932</td>
      </tr>
      <tr class="table-row-alt">
        <td class="table-cell table-cell-left table-cell-padding-indent">Cost of revenue</td>
        <td class="table-cell table-cell-right">8,858</td>
        <td class="table-cell table-cell-right">9,316</td>
        <td class="table-cell table-cell-right">9,429</td>
      </tr>
      <tr class="table-row-alt">
        <td class="table-cell table-cell-left table-cell-padding-indent">Selling, administrative, and research and development expenses</td>
        <td class="table-cell table-cell-right">2,675</td>
        <td class="table-cell table-cell-right">2,638</td>
        <td class="table-cell table-cell-right">2,579</td>
      </tr>
      <tr class="table-row-alt">
        <td class="table-cell table-cell-left table-cell-padding-indent">Amortization and impairment of intangible assets</td>
        <td class="table-cell table-cell-right">101</td>
        <td class="table-cell table-cell-right">113</td>
        <td class="table-cell table-cell-right">134</td>
      </tr>
      <tr class="table-row-primary">
        <td class="table-cell table-cell-left table-header">Operating Income</td>
        <td class="table-cell table-cell-right">4,264</td>
        <td class="table-cell table-cell-right">4,040</td>
        <td class="table-cell table-cell-right">3,790</td>
      </tr>
      <tr class="table-row-alt">
        <td class="table-cell table-cell-left table-cell-padding-indent">Interest expense</td>
        <td class="table-cell table-cell-right">(283)</td>
        <td class="table-cell table-cell-right">(266)</td>
        <td class="table-cell table-cell-right">(203)</td>
      </tr>
      <tr class="table-row-alt">
        <td class="table-cell table-cell-left table-cell-padding-indent">Other income (expense)</td>
        <td class="table-cell table-cell-right">441</td>
        <td class="table-cell table-cell-right">49</td>
        <td class="table-cell table-cell-right">255</td>
      </tr>
      <tr class="table-row-primary">
        <td class="table-cell table-cell-left table-header">Income Before Taxes</td>
        <td class="table-cell table-cell-right">4,422</td>
        <td class="table-cell table-cell-right">3,823</td>
        <td class="table-cell table-cell-right">3,842</td>
      </tr>
      <tr class="table-row-alt">
        <td class="table-cell table-cell-left table-cell-padding-indent">Income taxes</td>
        <td class="table-cell table-cell-right">934</td>
        <td class="table-cell table-cell-right">866</td>
        <td class="table-cell table-cell-right">808</td>
      </tr>
      <tr class="table-row-primary">
        <td class="table-cell table-cell-left table-header table-cell-border-bottom">Net Income</td>
        <td class="table-cell table-cell-right table-cell-border-bottom">$ 3,488</td>
        <td class="table-cell table-cell-right table-cell-border-bottom">$ 2,957</td>
        <td class="table-cell table-cell-right table-cell-border-bottom">$ 3,034</td>
      </tr>

      <tr class="table-row-primary">
        <td class="table-cell table-cell-left table-header">Net Income Per Share:</td>
        <td class="table-cell table-cell-right"></td>
        <td class="table-cell table-cell-right"></td>
        <td class="table-cell table-cell-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td class="table-cell table-cell-left table-cell-padding-indent-10">Basic</td>
        <td class="table-cell table-cell-right">$ 11.75</td>
        <td class="table-cell table-cell-right">$ 9.77</td>
        <td class="table-cell table-cell-right">$ 9.80</td>
      </tr>
      <tr class="table-row-primary">
        <td class="table-cell table-cell-left table-cell-padding-indent-10">Diluted</td>
        <td class="table-cell table-cell-right">$ 11.71</td>
        <td class="table-cell table-cell-right">$ 9.74</td>
        <td class="table-cell table-cell-right">$ 9.77</td>
      </tr>
    </tbody>
  </table>
</div>

<p class="table-note">The Notes to Financial Statements are an integral part of this statement.</p>

<div class="page-number">
  <div class="page-number-content">47</div>
</div>
<hr class="page-break page-break-line"/>