<h2 class="item-heading">
  <span class="item-number">ITEM&nbsp;8.</span>
  <span class="item-title">Financial Statements and Supplementary Data</span>
</h2>

<p class="section-heading">MANAGEMENT REPORT ON INTERNAL CONTROL OVER FINANCIAL REPORTING</p>

<p class="body-text">The management of Illinois Tool Works Inc. (the "Company" or "ITW") is responsible for establishing and maintaining adequate internal control over financial reporting, as such term is defined in Exchange Act Rule 13a-15(f). ITW's internal control system was designed to provide reasonable assurance to the Company's management and Board of Directors regarding the preparation and fair presentation of published financial statements.</p>

<p class="body-text">All internal control systems, no matter how well designed, have inherent limitations. Therefore, even those systems determined to be effective can provide only reasonable assurance with respect to financial statement preparation and presentation.</p>

<p class="body-text">ITW management assessed the effectiveness of the Company's internal control over financial reporting as of December&nbsp;31, 2024. In making this assessment, it used the criteria set forth by the Committee of Sponsoring Organizations of the Treadway Commission (COSO) in Internal Control&mdash;Integrated Framework (2013). Based on our assessment we believe that, as of December&nbsp;31, 2024, the Company's internal control over financial reporting is effective based on those criteria.</p>

<p class="body-text">The effectiveness of the Company's internal control over financial reporting as of December&nbsp;31, 2024 has been audited by Deloitte&nbsp;&amp; Touche LLP, an independent registered public accounting firm, as stated in their attestation report included herein.</p>

<div class="signature-blocks">
  <div class="signature-block">
    <p class="body-text signature-line">/s/ Christopher A. O'Herlihy</p>
    <p class="body-text signature-line">Christopher A. O'Herlihy</p>
    <p class="body-text signature-line">President&nbsp;&amp; Chief Executive Officer</p>
    <p class="body-text signature-line">February 14, 2025</p>
  </div>
  <div class="signature-block">
    <p class="body-text signature-line">/s/ Michael M. Larsen</p>
    <p class="body-text signature-line">Michael M. Larsen</p>
    <p class="body-text signature-line">Senior Vice President&nbsp;&amp; Chief Financial Officer</p>
    <p class="body-text signature-line">February 14, 2025</p>
  </div>
</div>

<div class="page-number">
  <div class="page-number-content">44</div>
</div>
<hr class="page-break page-break-line"/>