<p class="section-heading-no-bottom-margin text-center">Statement of Cash Flows</p>
<p class="body-text-bold text-center">Illinois Tool Works Inc. and Subsidiaries</p>

<div class="table-container table-container-centered table-container-top-margin">
  <table class="table-base table-statement-cash-flows">
    <tr>
      <td style="width:1.0%"></td>
      <td style="width:48.0%"></td>
      <td style="width:1.0%"></td>
      <td style="width:1.0%"></td>
      <td style="width:13.780%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.544%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:13.780%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.544%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:13.783%"></td>
      <td style="width:0.1%"></td>
    </tr>
    <thead>
      <tr>
        <th colspan="3" class="table-cell table-cell-left" scope="colgroup"></th>
        <th class="table-cell table-cell-center table-text-header" colspan="15" scope="colgroup">For the Years Ended December&nbsp;31</th>
      </tr>
      <tr>
        <th colspan="3" class="table-cell table-cell-left table-text-header" scope="colgroup">In millions</th>
        <th colspan="3" class="table-cell table-cell-center table-header table-cell-border-top" scope="colgroup">2024</th>
        <th colspan="3" class="table-cell-padding-none table-cell-border-top" scope="colgroup"></th>
        <th colspan="3" class="table-cell table-cell-center table-header table-cell-border-top" scope="colgroup">2023</th>
        <th colspan="3" class="table-cell-padding-none table-cell-border-top" scope="colgroup"></th>
        <th colspan="3" class="table-cell table-cell-center table-header table-cell-border-top" scope="colgroup">2022</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-header">
       <span class="table-text">Cash Provided by (Used for) Operating Activities:</span>
      </td>
        <td colspan="3" class="table-cell table-cell-padding-none table-cell-border-top"></td>
        <td colspan="3" class="table-cell table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-cell-padding-none table-cell-border-top"></td>
        <td colspan="3" class="table-cell table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-cell-padding-none table-cell-border-top"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Net income</span>
      </td>
        <td class="table-cell table-row-alt table-cell-left table-cell-padding-left">
       <span class="table-text">$</span>
      </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-top-bottom">
       <span class="table-text">3,488&nbsp;</span>
      </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td class="table-cell table-row-alt table-cell-left table-cell-padding-left">
       <span class="table-text">$</span>
      </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-top-bottom">
       <span class="table-text">2,957&nbsp;</span>
      </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td class="table-cell table-row-alt table-cell-left table-cell-padding-left">
       <span class="table-text">$</span>
      </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-top-bottom">
       <span class="table-text">3,034&nbsp;</span>
      </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Adjustments to reconcile net income to cash provided by operating activities:</span>
      </td>
        <td colspan="3" class="table-cell table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Depreciation</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        301&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        282&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        276&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Amortization and impairment of intangible assets</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        101&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        113&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        134&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Change in deferred income taxes</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (176)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (88)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (150)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">
        Provision for uncollectible accounts
       </span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        6&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        5&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">
        (Income) loss from investments
       </span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (2)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (9)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">
        (Gain) loss on sale of plant and equipment
       </span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">
        (Gain) loss on sale of operations and affiliates
       </span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (191)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">
        Gain on sale of noncontrolling interest in Wilsonart International Holdings LLC
       </span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (363)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">
        Stock-based compensation expense
       </span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        61&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        69&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        63&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">
        Cumulative effect of change in inventory accounting method
       </span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (117)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">
        Other non-cash items, net
       </span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        6&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (4)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        5&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-header">
       <span class="table-text">Change in assets and liabilities, net of acquisitions and divestitures:</span>
      </td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">(Increase) decrease in&mdash;</span>
      </td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent-double">
       <span class="table-text">
        Trade receivables
       </span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        34&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        64&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (461)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent-double">
       <span class="table-text">
        Inventories
       </span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        176&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        360&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (455)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent-double">
       <span class="table-text">
        Prepaid expenses and other assets
       </span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (41)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (26)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (19)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Increase (decrease) in&mdash;</span>
      </td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent-double">
       <span class="table-text">
        Accounts payable
       </span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (43)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (14)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        35&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent-double">
       <span class="table-text">
        Accrued expenses and other liabilities
       </span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (74)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (102)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        119&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent-double">
       <span class="table-text">    
        Income taxes
       </span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (70)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (72)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (35)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Other, net</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (2)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (2)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-header table-cell-padding-indent-double">
       <span class="table-text">Net cash provided by operating activities</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left table-cell-border-top">
       <span class="table-text">
        3,281&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left table-cell-border-top">
       <span class="table-text">
        3,539&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left table-cell-border-top">
       <span class="table-text">
        2,348&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-header">
       <span class="table-text">Cash Provided by (Used for) Investing Activities:</span>
      </td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Acquisition of businesses (excluding cash and equivalents)</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (115)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (2)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Additions to plant and equipment</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (437)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (455)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (412)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Proceeds from investments</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        11&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        27&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        12&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Proceeds from sale of plant and equipment</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        12&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        20&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        15&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Proceeds from sale of operations and affiliates</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        7&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        278&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Proceeds from sale of noncontrolling interest in Wilsonart International Holdings LLC</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        395&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        &mdash;&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Other, net</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (10)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (2)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-header table-cell-padding-indent-double">
       <span class="table-text">Net cash provided by (used for) investing activities</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left table-cell-border-top">
       <span class="table-text">
        (144)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left table-cell-border-top">
       <span class="table-text">
        (403)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left table-cell-border-top">
       <span class="table-text">
        (110)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-header">
       <span class="table-text">Cash Provided by (Used for) Financing Activities:</span>
      </td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Cash dividends paid</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,695)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,615)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,542)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Issuance of common stock</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        52&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        53&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        29&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Repurchases of common stock</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,500)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,500)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,750)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Net proceeds from (repayments of) debt with original maturities of three months or less</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        312&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (452)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        796&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Proceeds from debt with original maturities of more than three months</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        1,606&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        1,425&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        593&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Repayments of debt with original maturities of more than three months</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,926)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (679)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (1,113)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Other, net</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (38)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (14)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (13)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-header table-cell-padding-indent-double">
       <span class="table-text">Net cash provided by (used for) financing activities</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left table-cell-border-top">
       <span class="table-text">
        (3,189)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left table-cell-border-top">
       <span class="table-text">
        (2,782)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left table-cell-border-top">
       <span class="table-text">
        (3,000)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-header">
       <span class="table-text">Effect of Exchange Rate Changes on Cash and Equivalents</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (65)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        3&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (57)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-header">
       <span class="table-text">Cash and Equivalents:</span>
      </td>
      <td colspan="3" class="table-cell table-cell-padding-none table-cell-border-top"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none table-cell-border-top"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none table-cell-border-top"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Increase (decrease) during the year</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (117)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        357&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        (819)
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Beginning of year</span>
      </td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        1,065&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        708&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="2" class="table-cell table-cell-right table-cell-padding-left">
       <span class="table-text">
        1,527&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">End of year</span>
      </td>
      <td class="table-cell table-cell-left table-cell-padding-left table-cell-border-top table-cell-border-bottom">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-top-bottom table-cell-border-top table-cell-border-bottom">
       <span class="table-text">
        948&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-padding-left table-cell-border-top table-cell-border-bottom">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-top-bottom table-cell-border-top table-cell-border-bottom">
       <span class="table-text">
        1,065&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-padding-left table-cell-border-top table-cell-border-bottom">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-top-bottom table-cell-border-top table-cell-border-bottom">
       <span class="table-text">
        708&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-header">
       <span class="table-text">Supplementary Cash Flow Information:</span>
      </td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
     </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Cash Paid During the Year for Interest</span>
      </td>
      <td class="table-cell table-cell-left table-cell-padding-left table-cell-border-bottom">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-top-bottom table-cell-border-bottom">
       <span class="table-text">
        248&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-padding-left table-cell-border-bottom">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-top-bottom table-cell-border-bottom">
       <span class="table-text">
        260&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-padding-left table-cell-border-bottom">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-top-bottom table-cell-border-bottom">
       <span class="table-text">
        199&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">
       <span class="table-text">Cash Paid During the Year for Income Taxes, Net of Refunds</span>
      </td>
      <td class="table-cell table-cell-left table-cell-padding-left table-cell-border-bottom">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-top-bottom table-cell-border-bottom">
       <span class="table-text">
        1,180&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-padding-left table-cell-border-bottom">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-top-bottom table-cell-border-bottom">
       <span class="table-text">
        1,026&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
      <td colspan="3" class="table-cell table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-padding-left table-cell-border-bottom">
       <span class="table-text">$</span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-top-bottom table-cell-border-bottom">
       <span class="table-text">
        993&nbsp;
       </span>
      </td>
      <td class="table-cell table-cell-right table-cell-padding-right"></td>
     </tr>
    </tbody>
  </table>
</div>

<p class="table-note">The Notes to Financial Statements are an integral part of this statement.</p>

<div class="page-number">
  <div class="page-number-content">51</div>
</div>
<hr class="page-break page-break-line"/>