<h5 class="section-heading">Human Capital Management</h5>

<p class="body-text">
  As of December&nbsp;31, 2024, the Company employed approximately 44,000 people, with approximately 16,000 people located in the United States and the remainder in multiple other countries where the Company's businesses operate. The Company strives to be a great employer through its demonstrated commitment to employee safety, its workplace culture, talent development, the ITW employee experience, compensation and benefits.
</p>

<div>
  <h6 class="heading-2 no-bold">Employee Safety.</h6>
  <p class="body-text">
    The safety and well-being of ITW's colleagues around the world is its top priority, in addition to being an essential component of our commitment to be a great employer. Guided by the Company's Enterprise Safety Strategy and the philosophy that every accident is preventable, ITW strives every day to foster a proactive safety culture. ITW's Enterprise Safety Strategy and Safety Policy are based on the following core principles: (i) a goal of zero accidents; (ii) shared ownership for safety (business and individual); (iii) proactive approach focused on accident prevention; (iv) continuous improvement philosophy; and (v) compliance with applicable national, regional, and local health and safety laws and regulations.
  </p>
</div>

<div class="vertical-padding">
  <h6 class="heading-2 no-bold">Workplace Culture.</h6>
  <p class="body-text">The Company's culture is deeply rooted in its core values: Integrity, Respect, Trust, Shared Risk and Simplicity. ITW colleagues are empowered to think and act like business owners within the Company's decentralized, entrepreneurial culture. Our decentralized structure allows each division to operate with autonomy and enables our people to embrace the personal impact they can make.</p>
</div>

<div class="vertical-padding">
  <h6 class="heading-2 no-bold">Talent Development.</h6>
  <p class="body-text">The Company strives for all colleagues to "own" their careers and feel valued for the work they do. ITW colleagues are encouraged to learn new skills and capabilities primarily through on-the-job experience, hands-on coaching and feedback, in addition to formal training.</p>
</div>

<div class="vertical-padding">
  <p class="body-text">
    The Great ITW Leader Framework defines leadership capabilities and attributes to help colleagues to reach their full potential as leaders. Great ITW Leaders are expected to make great strategic choices to drive above-market organic growth, be an expert in the practice of customer-back innovation and the ITW Business Model, deliver great results, be great talent managers and lead through ITW's culture and values. Great ITW Leaders who have expertise in the ITW Business Model are the critical factor in translating the potential of the ITW Business Model into full performance. Because this expertise develops over time and through specific experiences, the Company focuses on developing and promoting its own talent to support the Company's sustained business success over the long term.
  </p>
</div>

<div>
  <h6 class="heading-2 no-bold">The ITW Employee Experience.</h6>
  <p class="body-text">
    ITW believes it is at its best when it brings together unique perspectives, experiences, and ideas. Rooted in ITW's core values of Respect and Integrity, the Company is committed to equal employment opportunity, fair treatment and creating inclusive workplaces where all ITW colleagues can perform to their full potential. Consistent with these values, ITW is also committed to attracting the best talent for its global leadership teams, valuing the perspectives of every ITW colleague, and reflecting the communities where we live and work. ITW drives progress through a comprehensive enterprise talent management strategy, which focuses on: (i) leadership commitment and accountability; (ii) attracting and retaining great ITW talent; (iii) creating inclusive workplaces; and (iv) striving to be a great employer.
  </p>
</div>

<div class="vertical-padding">
  <h6 class="heading-2 no-bold">Compensation and Benefits.</h6>
  <p class="body-text">
    As a global employer, the Company is committed to providing market-competitive compensation and benefits that support physical, mental, and financial well-being to attract and retain great talent across its global divisions. Specific compensation and benefits vary worldwide and are based on regional practices. In the U.S., the Company focuses on providing a comprehensive, competitive benefits package that supports the health and wellness, educational endeavors, community involvement and financial stability of its colleagues.
  </p>
</div>

<div class="page-number">
  <div class="page-number-content">8</div>
</div>
<hr class="page-break page-break-line"/>

<div class="vertical-padding">
  <h6 class="heading-2 no-bold">Labor Relations.</h6>
  <p class="body-text">
    Less than three percent of the Company's U.S. employees are represented by a labor union. Outside the U.S., employees in certain countries are represented by an employee representative organization, such as a union, works council or employee association. The Company considers its employee relations to be excellent.
  </p>
</div>
