<h2 class="section-heading">Government Regulations</h2>

<p class="body-text">
  The Company believes that its businesses and operations, including its manufacturing plants and equipment, are in substantial compliance with all applicable government laws and regulations, including those related to environmental, consumer protection, international trade, labor and employment, human rights, tax, anti-bribery and competition matters. Any additional measures to maintain compliance are not expected to materially affect the Company's capital expenditures (including expenditures for environmental control facilities), competitive position, financial position or results of operations.
</p>

<p class="body-text">
  Various legislative and administrative regulations applicable to the Company in the matters noted above have become effective or are under consideration in many parts of the world. To date, such developments have not had a substantial adverse impact on the Company's revenues, earnings or cash flows. However, if new or amended laws or regulations impose significant operational restrictions and compliance requirements upon the Company or its products, the Company's business, capital expenditures, results of operations, financial condition and competitive position could be negatively impacted. Refer to Item 1A. Risk Factors for further information.
</p>
