<h4 class="section-heading section-heading-no-bottom-margin text-center heading-1">Statement of Financial Position</h4>
<p class="body-text-bold text-center">Illinois Tool Works Inc. and Subsidiaries</p>

<div class="table-container table-container-centered table-container-top-margin">
  <table class="table-base">
    <tr>
      <td style="width:1.0%"></td>
      <td style="width:48.0%"></td>
      <td style="width:1.0%"></td>
      <td style="width:1.0%"></td>
      <td style="width:13.780%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.544%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:13.780%"></td>
      <td style="width:0.1%"></td>
    </tr>
    <thead>
      <tr>
        <th colspan="3" class="table-cell table-cell-left" scope="colgroup"></th>
        <th class="table-cell table-cell-center table-text-header" colspan="9" scope="colgroup">December&nbsp;31</th>
      </tr>
      <tr>
        <th colspan="3" class="table-cell table-cell-left table-text-header" scope="colgroup">In millions except per share amounts</th>
        <th colspan="3" class="table-cell table-cell-center table-header table-cell-border-top" scope="colgroup">2024</th>
        <th colspan="3" class="table-cell-padding-none table-cell-border-top" scope="colgroup"></th>
        <th colspan="3" class="table-cell table-cell-center table-header table-cell-border-top" scope="colgroup">2023</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-header">Assets</td>
        <td colspan="3" class="table-cell table-row-primary table-cell-border-top table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-border-top table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Current Assets:</td>
        <td colspan="9" class="table-cell table-row-alt table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Cash and equivalents</td>
        <td class="table-cell table-row-primary table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">948&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td class="table-cell table-row-primary table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">1,065&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Trade receivables</td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">2,991&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">3,123&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Inventories</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">1,605&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">1,707&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Prepaid expenses and other current assets</td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">312&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">340&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent-double">Total current assets</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-border-top table-cell-padding-left">
          <span class="table-text">5,856&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-border-top table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-border-top table-cell-padding-left">
          <span class="table-text">6,235&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-border-top table-cell-padding-right"></td>
      </tr>
      <tr>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"><br/></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left">Net plant and equipment</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">2,036&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">1,976&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Goodwill</td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">4,839&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">4,909&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left">Intangible assets</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">592&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">657&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Deferred income taxes</td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">369&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">479&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr> 
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left">Other assets</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">1,375&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">1,262&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left"></td>
        <td class="table-cell table-row-alt table-cell-left table-cell-border-top table-cell-border-bottom table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-top-bottom">
          <span class="table-text">15,067&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td class="table-cell table-row-alt table-cell-left table-cell-border-top table-cell-border-bottom table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-top-bottom">
          <span class="table-text">15,518&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-right"></td>
      </tr>
      <tr>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"><br/></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-header">Liabilities and Stockholders' Equity</td>
        <td colspan="9" class="table-cell table-row-alt table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left">Current Liabilities:</td>
        <td colspan="9" class="table-cell table-row-primary table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Short-term debt</td>
        <td class="table-cell table-row-alt table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">1,555&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td class="table-cell table-row-alt table-cell-left table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-top-bottom">
          <span class="table-text">1,825&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Accounts payable</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">519&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">581&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Accrued expenses</td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">1,576&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">1,663&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Cash dividends payable</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">441&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">419&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Income taxes payable</td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">217&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">187&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent-double">Total current liabilities</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-border-top">
          <span class="table-text">4,308&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-border-top">
          <span class="table-text">4,675&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Noncurrent Liabilities:</td>
        <td colspan="9" class="table-cell table-row-alt table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Long-term debt</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">6,308&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">6,339&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Deferred income taxes</td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">119&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">326&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Noncurrent income taxes payable</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">&mdash;&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">151&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Other liabilities</td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">1,015&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">1,014&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent-double">Total noncurrent liabilities</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-border-top">
          <span class="table-text">7,442&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-border-top">
          <span class="table-text">7,830&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Stockholders' Equity:</td>
        <td colspan="9" class="table-cell table-row-alt table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Common stock (Authorized- 700.0 shares; par value of $0.01 per share):</td>
        <td colspan="9" class="table-cell table-row-primary table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent-double">
          <p class="body-text" style="margin: 0; padding: 0; margin-bottom: 0;">Issued- 550.0 shares in 2024 and 2023</p>
          <p class="body-text" style="margin: 0; padding: 0;">Outstanding- 294.0 shares in 2024 and 299.3 shares in 2023</p>
        </td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">6&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">6&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Additional paid-in-capital</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">1,669&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">1,588&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Retained earnings</td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">28,893&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">27,122&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Common stock held in treasury</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">(25,375)</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">(23,870)</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Accumulated other comprehensive income (loss)</td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">(1,877)</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-padding-left">
          <span class="table-text">(1,834)</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Noncontrolling interest</td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">1&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-primary table-cell-right table-cell-padding-left">
          <span class="table-text">1&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent-double">Total stockholders' equity</td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-border-top table-cell-padding-left">
          <span class="table-text">3,317&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-alt table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-row-alt table-cell-right table-cell-border-top table-cell-padding-left">
          <span class="table-text">3,013&nbsp;</span>
        </td>
        <td class="table-cell table-row-alt table-cell-right table-cell-padding-right"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left"></td>
        <td class="table-cell table-row-primary table-cell-left table-cell-border-top table-cell-border-bottom table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-top-bottom">
          <span class="table-text">15,067&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-padding-right"></td>
        <td colspan="3" class="table-cell table-row-primary table-cell-padding-none"></td>
        <td class="table-cell table-row-primary table-cell-left table-cell-border-top table-cell-border-bottom table-cell-padding-left">
          <span class="table-text">$</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-top-bottom">
          <span class="table-text">15,518&nbsp;</span>
        </td>
        <td class="table-cell table-row-primary table-cell-right table-cell-border-top table-cell-border-bottom table-cell-padding-right"></td>
      </tr>
    </tbody>
  </table>
</div>

<p class="table-note">The Notes to Financial Statements are an integral part of this statement.</p>

<div class="page-number">
  <div class="page-number-content">49</div>
</div>
<hr class="page-break page-break-line"/>
