<p class="section-heading">(4)&nbsp;&nbsp;&nbsp;&nbsp;Operating Revenue</p>

<p class="body-text">
  The Company's 86 diversified operating divisions are organized and managed based on similar product offerings and end markets, and are reported to senior management as the following&nbsp;seven&nbsp;segments: Automotive OEM; Food Equipment; Test &amp; Measurement and Electronics; Welding; Polymers &amp; Fluids; Construction Products; and Specialty Products. Operating revenue by product category, which is consistent with the Company's segment presentation, for the twelve months ended December&nbsp;31, 2024, 2023 and 2022 was as follows:
</p>

<div class="table-container table-container-top-margin">
  <table class="table-base">
    <tr>
      <td style="width:1.0%"></td>
      <td style="width:48.0%"></td>
      <td style="width:1.0%"></td>
      <td style="width:1.0%"></td>
      <td style="width:13.780%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.544%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:13.780%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.544%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:13.783%"></td>
      <td style="width:0.1%"></td>
    </tr>
    <thead>
      <tr>
        <th colspan="3" class="table-cell table-cell-left table-text-header" scope="colgroup">In millions</th>
        <th colspan="3" class="table-cell table-cell-center table-header" scope="colgroup">2024</th>
        <th colspan="3" class="table-cell-padding-none" scope="colgroup"></th>
        <th colspan="3" class="table-cell table-cell-center table-header" scope="colgroup">2023</th>
        <th colspan="3" class="table-cell-padding-none" scope="colgroup"></th>
        <th colspan="3" class="table-cell table-cell-center table-header" scope="colgroup">2022</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left">Automotive OEM</td>
        <td class="table-cell table-cell-left table-cell-border-top">$</td>
        <td class="table-cell table-cell-right table-cell-border-top">3,188</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-border-top">$</td>
        <td class="table-cell table-cell-right table-cell-border-top">3,235</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-border-top">$</td>
        <td class="table-cell table-cell-right table-cell-border-top">2,969</td>
        <td class="table-cell-padding-none table-cell-border-top"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Food Equipment</td>
        <td colspan="2" class="table-cell table-cell-right">2,647</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">2,622</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">2,444</td>
        <td class="table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left">Test &amp; Measurement and Electronics</td>
        <td colspan="2" class="table-cell table-cell-right">2,818</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">2,832</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">2,828</td>
        <td class="table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Welding</td>
        <td colspan="2" class="table-cell table-cell-right">1,851</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">1,902</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">1,894</td>
        <td class="table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left">Polymers &amp; Fluids</td>
        <td colspan="2" class="table-cell table-cell-right">1,764</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">1,804</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">1,905</td>
        <td class="table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Construction Products</td>
        <td colspan="2" class="table-cell table-cell-right">1,909</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">2,033</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">2,113</td>
        <td class="table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left">Specialty Products</td>
        <td colspan="2" class="table-cell table-cell-right">1,743</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">1,697</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">1,799</td>
        <td class="table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left table-cell-padding-indent">Total Segments</td>
        <td colspan="2" class="table-cell table-cell-right table-cell-border-top">15,920</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-border-top">16,125</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right table-cell-border-top">15,952</td>
        <td class="table-cell-padding-none table-cell-border-top"></td>
      </tr>
      <tr class="table-row-primary">
        <td colspan="3" class="table-cell table-cell-left">Intersegment revenue</td>
        <td colspan="2" class="table-cell table-cell-right">(22)</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">(18)</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td colspan="2" class="table-cell table-cell-right">(20)</td>
        <td class="table-cell-padding-none"></td>
      </tr>
      <tr class="table-row-alt">
        <td colspan="3" class="table-cell table-cell-left">Total</td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom">15,898</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom">16,107</td>
        <td class="table-cell-padding-none"></td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-border-top table-cell-border-bottom">$</td>
        <td class="table-cell table-cell-right table-cell-border-top table-cell-border-bottom">15,932</td>
        <td class="table-cell-padding-none table-cell-border-top table-cell-border-bottom"></td>
      </tr>
    </tbody>
  </table>
</div>

<p class="body-text">
  The following is a description of the product offerings,&nbsp;end markets and typical revenue transactions for each of the Company's&nbsp;seven&nbsp;segments:
</p>

<p class="body-text">
  <span class="section-heading-italic">Automotive OEM</span>
  &mdash; This segment is a global, niche supplier to top tier OEMs, providing unique innovation to address pain points for sophisticated customers with complex problems. Businesses in this segment produce components and fasteners for automotive-related applications. This segment primarily serves the automotive original equipment manufacturers and tiers market. Products in this segment include:
</p>
<ul class="list-bulleted">
  <li class="list-item-bulleted"><span class="body-text body-text-inline">plastic and metal components, fasteners and assemblies for automobiles, light trucks and other industrial uses.</span></li>
</ul>
<p class="body-text">
  Products sold in this segment are primarily manufactured to the customer's specifications and are sold under long-term supply agreements with OEM auto manufacturers and other top tier auto parts suppliers. The Company typically recognizes revenue for products in this segment at the time of shipment. Certain products may be produced utilizing tooling that is owned by the customer that the Company developed and is reimbursed by the customer for the associated cost. In these arrangements, the Company typically retains a contractual right to use the customer-owned tooling for the purpose of fulfilling its obligations under the supply agreement. The Company records reimbursements for the cost of customer-owned tooling as a cost offset rather than operating revenue as tooling is not considered a product offering central to the Company's operations.
</p>

<div class="page-number">
  <div class="page-number-content">56</div>
</div>
<hr class="page-break page-break-line"/>

<p class="body-text">
  <span class="section-heading-italic">Food Equipment</span>
  &mdash; This segment is a highly focused and branded industry leader in commercial food equipment differentiated by innovation and integrated service offerings. This segment primarily serves the food service,&nbsp;food retail and food institutional/restaurant markets. Products in this segment include:
</p>
<ul class="list-bulleted">
  <li class="list-item-bulleted"><span class="body-text body-text-inline">warewashing equipment;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">cooking equipment, including ovens, ranges and broilers;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">refrigeration equipment, including refrigerators, freezers and prep tables;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">food processing equipment, including slicers, mixers and scales;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">kitchen exhaust, ventilation and pollution control systems; and</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">food equipment service, maintenance and repair.</span></li>
</ul>
<p class="body-text">
  Revenue for equipment sold in this segment is typically recognized at the time of product shipment. In limited circumstances involving installation of equipment and customer acceptance, the Company may recognize revenue upon completion of installation and acceptance by the customer. Annual service contracts are typically sold separate from equipment and the related revenue is recognized on a straight-line basis over the annual service period. Operating revenue for on-demand service repairs and parts is recorded upon completion and customer acceptance of the work performed.
</p>

<p class="body-text">
  <span class="section-heading-italic">Test &amp; Measurement and Electronics</span>
  &mdash; This segment is a branded and innovative producer of test and measurement and electronic manufacturing and maintenance, repair, and operations, or "MRO" solutions that improve efficiency and quality for customers in diverse end markets. Businesses in this segment produce equipment, consumables, and related software for testing and measuring of materials and structures, as well as equipment and consumables used in the production of electronic subassemblies and microelectronics. This segment primarily serves the electronics, general industrial, automotive original equipment manufacturers and tiers, energy, industrial capital goods and consumer durables markets. Products in this segment include:
</p>
<ul class="list-bulleted">
  <li class="list-item-bulleted"><span class="body-text body-text-inline">equipment, consumables, and related software for testing and measuring of materials, structures, gases and fluids;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">electronic assembly equipment;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">electronic components and component packaging;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">static control equipment and consumables used for contamination control in clean room environments; and</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">pressure sensitive adhesives and components for electronics, medical, transportation and telecommunications applications.</span></li>
</ul>
<p class="body-text">
  Revenue for products sold in this segment is typically recognized at the time of shipment. In limited circumstances where significant obligations to the customer are unfulfilled at the time of shipment, typically involving installation of equipment and customer acceptance, revenue recognition is deferred until such obligations have been completed. In other limited arrangements involving the sale of highly specialized systems that include a high degree of customization and installation at the customer site, revenue is recognized over time if the product does not have an alternative use and the Company has an enforceable right to payment for work performed to date. Revenue for transactions meeting these criteria is recognized over time as work is performed based on the costs incurred to date relative to the total estimated costs at completion.
</p>

<p class="body-text">
  <span class="section-heading-italic">Welding</span>
  &mdash; This segment is a branded value-added equipment and specialty consumable manufacturer with innovative and leading technology. Businesses in this segment produce arc welding equipment, consumables and accessories for a wide array of industrial and commercial applications. This segment primarily serves the general industrial market, which includes fabrication, shipbuilding and other general industrial markets, and construction, energy, MRO, industrial capital goods and automotive original equipment manufacturers and tiers markets. Products in this segment include:
</p>
<ul class="list-bulleted">
  <li class="list-item-bulleted"><span class="body-text body-text-inline">arc welding equipment; and</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">metal arc welding consumables and related accessories.</span></li>
</ul>
<p class="body-text">
  Products in this segment are primarily manufactured to meet anticipated customer demand. The Company typically recognizes revenue for these products at the time of product shipment.
</p>

<p class="body-text">
  <span class="section-heading-italic">Polymers &amp; Fluids</span>
  &mdash; This segment is a branded supplier to niche markets that require value-added, differentiated products. Businesses in this segment produce engineered adhesives, sealants, lubrication and cutting fluids, and fluids and polymers for auto aftermarket maintenance and appearance. This segment primarily serves the automotive aftermarket, general industrial and MRO markets. Products in this segment include:
</p>
<ul class="list-bulleted">
  <li class="list-item-bulleted"><span class="body-text body-text-inline">adhesives for industrial, construction and consumer purposes;</span></li>
</ul>

<div class="page-number">
  <div class="page-number-content">57</div>
</div>
<hr class="page-break page-break-line"/>

<ul class="list-bulleted">
  <li class="list-item-bulleted"><span class="body-text body-text-inline">chemical fluids which clean or add lubrication to machines;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">epoxy and resin-based coating products for industrial applications;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">hand wipes and cleaners for industrial applications;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">fluids, polymers and other supplies for auto aftermarket maintenance and appearance;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">fillers and putties for auto body repair; and</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">polyester coatings and patch and repair products for the marine industry.</span></li>
</ul>
<p class="body-text">
  Products in this segment are primarily manufactured to meet anticipated customer demand. The Company typically recognizes revenue for these products at the time of product shipment.
</p>

<p class="body-text">
  <span class="section-heading-italic">Construction Products</span>
  &mdash; This segment is a branded supplier of innovative engineered fastening systems and solutions. This segment primarily serves the residential construction, renovation/remodel and commercial construction&nbsp;markets. Products in this segment include:
</p>
<ul class="list-bulleted">
  <li class="list-item-bulleted"><span class="body-text body-text-inline">fasteners and related fastening tools for wood and metal applications;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">anchors, fasteners and related tools for concrete applications;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">metal plate truss components and related equipment and software; and</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">packaged hardware, fasteners, anchors and other products for retail.</span></li>
</ul>
<p class="body-text">
  Products in this segment are primarily manufactured to meet anticipated customer demand. The Company typically recognizes revenue for these products at the time of product shipment.
</p>

<p class="body-text">
  <span class="section-heading-italic">Specialty Products</span>
  &mdash; This segment is focused on diversified niche market opportunities with substantial patent protection producing beverage packaging equipment and consumables, product coding and marking equipment and consumables, and appliance components and fasteners. This segment primarily serves the food and beverage, consumer durables, general industrial, airlines, industrial capital goods and printing and publishing markets. Products in this segment include:
</p>
<ul class="list-bulleted">
  <li class="list-item-bulleted"><span class="body-text body-text-inline">conveyor systems and line automation for the food and beverage industries;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">plastic consumables that multi-pack cans and bottles and related equipment;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">foil, film and related equipment used to decorate consumer products;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">product coding and marking equipment and related consumables;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">plastic and metal closures and components for appliances;</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">airport ground support equipment; and</span></li>
  <li class="list-item-bulleted"><span class="body-text body-text-inline">components for medical devices.</span></li>
</ul>
<p class="body-text">
  Products in this segment are primarily manufactured to meet anticipated customer demand. The Company typically recognizes revenue for these products at the time of product shipment. In limited circumstances where significant obligations to the customer are unfulfilled at the time of shipment, typically involving installation of equipment and customer acceptance, revenue is recognized when such obligations have been completed.
</p>