<div>
    <span class="style-216">
     (9)&nbsp;&nbsp;&nbsp;&nbsp;Leases
    </span>
   </div>
   <div>
    <span>
     <br/>
    </span>
   </div>
   <div>
    <span class="style-14">
     The Company's lease transactions are primarily for the use of facilities, vehicles and office equipment under operating lease arrangements. Total rental expense for operating leases for the twelve months ended December&nbsp;31, 2024, 2023 and 2022 was $143 million, $132 million and $122 million, respectively. Total rental expense for the twelve months ended December&nbsp;31, 2024, 2023 and 2022 included $65 million, $60 million and $56 million, respectively, related to short-term operating leases and variable lease payments. Short-term operating leases have original terms of one year or less, or can be terminated at the Company's option with a short notice period and without significant penalty, and are not capitalized.
    </span>
   </div>
   <div>
    <span>
     <br/>
    </span>
   </div>
   <div>
    <span class="style-14">
     The following table summarizes information related to the Company's capitalized operating leases for 2024, 2023 and 2022:
    </span>
   </div>
   <div>
    <span>
     <br/>
    </span>
   </div>
   <div>
    <table class="style-163">
     <tr>
      <td class="style-4">
      </td>
      <td class="style-38">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-231">
      </td>
      <td class="style-25">
      </td>
      <td class="style-25">
      </td>
      <td class="style-387">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-231">
      </td>
      <td class="style-25">
      </td>
      <td class="style-25">
      </td>
      <td class="style-387">
      </td>
      <td class="style-25">
      </td>
      <td class="style-4">
      </td>
      <td class="style-69">
      </td>
      <td class="style-25">
      </td>
     </tr>
     <tr>
      <td class="style-248" colspan="3">
       <span class="style-303">
        Dollars in millions
       </span>
      </td>
      <td class="style-359" colspan="3">
       <span class="style-212">
        2024
       </span>
      </td>
      <td class="style-359" colspan="3">
       <span class="style-212">
        2023
       </span>
      </td>
      <td class="style-359" colspan="3">
       <span class="style-212">
        2022
       </span>
      </td>
     </tr>
     <tr>
      <td class="style-207" colspan="3">
       <span class="style-378">
        Rental expense related to capitalized operating leases
       </span>
      </td>
      <td class="style-194">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-154">
       <span class="style-378">
        78&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-194">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-154">
       <span class="style-378">
        72&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-194">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-154">
       <span class="style-378">
        66&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
     </tr>
     <tr>
      <td class="style-139" colspan="3">
       <span class="style-378">
        Cash paid related to maturities of operating lease liabilities
       </span>
      </td>
      <td class="style-261">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-280">
       <span class="style-378">
        77&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-261">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-280">
       <span class="style-378">
        70&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-261">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-280">
       <span class="style-378">
        67&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
     </tr>
     <tr>
      <td class="style-207" colspan="3">
       <span class="style-378">
        Right-of-use assets obtained in exchange for operating lease liabilities
       </span>
      </td>
      <td class="style-11">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-245">
       <span class="style-378">
        79&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-11">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-245">
       <span class="style-378">
        82&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-11">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-245">
       <span class="style-378">
        74&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
     </tr>
     <tr class="style-185">
      <td class="style-246" colspan="3">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-246" colspan="3">
      </td>
     </tr>
     <tr>
      <td class="style-207" colspan="3">
       <span class="style-378">
        <span class="style-257">
         <span class="style-206">
          Right-of-use assets
         </span>
        </span>
       </span>
      </td>
      <td class="style-11">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-245">
       <span class="style-378">
        266&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-11">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-245">
       <span class="style-378">
        248&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
     </tr>
     <tr class="style-185">
      <td class="style-246" colspan="3">
      </td>
      <td class="style-360" colspan="3">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-360" colspan="3">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-246" colspan="3">
      </td>
     </tr>
     <tr>
      <td class="style-207" colspan="3">
       <span class="style-378">
        <span class="style-290">
         <span class="style-102">
          Current portion of operating lease liabilities
         </span>
        </span>
       </span>
      </td>
      <td class="style-11">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-245">
       <span class="style-378">
        57&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-11">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-245">
       <span class="style-378">
        58&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
     </tr>
     <tr>
      <td class="style-139" colspan="3">
       <span class="style-378">
        <span class="style-41">
         <span class="style-354">
          Long-term portion of operating lease liabilities
         </span>
        </span>
       </span>
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        158&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        148&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-246" colspan="3">
      </td>
     </tr>
     <tr>
      <td class="style-207" colspan="3">
       <span class="style-378">
        Operating lease liabilities
       </span>
      </td>
      <td class="style-66">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-75">
       <span class="style-378">
        215&nbsp;
       </span>
      </td>
      <td class="style-392">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-66">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-75">
       <span class="style-378">
        206&nbsp;
       </span>
      </td>
      <td class="style-392">
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
     </tr>
     <tr class="style-185">
      <td class="style-246" colspan="3">
      </td>
      <td class="style-360" colspan="3">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-360" colspan="3">
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-246" colspan="3">
      </td>
     </tr>
     <tr>
      <td class="style-207" colspan="3">
       <span class="style-378">
        Weighted-average remaining lease term
       </span>
      </td>
      <td class="style-228" colspan="3">
       <span class="style-378">
        4.7 years
       </span>
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-228" colspan="3">
       <span class="style-378">
        5.0 years
       </span>
      </td>
      <td class="style-276" colspan="3">
      </td>
      <td class="style-276" colspan="3">
      </td>
     </tr>
     <tr>
      <td class="style-139" colspan="3">
       <span class="style-378">
        Weighted-average discount rate
       </span>
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        3.30&nbsp;
       </span>
      </td>
      <td class="style-59">
       <span class="style-378">
        %
       </span>
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        2.95&nbsp;
       </span>
      </td>
      <td class="style-59">
       <span class="style-378">
        %
       </span>
      </td>
      <td class="style-246" colspan="3">
      </td>
      <td class="style-246" colspan="3">
      </td>
     </tr>
    </table>
   </div>
   <div>
    <span>
     <br/>
    </span>
   </div>
   <div>
    <span class="style-14">
     The right-of-use assets related to operating leases and the current and long-term portions of operating lease liabilities were included in Other assets, Accrued expenses and Other liabilities, respectively, in the Statement of Financial Position. The weighted-average discount rate was based on the incremental borrowing rate of the Company and its subsidiaries. As of December&nbsp;31, 2024, future maturities of operating lease liabilities for the twelve months ending December 31 were as follows:
    </span>
   </div>
   <div>
    <span>
     <br/>
    </span>
   </div>
   <div class="style-169">
    <table class="style-91">
     <tr>
      <td class="style-183">
      </td>
      <td class="style-372">
      </td>
      <td class="style-183">
      </td>
      <td class="style-183">
      </td>
      <td class="style-382">
      </td>
      <td class="style-183">
      </td>
     </tr>
     <tr class="style-342">
      <td class="style-248" colspan="3">
       <span class="style-303">
        In millions
       </span>
      </td>
     </tr>
     <tr class="style-144">
      <td class="style-207" colspan="3">
       <span class="style-378">
        2025
       </span>
      </td>
      <td class="style-11">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-245">
       <span class="style-378">
        63&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
     </tr>
     <tr class="style-144">
      <td class="style-139" colspan="3">
       <span class="style-378">
        2026
       </span>
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        53&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
     </tr>
     <tr class="style-144">
      <td class="style-207" colspan="3">
       <span class="style-378">
        2027
       </span>
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        41&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
     </tr>
     <tr class="style-144">
      <td class="style-139" colspan="3">
       <span class="style-378">
        2028
       </span>
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        28&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
     </tr>
     <tr class="style-144">
      <td class="style-207" colspan="3">
       <span class="style-378">
        2029
       </span>
      </td>
      <td class="style-126" colspan="2">
       <span class="style-378">
        19&nbsp;
       </span>
      </td>
      <td class="style-138">
      </td>
     </tr>
     <tr class="style-144">
      <td class="style-139" colspan="3">
       <span class="style-378">
        2030 and future years
       </span>
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        30&nbsp;
       </span>
      </td>
      <td class="style-59">
      </td>
     </tr>
     <tr class="style-144">
      <td class="style-207" colspan="3">
       <span class="style-378">
        Total future minimum lease payments
       </span>
      </td>
      <td class="style-310" colspan="2">
       <span class="style-378">
        234&nbsp;
       </span>
      </td>
      <td class="style-122">
      </td>
     </tr>
     <tr class="style-144">
      <td class="style-139" colspan="3">
       <span class="style-378">
        Less: Imputed interest
       </span>
      </td>
      <td class="style-353" colspan="2">
       <span class="style-378">
        (19)
       </span>
      </td>
      <td class="style-59">
      </td>
     </tr>
     <tr class="style-144">
      <td class="style-207" colspan="3">
       <span class="style-378">
        Operating lease liabilities
       </span>
      </td>
      <td class="style-306">
       <span class="style-378">
        $
       </span>
      </td>
      <td class="style-193">
       <span class="style-378">
        215&nbsp;
       </span>
      </td>
      <td class="style-397">
      </td>
     </tr>
    </table>
   </div>
   <div class="style-101">
    <div class="style-147">
     <div class="style-169">
      <span class="style-14">
       64
      </span>
     </div>
    </div>
   </div>
   <div id="ibfcf79ae2d6544b5879fd3b336a5e208_169">
   </div>
   <hr class="style-325"/>
   <div class="style-357">
    <div>
     <span>
      <br/>
     </span>
    </div>
   </div>