<h1 class="part-heading">PART II</h1>

<h2 class="item-heading"><span class="item-number">ITEM&nbsp;5.</span> <span class="item-title">Market For Registrant's Common Equity, Related Stockholder Matters and Issuer Purchases of Equity Securities</span></h2>

<p class="heading-1">
  Common Stock Data
</p>
<p class="body-text body-text-inline">
  &mdash; The Company's common stock is listed on the New York Stock Exchange under the trading symbol "ITW." There were approximately 4,199 holders of record of common stock as of January&nbsp;31, 2025. This number does not include beneficial owners of the Company's securities held in the name of nominees.
</p>

<div class="image-container">
  <img alt="5-Year-Chart" src="{{ url_for('static', filename='item5_graph.jpg') }}" class="chart-image"/>
</div>

<p class="caption-text">
  *Assumes $100 invested on December 31, 2019, including reinvestment of dividends. Fiscal years ended December 31.
</p>

<p class="copyright-text">
  Copyright&copy; 2025 Standard &amp; Poor's, a division of S&amp;P Global. All rights reserved.
</p>

<p class="body-text">
  The 2024 peer group consists of the following 17 public companies, consistent with the peer group included in the Company's Proxy Statement:
</p>

<div class="table-container-centered">
  <table class="table-base">
    <tr>
      <td style="width:1.0%"></td>
      <td style="width:32.233%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:32.382%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:32.085%"></td>
      <td style="width:0.1%"></td>
    </tr>
    <tr>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">3M Company</span>
      </td>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Ecolab Inc.</span>
      </td>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Parker-Hannifin Corporation</span>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Caterpillar Inc.</span>
      </td>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Emerson Electric Co.</span>
      </td>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">PPG Industries, Inc.</span>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Cummins Inc.</span>
      </td>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Fortive Corporation</span>
      </td>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Rockwell Automation, Inc.</span>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Deere &amp; Company</span>
      </td>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">General Dynamics Corporation</span>
      </td>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Stanley Black &amp; Decker, Inc.</span>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Dover Corporation</span>
      </td>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Honeywell International Inc.</span>
      </td>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Trane Technologies plc</span>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Eaton Corporation plc</span>
      </td>
      <td colspan="3" class="table-cell table-cell-left">
        <span class="table-text">Johnson Controls International plc</span>
      </td>
      <td colspan="3" class="table-cell-padding-none"></td>
    </tr>
  </table>
</div>

<p class="body-text">
  The Compensation Committee of the Board of Directors of the Company reviews the peer group annually and from time to time changes the composition of the peer group where changes are appropriate. There were no changes in the Company's peer group in 2024.
</p>

<div class="page-number">
  <div class="page-number-content">17</div>
</div>
<hr class="page-break page-break-line"/>
