<h2 class="part-heading">PART IV</h2>

<h3 class="item-heading">
  <span class="item-number">ITEM&nbsp;15.</span>
  <span class="item-title">Exhibit and Financial Statement Schedules</span>
</h3>

<p class="body-text list-item-content-indent-2">(a)&nbsp;&nbsp;&nbsp;&nbsp;(1)&nbsp;&nbsp;&nbsp;&nbsp;Financial Statements</p>

<p class="body-text list-item-content-indent-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The following information is included as part of Item&nbsp;8. Financial Statements and Supplementary Data:</p>

<p class="body-text list-item-content-indent-2 no-margin-bottom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Management Report on Internal Control over Financial Reporting</p>
<p class="body-text list-item-content-indent-2 no-margin-bottom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statement of Income</p>
<p class="body-text list-item-content-indent-2 no-margin-bottom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statement of Comprehensive Income</p>
<p class="body-text list-item-content-indent-2 no-margin-bottom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statement of Financial Position</p>
<p class="body-text list-item-content-indent-2 no-margin-bottom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statement of Changes in Stockholders' Equity</p>
<p class="body-text list-item-content-indent-2 no-margin-bottom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statement of Cash Flows</p>
<p class="body-text list-item-content-indent-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Notes to Financial Statements</p>

<p class="body-text indent-2">The following report of the Company's independent registered public accounting firm (PCAOB ID:34) is included as part of Item 8. Financial Statements and Supplementary Data:</p>

<p class="body-text indent-2">Report of Independent Registered Public Accounting Firm</p>

<p class="body-text list-item-content-indent-2">&nbsp;&nbsp;&nbsp;&nbsp;(2)&nbsp;&nbsp;&nbsp;&nbsp;Financial Statement Schedules</p>

<p class="body-text list-item-content-indent-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;None.</p>

<p class="body-text list-item-content-indent-2">&nbsp;&nbsp;&nbsp;&nbsp;(3)&nbsp;&nbsp;&nbsp;&nbsp;Exhibits</p>

<div id="ibfcf79ae2d6544b5879fd3b336a5e208_229">
</div>

<div class="table-container table-container-exhibit">
    <table class="table-base table-exhibit">
     <tr>
          <td style="width:1.0%"></td>
          <td style="width:8.075%"></td>
          <td style="width:0.1%"></td>
          <td style="width:0.1%"></td>
          <td style="width:0.577%"></td>
          <td style="width:0.1%"></td>
          <td style="width:1.0%"></td>
          <td style="width:88.948%"></td>
          <td style="width:0.1%"></td>
      </tr>
    <tr>
      <td class="table-cell table-header table-cell-center" colspan="3">
        <span class="table-text-header">Exhibit<br/>Number</span>
      </td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-header table-cell-center" colspan="3">
       <span class="table-text-header">
        Description
       </span>
      </td>
     </tr>
     <tr>
        <td class="table-cell table-cell-left table-cell-top table-cell-border-top" colspan="3">3(a)(i)</td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-top table-cell-border-top" colspan="3">Amended and Restated Certificate of Incorporation of Illinois Tool Works Inc., filed as Exhibit 3.1 to the Company's Quarterly Report on Form 10-Q for the quarterly period ended June 30, 2014 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
        <td class="table-cell table-cell-left table-cell-top" colspan="3">3(a)(ii)</td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-top" colspan="3">Certificate of Amendment of Certificate of Incorporation of Illinois Tool Works Inc., filed as Exhibit 3(a)(ii) to the Company's Current Report on Form 8-K filed on May 12, 2016 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
        <td class="table-cell table-cell-left table-cell-top" colspan="3">3(b)</td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-top" colspan="3">By-laws of Illinois Tool Works Inc., amended and restated as of May 3, 2024, filed as Exhibit 3(b) to the Company's Current Report on Form 8-K filed on May 9, 2024 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
        <td class="table-cell table-cell-left table-cell-top" colspan="3">4(a)</td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-top" colspan="3">Indenture between Illinois Tool Works Inc. and The First National Bank of Chicago, as Trustee, dated as of November 1, 1986, filed as Exhibit 4.4 to the Company's Registration Statement on Form S-3 filed on August 4, 2023 (Commission File No. 333-242331) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
        <td class="table-cell table-cell-left table-cell-top" colspan="3">4(b)</td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-top" colspan="3">First Supplemental Indenture between Illinois Tool Works Inc. and Harris Trust and Savings Bank, as Trustee, dated as of May 1, 1990, filed as Exhibit 4.5 to the Company's Registration Statement on Form S-3 filed on August 7, 2020 (Commission File No. 333-242331) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
        <td class="table-cell table-cell-left table-cell-top" colspan="3">4(c)</td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-top" colspan="3">Officers' Certificate dated August 31, 2011, establishing the terms, and setting forth the forms, of the 3.375% Notes due 2021 and the 4.875% Notes due 2041, filed as Exhibit 4.3 to the Company's Current Report on Form 8-K filed on September 1, 2011 (Commission File No. 001-04797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
        <td class="table-cell table-cell-left table-cell-top" colspan="3">4(d)</td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-top" colspan="3">Officers' Certificate dated August 28, 2012, establishing the terms, and setting forth the forms, of the 3.900% Notes due 2042, filed as Exhibit 4.1 to the Company's Current Report on Form 8-K filed on August 28, 2012 (Commission File No. 001-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
        <td class="table-cell table-cell-left table-cell-top" colspan="3">4(e)</td>
        <td colspan="3" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-left table-cell-top" colspan="3">Officers' Certificate dated May 20, 2014, establishing the terms, and setting forth the forms, of the 1.750% Euro Notes due 2022 and the 3.000% Euro Notes due 2034, filed as Exhibit 4.1 to the Company's Current Report on Form 8-K filed on May 22, 2014 (Commission File No. 001-04797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
    </table>
   </div>

   <div class="page-number">
    <div class="page-number-content">82</div>
   </div>
   <hr class="page-break page-break-line"/>


   <div class="table-container table-container-exhibit">
    <table class="table-base table-exhibit">
     <tr>
      <td style="width:1.0%"></td>
      <td style="width:8.075%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.577%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:88.948%"></td>
      <td style="width:0.1%"></td>
     </tr>
     <tr>
      <td class="table-cell table-header table-cell-center" colspan="3">
       <span class="table-text-header">Exhibit<br/>Number</span>
      </td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-header table-cell-center" colspan="3">
       <span class="table-text-header">Description</span>
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top table-cell-border-top" colspan="3">4(f)</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top table-cell-border-top" colspan="3">Officers' Certificate dated May 19, 2015, establishing the terms, and setting forth the forms, of the 1.250% Euro Notes due 2023 and the 2.125% Euro Notes due 2030, filed as Exhibit 4.1 to the Company's Current Report on Form 8-K filed on May 22, 2015 (Commission File No. 001-04797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">4(g)</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Officers' Certificate dated November 7, 2016, establishing the terms, and setting forth the forms, of the 2.650% Notes due 2026, filed as Exhibit 4.1 to the Company's Current Report on Form 8-K filed on November 10, 2016 (Commission File No. 001-04797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">4(h)</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Officers' Certificate dated June 5, 2019, establishing the terms, and setting forth the forms, of the 0.25% Notes due 2024, the 0.625% Notes due 2027 and the 1.00% Notes due 2031, filed as Exhibit 4.1 to the Company's Current Report on Form 8-K filed on June 5, 2019 (Commission File No. 001-04797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">4(i)</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Officers&rsquo; Certificate dated May 17, 2024, establishing the terms, and setting forth the forms, of the 3.250% Notes due 2028 and 3.375% Notes due 2032, filed as Exhibit 4.1 to the Company's Current Report on Form 8-K filed on May 17, 2024 (Commission File No. 1-04797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">4(j)</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Description of the Company's Common Stock, filed as Exhibit 4(j) to the Company's Annual Report on Form 10-K for the year ended December 31, 2019 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">4(k)</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Description of the 1.75% Euro Notes due 2022 and 3.00% Euro Notes due 2034, filed as Exhibit 4(k) to the Company's Annual Report on Form 10-K for the year ended December 31, 2019 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">4(l)</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Description of the 1.25% Euro Notes due 2023 and 2.125% Euro Notes due 2030, filed as Exhibit 4(l) to the Company's Annual Report on Form 10-K for the year ended December 31, 2019 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">4(m)</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Description of the 0.250% Euro Notes due 2024, 0.625% Euro Notes due 2027 and 1.000% Euro Notes due 2031, filed as Exhibit 4(m) to the Company's Annual Report on Form 10-K for the year ended December 31, 2019 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">4(n)</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Description of the 3.250% Euro Notes due 2028 and 3.375% Euro Notes due 2032, filed herewith.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(a)(i)</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Credit Agreement dated as of October 21, 2022 among Illinois Tool Works Inc., JPMorgan Chase Bank, N.A., as Agent, Citibank, N.A., as Syndication Agent, and a syndicate of lenders, filed as Exhibit 10(a) to the Company's Current Report on Form 8-K filed on October 26, 2022 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(a)(ii)</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Euro Credit Agreement dated as of May 5, 2023 among Illinois Tool Works Inc., as Borrower, the lender(s) party thereto and ING Bank, N.V., London Branch, as Agent, filed as Exhibit 10(a) to the Company's Current Report on Form 8-K filed on May 10, 2023 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(b)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Illinois Tool Works Inc. 2011 Long-Term Incentive Plan, filed as Exhibit 99.2 to the Company's Current Report on Form 8-K filed on December 16, 2010 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(c)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Illinois Tool Works Inc. 2015 Long-Term Incentive Plan effective May 8, 2015, filed as Exhibit 10.1 to the Company's Quarterly Report on Form 10-Q for the quarterly period ended June 30, 2015 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(d)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Illinois Tool Works Inc. 2024 Long-Term Incentive Plan effective June 30, 2024, filed as Exhibit 10.1 to the Company's Current Report on Form 8-K filed on May 9, 2024 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(e)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Form of Terms of Option Grant Pursuant to the Illinois Tool Works Inc. 2011 Long-Term Incentive Plan, filed as Exhibit 99.1 to the Company's Current Report on Form 8-K filed on February 13, 2014 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(f)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Form of Terms of Option Grant Pursuant to the Illinois Tool Works Inc. 2015 Long-Term Incentive Plan, filed as Exhibit 99.1 to the Company's Current Report on Form 8-K filed on February 9, 2016 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(g)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Form of Terms of Option Grant Pursuant to the Illinois Tool Works Inc. 2015 Long-Term Incentive Plan, filed as Exhibit 99.1 to the Company's Current Report on Form 8-K filed on February 9, 2017 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
    </table>
   </div>

   <div class="page-number">
    <div class="page-number-content">83</div>
   </div>
   <hr class="page-break page-break-line"/>

   <div class="table-container table-container-exhibit">
    <table class="table-base table-exhibit">
     <tr>
      <td style="width:1.0%"></td>
      <td style="width:8.075%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.577%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:88.948%"></td>
      <td style="width:0.1%"></td>
     </tr>
     <tr>
      <td class="table-cell table-header table-cell-center" colspan="3">
       <span class="table-text-header">Exhibit<br/>Number</span>
      </td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-header table-cell-center" colspan="3">
       <span class="table-text-header">Description</span>
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top table-cell-border-top" colspan="3">10(h)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top table-cell-border-top" colspan="3">Form of Terms of Option Grant Pursuant to the Illinois Tool Works Inc. 2015 Long-Term Incentive Plan, filed as Exhibit 99.1 to the Company's Current Report on Form 8-K filed on February 14, 2019 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(i)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Form of Terms of Option Grant Pursuant to the Illinois Tool Works Inc. 2015 Long-Term Incentive Plan, filed as Exhibit 99.1 to the Company's Current Report on Form 8-K filed on February 5, 2020 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(j)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Form of Terms of Performance Share Unit Grant Pursuant to the Illinois Tool Works Inc. 2015 Long-Term Incentive Plan, filed as Exhibit 99.2 to the Company's Current Report on Form 8-K filed on February 5, 2020 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(k)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Form of Terms of Performance Cash Award Pursuant to the Illinois Tool Works Inc. 2015 Long-Term Incentive Plan, filed as Exhibit 99.3 to the Company's Current Report on Form 8-K filed on February 5, 2020 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(l)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Form of Terms of Restricted Stock Unit Grant Pursuant to the Illinois Tool Works Inc. 2015 Long-Term Incentive Plan, filed as Exhibit 99.4 to the Company&rsquo;s Current Report on Form 8-K filed on February 5, 2020 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(m)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Form of Stock Option Agreement Pursuant to the Illinois Tool Works Inc. 2024 Long-Term Incentive Plan, filed herewith.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(n)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Form of Performance Share Unit Award Agreement Pursuant to the Illinois Tool Works Inc. 2024 Long-Term Incentive Plan, filed herewith.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(o)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Form of Restricted Stock Unit Award Agreement Pursuant to the Illinois Tool Works Inc. 2024 Long-Term Incentive Plan, filed herewith.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(p)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Illinois Tool Works Inc. Executive Contributory Retirement Income Plan as amended and restated, effective as of January 1, 2010, filed as Exhibit 10 to the Company's Current Report on Form 8-K filed on November 5, 2009 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(q)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Illinois Tool Works Inc. Nonqualified Pension Plan, effective January 1, 2008, as amended and restated, filed as Exhibit 10(p) to the Company's Annual Report on Form 10-K for the fiscal year ended December 31, 2008 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(r)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Illinois Tool Works Inc. 2011 Change-in-Control Severance Compensation Policy, filed as Exhibit 99.3 to the Company's Current Report on Form 8-K filed on December 16, 2010 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(s)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Illinois Tool Works Inc. Amended and Restated Directors' Deferred Fee Plan effective May 2, 2014, as amended on May 8, 2015 and May 4, 2018, filed herewith.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">10(t)*</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">First Amendment to the Illinois Tool Works Inc. Executive Contributory Retirement Income Plan dated February 15, 2013, filed as Exhibit 10.2 to the Company's Quarterly Report on Form 10-Q for the quarterly period ended March 31, 2013 (Commission File No. 1-4797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">19</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Insider Trading Policies and Procedures, filed herewith</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">21</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Subsidiaries and Affiliates of the Company, filed herewith</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">23</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Consent of Independent Registered Public Accounting Firm, filed herewith</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">24</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Powers of Attorney, filed herewith</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">31</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Rule 13a-14(a) Certifications, filed herewith</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">32</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Section 1350 Certification, filed herewith</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">97</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Policy Relating to Recovery of Erroneously Awarded Compensation, filed as Exhibit 97 to the Company&rsquo;s Annual Report on Form 10-K for the fiscal year ended December 31, 2023 (Commission File No. 001-04797) and incorporated herein by reference.</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">101.INS</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">iXBRL Instance Document**</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">101.SCH</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">iXBRL Taxonomy Extension Schema**</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
    </table>
   </div>

   <div class="page-number">
    <div class="page-number-content">84</div>
   </div>
   <hr class="page-break page-break-line"/>

   <div class="table-container table-container-exhibit">
    <table class="table-base table-exhibit">
     <tr>
      <td style="width:1.0%"></td>
      <td style="width:8.075%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.1%"></td>
      <td style="width:0.577%"></td>
      <td style="width:0.1%"></td>
      <td style="width:1.0%"></td>
      <td style="width:88.948%"></td>
      <td style="width:0.1%"></td>
     </tr>
     <tr>
      <td class="table-cell table-header table-cell-center" colspan="3">
       <span class="table-text-header">Exhibit<br/>Number</span>
      </td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-header table-cell-center" colspan="3">
       <span class="table-text-header">Description</span>
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top table-cell-border-top" colspan="3">101.CAL</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top table-cell-border-top" colspan="3">iXBRL Taxonomy Extension Calculation Linkbase**</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">101.DEF</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">iXBRL Taxonomy Extension Definition Linkbase**</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">101.LAB</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">iXBRL Taxonomy Extension Label Linkbase**</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">101.PRE</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">iXBRL Taxonomy Extension Presentation Linkbase**</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-padding-none" colspan="3"></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">104</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Cover Page Interactive Data File (formatted as Inline XBRL and contained in Exhibit 101).</td>
     </tr>
    </table>
   </div>
   <div class="table-container">
    <table class="table-base">
     <tr>
      <td class="table-cell table-cell-padding-none">
      </td>
      <td class="table-cell table-cell-padding-none">
      </td>
      <td class="table-cell table-cell-padding-none">
      </td>
      <td class="table-cell table-cell-padding-none">
      </td>
      <td class="table-cell table-cell-padding-none">
      </td>
      <td class="table-cell table-cell-padding-none">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">
       <span class="table-text">
        *
       </span>
      </td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">
       <span class="table-text">
        Management contract or compensatory plan or arrangement.
       </span>
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">
       <span class="table-text">
        **
       </span>
      </td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">
       <span class="table-text">
        The following financial information from Illinois Tool Works Inc.'s Annual Report on Form&nbsp;10-K for the year ended December&nbsp;31, 2024, formatted in iXBRL (Inline Extensible Business Reporting Language): (i) Statement of Income, (ii) Statement of Comprehensive Income, (iii) Statement of Changes in Stockholders' Equity (iv) Statement of Financial Position, (v) Statement of Cash Flows and (vi) related Notes to Financial Statements.
       </span>
      </td>
     </tr>
    </table>
   </div>

   <p class="item-heading">
    <span class="item-number">ITEM&nbsp;16.</span>
    <span class="item-title">Form 10-K Summary</span>
   </p>

   <p class="body-text">None.</p>

   <div class="page-number">
    <div class="page-number-content">85</div>
   </div>
   <hr class="page-break page-break-line"/>

   <p class="signatures-heading">SIGNATURES</p>

   <p class="body-text">Pursuant to the requirements of Section 13 or 15(d) of the Securities Exchange Act of 1934, the registrant has duly caused this report to be signed on its behalf by the undersigned, thereunto duly authorized on this 14th day of February 2025.</p>

   <div class="table-container">
    <table class="table-base">
      <tr>
        <td style="width:1.0%"></td>
        <td style="width:6.367%"></td>
        <td style="width:0.1%"></td>
        <td style="width:1.0%"></td>
        <td style="width:2.560%"></td>
        <td style="width:0.1%"></td>
        <td style="width:1.0%"></td>
        <td style="width:87.773%"></td>
        <td style="width:0.1%"></td>
      </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="9">
       <span class="table-text body-text-bold">
        ILLINOIS TOOL WORKS INC.
       </span>
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="6">
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">By:</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-center table-cell-top" colspan="3">/s/ CHRISTOPHER A. O'HERLIHY</td>
     </tr>
     <tr>
      <td colspan="6" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-center table-cell-top table-cell-border-top" colspan="3">Christopher A. O'Herlihy</td>
     </tr>
     <tr>
        <td colspan="6" class="table-cell-padding-none"></td>
        <td class="table-cell table-cell-center table-cell-top item-title-reserved" colspan="3">President&nbsp;&amp; Chief Executive Officer</td>
     </tr>
    </table>
   </div>

   <p class="body-text">Pursuant to the requirements of the Securities Exchange Act of 1934, this report has been signed by the following persons on behalf of the registrant and in the capacities indicated on this 14th day of February 2025.</p>

   <div class="table-container">
    <table class="table-base">
      <tr>
        <td style="width:1.0%"></td>
        <td style="width:30.711%"></td>
        <td style="width:0.1%"></td>
        <td style="width:1.0%"></td>
        <td style="width:2.287%"></td>
        <td style="width:0.1%"></td>
        <td style="width:1.0%"></td>
        <td style="width:63.702%"></td>
        <td style="width:0.1%"></td>
      </tr>
     <tr>
      <td colspan="3" class="table-cell table-cell-left table-cell-top body-text-bold" colspan="3">
        Signatures
      </td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td colspan="3" class="table-cell table-cell-left table-cell-top body-text-bold" colspan="3">
        Title
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none table-cell-border-top" colspan="3"><br/></td>
      <td class="table-cell table-cell-padding-none table-cell-border-top" colspan="6"></td>
     </tr>

     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">/s/ Christopher A. O'Herlihy</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">
        President &amp; Chief Executive Officer, Director
      </td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top table-cell-border-top" colspan="3">Christopher A. O'Herlihy</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">(Principal Executive Officer)</td>
     </tr>
     
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="6"><br/></td>
     </tr>
     
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">/s/ Michael M. Larsen</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Senior Vice President &amp; Chief Financial Officer</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top table-cell-border-top" colspan="3">Michael M. Larsen</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">(Principal Financial Officer)</td>
     </tr>

     <tr>
      <td class="table-cell table-cell-padding-none" colspan="6"><br/></td>
     </tr>

     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">/s/ Randall J. Scheuneman</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Vice President &amp; Chief Accounting Officer</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top table-cell-border-top" colspan="3">Randall J. Scheuneman
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">(Principal Accounting Officer)</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="6"><br/></td>
     </tr>
     
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Daniel J. Brutto</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Director</td>
     </tr>

     <tr>
      <td class="table-cell table-cell-padding-none" colspan="6"><br/></td>
     </tr>

     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Susan Crown</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Director</td>
     </tr>

     <tr>
      <td class="table-cell table-cell-padding-none" colspan="6"><br/></td>
     </tr>

     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Darrell L. Ford</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Director</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="6"><br/></td>
     </tr>

     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Kelly J. Grier</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Director</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="6"><br/></td>
     </tr>

     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">James W. Griffith</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Director</td>
     </tr>

     <tr>
      <td class="table-cell table-cell-padding-none" colspan="6"><br/></td>
     </tr>

     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Jay L. Henderson</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Director</td>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="6"><br/></td>
     </tr>

     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Jaime Irick</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Director</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="6"><br/></td>
     </tr>

     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Richard H. Lenny</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Director</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="6"><br/></td>
     </tr>
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">E. Scott Santi</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Chairman of the Board</td>
     </tr>

     <tr>
      <td class="table-cell table-cell-padding-none" colspan="6"><br/></td>
     </tr>

     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">David B. Smith, Jr.</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Director</td>
     </tr>
     <tr>
      <td class="table-cell table-cell-padding-none" colspan="6"><br/></td>
     </tr>
     
     <tr>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Pamela B. Strobel</td>
      <td colspan="3" class="table-cell-padding-none"></td>
      <td class="table-cell table-cell-left table-cell-top" colspan="3">Director</td>
     </tr>

     <tr>
      <td class="table-cell table-cell-padding-none" colspan="6"><br/></td>
     </tr>

     <tr>
      <td colspan="6" class="table-cell-padding-none"><br /></td>
      <td colspan="3" class="table-cell table-cell-left table-cell-top">By: /s/ CHRISTOPHER A. O'HERLIHY</td>
     </tr>
     <tr>
      <td colspan="6" class="table-cell-padding-none"><br /></td>
      <td colspan="3" class="table-cell table-cell-left table-cell-top item-title-reserved table-cell-border-top">(Christopher A. O'Herlihy, as Attorney-in-Fact)</td>
     </tr>
    </table>
   </div>

   <p class="body-text">Original powers of attorney authorizing Christopher A. O'Herlihy to sign the Company's Annual Report on Form 10-K and amendments thereto on behalf of the above-named directors of the registrant have been filed with the Securities and Exchange Commission as part of this Annual Report on Form 10-K (Exhibit 24).</p>

   <div class="page-number">
    <div class="page-number-content">86</div>
   </div>