<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITW 10-K - Version 1 (Original SEC Format)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="margin: 0; padding: 0;">
    <!-- Original body content -->
    {% include 'fragments/title_page.html' %}
    {% include 'fragments/contents.html' %}
    {% include 'fragments/item_1.html' %}
    {% include 'fragments/item_2.html' %}
    {% include 'fragments/item_3.html' %}
    {% include 'fragments/item_4.html' %}
    {% include 'fragments/item_5.html' %}
    {% include 'fragments/item_6.html' %}
    {% include 'fragments/item_7.html' %}
    {% include 'fragments/item_8.html' %}
    {% include 'fragments/item_9.html' %}
    {% include 'fragments/item_10.html' %}
    {% include 'fragments/item_11.html' %}
    {% include 'fragments/item_12.html' %}
    {% include 'fragments/item_13.html' %}
    {% include 'fragments/item_14.html' %}
    {% include 'fragments/item_15.html' %}
    {% include 'fragments/item_16.html' %}
</body>
</html>
